@using Appva.Mcss.Admin.Application.Common;
@model Appva.Mcss.Web.ViewModels.ArticleOverviewViewModel
<script>
        $(document).ready(function () {
            $('.select-style').change(function () {
                $('#article-update-button').attr('disabled', false);
            });
            $("#article-update-button").click(function (e) {
                e.preventDefault();
                $('.article-loading-status, .article-loading-status img').css({ 'display': 'inline-block' });
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("update", "articledashboard")',
                    data: $('form').serialize(),
                    success: function () {
                        $('#article-update-button').attr('disabled', true);
                        $('.article-loading-status img').delay(500).fadeOut('fast', function () {
                            $('.article-loading-status span').css({ 'display': 'inline-block' }).delay(1200).fadeOut(100);
                        });
                    }
                });
            });
        });
</script>
<div id="article-update">
    @using (Html.BeginForm())
    {
        <div class="heading cf">
            <h2>Påfyllning av artiklar</h2>
            @if(Html.HasPermissionFor(Permissions.OrderList.Update))
            {
                @Html.Button("Uppdatera alla", new { id = "article-update-button", disabled = "disabled", style = "float:right" })
                <span class="article-loading-status"><span>Sparad!</span><img src="@Url.Image("ajax-load.gif")" width="18" alt="Laddar" /></span>
            }
        </div>
        <div class="panel-c">
            @if (Model.OrderedArticles == null || Model.OrderedArticles.Count == 0)
            {
                <div class="no-data">
                    <h3>Inga påfyllningar begärda</h3>
                </div>
            }
            else
            {
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Boende</th>
                            <th scope="col">Artikel</th>
                            <th scope="col">Begärdes av</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.OrderedArticles.Count; i++)
                        {
                            <tr>
                                <td>
                                    @if (Html.HasPermissionFor(Permissions.OrderList.Read))
                                    {
                                        @Html.ActionLink(Model.OrderedArticles[i].Patient.FullName, "List", "Article", new { id = Model.OrderedArticles[i].Patient.Id, Area = "Patient" }, null)
                                    }
                                    else
                                    {
                                        @Model.OrderedArticles[i].Patient.FullName
                                    }
                                </td>
                                <td>@Model.OrderedArticles[i].Name</td>
                                <td>
                                    @Model.OrderedArticles[i].OrderedBy.FullName
                                    <p class="orderTime">@TimeSpanDifference.ToReadableFromToday(Model.OrderedArticles[i].OrderDate.GetValueOrDefault())</p>
                                </td>
                                @if (Html.HasPermissionFor(Permissions.OrderList.Update))
                                {
                                <td class="inliner">
                                    <div class="control-container control-container--select control-container--no-margin">
                                        @Html.DropDownListFor(x => x.OrderedArticles[i].SelectedOrderOptionKey, new SelectList(Model.OrderOptions, "Key", "Value", Model.OrderedArticles[i].SelectedOrderOptionKey), new { @class = "select-style" })
                                    </div>
                                    <div class="control-container control-container--no-margin">
                                        @Html.HiddenFor(x => x.OrderedArticles[i].Id)
                                    </div>
                                </td>
                                }
                                else
                                {
                                    <td>@Model.OrderedArticles[i].SelectedOrderOptionValue</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    }
</div>