@model Appva.Mcss.Admin.Models.CreateTenaObserverPeriodModel
@{
    SetTitle("Ny Mätperiod");
}
<!-- Vill inte ladda script på load -->




<div class="grid">
    <div data-size="s:24 l:12">
        <div class="section section--hspace">
            <h2>Skapa ny mätperiod - Tena Identifi</h2>
            <div id="add-measuring-period">
                @using (Html.BeginForm("create", "tena"))
                {
                    @Html.AntiForgeryToken()
                    <div class="width-limiter width-limiter--xs">
                        <div class="grid grid--align-center">
                            <div data-size="s:24 m:10">
                                <div class="form-controls date-picker">

                                    @Html.LabelFor(x => x.StartDate, "Från och med")
                                    @Html.TextBoxFor(x => x.StartDate, new
                                       {
                                           @class = "datepicker",
                                           data_datepicker_limit = "future",
                                           data_rule_datelimit = "future",
                                           autocomplete = "off",
                                           onfocus = "javascript: test();"
                                       })
                                </div>
                            </div>
                            <div>
                                <svg class="icon icon--e icon--separator icon--separator-offset">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="~/Assets/images/icons/icon.sprite.svg#arrow--fat-icon"></use>
                                </svg>
                            </div>
                            <div data-size="s:24 m:10">
                                <div class="form-controls date-picker">
                                    @Html.LabelFor(x => x.EndDate, "Till och med")
                                    @Html.TextBoxFor(x => x.EndDate, new
                                       {
                                           @class = "datepicker",
                                           data_datepicker_limit = "future",
                                           data_rule_datelimit = "future",
                                           data_rule_greaterthan = "#StartDate",
                                           data_rule_date = "true",
                                           autocomplete = "off",
                                           data_msg_greaterthan = "Slutdatum måste vara senare än startdatumet"
                                       })
                                </div>
                            </div>
                        </div>
                        <div class="form-controls form-controls--align-end form-controls--no-margin">
                            <button type="reset" class="button button--secondary" data-dialog-close="true">Avbryt</button>
                            <button type="submit" class="button button--primary">Spara</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


