@model Appva.Mcss.Web.ViewModels.DelegationDateSpanViewModel
@{
    ViewBag.Title = "Förnya samtliga delegeringar";
}

<div class="std-panel std-form lb-validate-form lb-panel-small" data-valclass="DelegationUpdate">
    @using (Html.BeginForm(new { id = Model.Id, taxonId = Model.TaxonId })) {
        <h3 class="section-title">Förnya samtliga delegeringar</h3>
        <div class="text medium">
            @Html.LabelFor(m => m.StartDate)
            @Html.EditorFor(m => m.StartDate)
            @Html.ValidationMessageFor(m => m.StartDate)
        </div>
        <div class="text medium">
			@Html.LabelFor(m => m.EndDate)
            @Html.EditorFor(m => m.EndDate)
            @Html.ValidationMessageFor(m => m.EndDate)
		</div>
	    <div class="submit">
            @Html.AntiForgeryToken()
            @Html.Submit("Förnya")
            @Html.Cancel("Avbryt")
	    </div>
    }
</div>