@model Appva.Mcss.Admin.Models.CreateObservationModel

<div class="section section--hspace">
    <h2>Lägg till observation</h2>
    <div id="add-observation">

        @using (Html.BeginForm("create", "observation", new { PatientId = Model.PatientId }, FormMethod.Post, new { @class = "validate", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="width-limiter width-limiter--s">
                <div class="form-controls">
                    @Html.LabelFor(x => x.Name, new { @class = "required-indicator" })
                    @Html.TextBoxFor(x => x.Name, new { @required = "required", aria_required = "true" })
                </div>

                <div class="form-controls form-controls--text">
                    @Html.LabelFor(x => x.Description)
                    @Html.TextAreaFor(x => x.Description, new { @cols = "30", @rows = "5" })
                </div>

                <div class="form-controls form-controls--select">
                    @Html.LabelFor(x => x.SelectScaleList)
                    @Html.DropDownListFor(x => x.SelectedScale, new SelectList(Model.SelectScaleList, "Value", "Text", Model.SelectedScale), "Välj skala ..")
                </div>

                <div class="form-controls form-controls--select">
                    @Html.LabelFor(x => x.SelectDelegationList)
                    @Html.DropDownListFor(x => x.SelectedDelegation, new SelectList(Model.SelectDelegationList, "Value", "Text", Model.SelectedDelegation), "Välj delegation ..")

                </div>

                <div class="form-controls form-controls--align-end form-controls--no-margin">
                    <button type="reset" class="button button--secondary" data-dialog-close="true">Avbryt</button>
                    @Html.Submit("Spara", new { @class = "button button--primary" })
                </div>
            </div>
        }

    </div>
</div>
