@using Appva.Core.Resources;
@using Appva.Mcss.Admin.Application.Common;
@model IList<Appva.Mcss.Admin.Domain.Entities.Role>
@{ 
    SetTitle("Roller"); 
}
<div id="subheader" class="cf">
	<h1>Roller och behörigheter</h1>
	@Html.ActionLink(Permissions.Role.Create, "Ny roll", "Create", "Roles", null, new { @class = "btn lb-link" })
</div>
@Html.Alert(new { @class = "success-msg" })
@if (Model != null && Model.Count > 0)
{
	<ul class="people">
		@foreach(var role in Model)
		{
			<li class="cf">
				@if (role.IsDeletable)
				{
					@Html.ActionLink(Permissions.Role.Delete, "Ta bort", "Delete", "Roles", new { Id = role.Id }, new { @class = "btn btn-del" })
				}
				@Html.ActionLink(Permissions.Role.Update, "Redigera",                    "Update", "Roles",            new { Id = role.Id }, new { @class = "btn lb-link" })
				@Html.ActionLink(Permissions.Role.Update, "Koppla till signeringslista", "Update", "RolesSchedules",   new { Id = role.Id }, new { @class = "btn lb-link" })
				@Html.ActionLink(Permissions.Role.Update, "Koppla till roller",          "Update", "RolesRoles",       new { Id = role.Id }, new { @class = "btn lb-link" })
                @Html.ActionLink(Permissions.Role.Update, "Koppla till delegeringar",    "Update", "RolesDelegations", new { Id = role.Id }, new { @class = "btn lb-link" })
                @Html.ActionLink(Permissions.Role.Update, "Behörighet mobil enhet", "Update", "RolesResourcePermissions", new { Id = role.Id }, new { @class = "btn lb-link" })
				<div class="h">
					<h2>@role.Name</h2>
					<span class="pnr">@role.Description</span>
				</div>
			</li>
		}
	</ul>
}