@using Appva.Mcss.Admin.Application.Common
@model Appva.Mcss.Admin.Models.ListUploadModel
@{
    SetTitle("Filer");
}
<div id="subheader" class="cf">
    <h1>Filer</h1>
    @Html.ActionLink(Permissions.FileUpload.Create, "Ladda upp", "Upload", "Upload", null, new { @class = "btn lb-link" })
    <p class="filter">
        <strong>Filtyp:</strong>
        @Html.ActionLink("Alla", "List")
        @Html.ActionLink("Bilder", "List")
        @Html.ActionLink("Dokument", "List")
    </p>
</div>

<div id="content" class="log cf">
    <div id="signlist">
        @if (Model.Files.Count > 0)
        {
            <table class="device-table">
                <thead>
                    <tr class="head">
                        <th scope="col">Namn</th>
                        <th scope="col">Beskrivning</th>
                        <th scope="col">Sökväg</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model.Files)
                    {
                        <tr>
                            <td>@file.Title</td>
                            <td>@file.Description</td>
                            <td>@file.Name</td>
                            <td><a href="">Ladda ner</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>Inga filer hittades.</h3>
        }
    </div>
</div>