@using Appva.Mcss.Admin.Areas.Models
@model AddArticleModel
@{ SetTitle("Lägg till en artikel"); }
<div class="section section--hspace">
    <h2>Lägg till artikel</h2>
    <div id="add-article">
        @using (Html.Post(new { @class = "validate" }))
        {
            <div class="width-limiter width-limiter--xs">
                <div class="control-container control-container--select">
                    @Html.LabelFor(x => x.SelectedCategory, "Kategori")
                    @Html.DropDownListFor(x => x.SelectedCategory, Model.Categories, new { @class = "select-style" })
                </div>
                <div class="control-container ">
                    @Html.LabelFor(x => x.Name, "Namn")
                    @Html.TextBoxFor(x => x.Name)
                </div>
                <div class="control-container control-container--text">
                    @Html.LabelFor(x => x.Description, "Beskrivning")
                    @Html.TextAreaFor(x => x.Description, new { cols = "30", rows = "5" })
                </div>
                <div class="control-container control-container--align-end">
                    @Html.HiddenFor(x => x.Id)
                    <button type="reset" class="button button--secondary" data-dialog-close="true">Avbryt</button>
                    @Html.Submit("Spara", new { @class = "button button--primary" })
                </div>
            </div>
        }
    </div>
</div>
