<div class="people-nav">
    <ul class="nav cf">
        <li>@Html.ActionLink("Delegering", "List", "Delegation")</li>
        <li>@Html.ActionLink("Listor", "List", "Schedule")</li>
        <li>@Html.ActionLink("Beställningslista", "List", "Article")</li>
        <li>@Html.ActionLink("Organisation", "List", "Organization")</li>
        <li>@Html.ActionLink("Kalender", "ListCategories", "Calendar")</li>
        <li>@Html.ActionLink("Förbrukningsjournal", "List", "Inventory")</li>
    </ul>
</div>
