@model Appva.Mcss.Admin.Application.Models.CalendarTask
@using Appva.Mcss.Admin.Application.Common
<div class="std-panel lb-panel-small calendar-details">
    <div class="date" style="background:@Model.Color;">
        <div class="day">@Model.StartTime.Day</div>
        <div class="month">@Model.StartTime.ToString("MMMM").FirstToUpper()</div>
    </div>
    <h3 style="border-color:@Model.Color">@Model.CategoryName</h3>
    <div class="time">
        @{
            var formatString = string.Empty;
            if (Model.StartTime.Date.Equals(Model.EndTime.Date))
            {
                if (Model.IsFullDayEvent)
                {
                    formatString = Localizer["Hela_dagen_{1:d MMM yyyy}"].ToString();
                }
                else
                {
                    formatString = Localizer["{1:d MMM yyyy}_{0:HH:mm}_till_{1:HH:mm}"].ToString();
                }
                
            }
            else
            {
                if (Model.IsFullDayEvent)
                {
                    formatString = Localizer["{0:d MMM yyyy}_till_{1:d MMM yyyy}"].ToString();
                }
                else
                {
                    formatString = Localizer["{0:d MMM yyyy HH:mm}_till_{1:d MMM yyyy HH:mm}"].ToString();
                }
                 
            }
        }
        @string.Format(formatString, Model.StartTime, Model.EndTime)
    </div>
    <div class="description">
        @Model.Description
    </div>
    <div class="info cf">
        @if (Model.Interval != 0)
        {
            <label class="">@Localizer["Upprepning_"]</label>
            <span>
                @Model.RepetionText
            </span>
        }
        
    </div>
    <div class="info cf">
        <h6>@Localizer["Kvittering"]</h6>
        @if (Model.NeedsQuittance)
        {
            <span class="act-activity">
                <label class="cal-label" for="@Model.EndTime">
                    @(Model.IsQuittanced ? string.Format(Localizer["Kvitterad_av_{0}"].ToString(), Model.QuittancedBy.FullName) : string.Format(Localizer["Ej_kvitterad"].ToString()))
                </label>
                <input type="checkbox" @(Model.IsQuittanced ? "checked" : "") value="@Model.IsQuittanced.ToString()" name="@Model.EndTime" id="@Model.SequenceId" class="cal-quittance" />
            </span>
        }
        else
        {
            <span>@Localizer["Händelsen_behöver_inte_kvitteras"]</span>
        }
    </div>
    <div class="info cf">
        <h6>@Localizer["Signering"]</h6>
        @if (Model.NeedsSignature)
        {
            if (Model.Signature != null)
            {
                <span class="act-activity">
                    <span class="status">
                        <img src="@Url.Image(Model.Signature.SignatureStatus.Path)" />
                        <p>@Model.Signature.SignatureStatus.Name</p>
                    </span>
                    <span>
                        <p class="name">@Model.Signature.SignedBy.FullName </p>
                        <p class="time">@(Model.Signature.SignatureDate.Date == DateTime.Now.Date ? string.Format(Localizer["Idag_{0:HH:mm}"].ToString(),Model.Signature.SignatureDate) : Model.Signature.SignatureDate.ToString("yyyy-MM-dd HH:mm"))</p>
                    </span>
                </span>
            }
            else
            {
                <span>@Localizer["Inte_signerad"]</span>
            }

        }
        else
        {
            <span>@Localizer["Händelsen_behöver_inte_signeras"]</span>
        }
    </div>
    <div>
        @Html.ActionLink(Permissions.Calendar.Update, Localizer["Ändra"].ToString(), "Edit", "Calendar", new { Id = Model.PatientId, SequenceId = Model.SequenceId, Date = Model.EndTime }, new { @class = "btn lb-link", @title = Localizer["Ändra_aktiviteten"].ToString() })
        @if (Model.TaskId.NotEqual(Guid.Empty))
        {
            @Html.ActionLink(Permissions.Calendar.Delete, Localizer["Ta_bort"].ToString(), "RemoveActivity", "Calendar", new { Id = Model.PatientId, TaskId = Model.TaskId }, new { @class = "btn btn-del", @title = Localizer["Ta_bort_aktiviteten"].ToString() })
        }
        else
        {
            @Html.ActionLink(Permissions.Calendar.Delete, Localizer["Ta_bort"].ToString(), "Remove", "Calendar", new { Id = Model.PatientId, SequenceId = Model.SequenceId, Date = Model.EndTime }, new { @class = "btn btn-del", @title = Localizer["Ta_bort_aktiviteten"].ToString() })
        }
    </div>
    
</div>

    
