@using Appva.Mcss.Admin.Application.Common;
@model Appva.Mcss.Web.ViewModels.ArticleOverviewViewModel
<script>
    $(document).ready(function () {
        $('.article-option').change(function () {
            var spinner = $(this).next('.article-loading-status');
            spinner.show();
            $.ajax({
                type: 'POST', url: '@Url.Action("overviewupdate", "article")', data: $('form').serialize(),
                success: function (result) {
                    $('.article-row').each(function () {
                        var row = $(this);
                        var option = row.find('.article-option');
                        row.removeClass("yellow");
                        row.removeClass("green");
                        if (option.val() == '@Appva.Mcss.Admin.Domain.Entities.ArticleStatus.NotStarted.ToString()') {
                            row.addClass("green");
                        }
                        if (option.val() == '@Appva.Mcss.Admin.Domain.Entities.ArticleStatus.OrderedFromSupplier.ToString()') {
                            row.addClass("yellow");
                        }
                    });
                },
                complete: function (result) {
                    spinner.hide();
                }
                
            });
           
    });
    $('#article-update-button').click(function (e) {
        e.preventDefault();
        var spinner = $(this).next('.article-loading-status');
        spinner.show();
        $.ajax({
            type: 'POST', url: '@Url.Action("overviewupdate", "article")', data: $('form').serialize(),
            success: function (result) {
                $('.article-row').each(function () {
                    var row = $(this);
                    var option = row.find('.article-option');
                    row.removeClass("yellow");
                    row.removeClass("green");
                    if (option.val() == '@Appva.Mcss.Admin.Domain.Entities.ArticleStatus.NotStarted.ToString()') {
                        row.addClass("green");
                    }
                    if (option.val() == '@Appva.Mcss.Admin.Domain.Entities.ArticleStatus.OrderedFromSupplier.ToString()') {
                        row.addClass("yellow");
                    }
                });
                spinner.delay(1000).fadeOut('fast', function () {
                    $('#article-update').html(result);
                });
            },
            complete: function (result) {
                
            }
        });
    });
    });
</script>
<div id="article-update">
    @using (Html.BeginForm())
    {
        <div class="heading cf">
            <h2>Påfyllning av artiklar</h2>
            @if(Html.HasPermissionFor(Permissions.OrderList.Update))
            {
                @Html.Button("Uppdatera alla", new { id = "article-update-button", @class="btn", style = "float:right" })
                <span class="article-loading-status"><img src="@Url.Image("ajax-load.gif")" width="18" alt="Laddar" /></span>
            }
        </div>
        <div class="panel-c">
            @if (Model.Articles == null || Model.Articles.Count == 0)
            {
                <div class="no-data">
                    <h3>Inga påfyllningar begärda</h3>
                </div>
            }
            else
            {
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Boende</th>
                            <th scope="col">Artikel</th>
                            <th scope="col">Begärdes av</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Articles.Count; i++)
                        {
                            <tr class="article-row @(Model.Articles[i].Status == Appva.Mcss.Admin.Domain.Entities.ArticleStatus.OrderedFromSupplier ? "yellow" : "" )">
                                <td>
                                    @if (Html.HasPermissionFor(Permissions.OrderList.Read))
                                    {
                                        @Html.ActionLink(Permissions.OrderList.Read, Model.Articles[i].Patient.FullName, "List", "Article", new { id = Model.Articles[i].Patient.Id, Area = "Patient" }, null)
                                    }
                                    else
                                    {
                                        @Model.Articles[i].Patient.FullName
                                    }
                                </td>
                                <td>@Model.Articles[i].Name</td>
                                <td>
                                    @Model.Articles[i].OrderedBy.FullName
                                    <p class="orderTime">@TimeSpanDifference.ToReadableFromToday(Model.Articles[i].OrderDate.GetValueOrDefault())</p>
                                </td>
                                @if (Html.HasPermissionFor(Permissions.OrderList.Update))
                                {
                                    <td class="inliner">
                                        <div class="control-container control-container--select control-container--no-margin">
                                            @Html.DropDownListFor(x => x.Articles[i].Status, new SelectList(Model.OrderOptions, "Key", "Value", Model.Articles[i].Status), new { @class = "article-option" })
                                            <span class="article-loading-status"><img src="@Url.Image("ajax-load.gif")" width="18" alt="Laddar" /></span>
                                        </div>
                                        <div class="control-container control-container--no-margin">
                                            @Html.HiddenFor(x => x.Articles[i].Id)
                                        </div>   
                                    </td>
                                }
                                else
                                {
                                    <td>@Model.OrderOptions[Model.Articles[i].Status.ToString()]</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    }
</div>