@model Dictionary<string, IList<string>>
@{
    SetTitle("Area 51 - Roller och behörigheter");
}
@Html.Partial("_Area51MenuPartial")
<div id="subheader" class="cf">
    <h1>Roller och behörigheter</h1>

    @Html.Partial("_aclButtons")
</div>
<div id="content" class="cf">
    <div id="content-primary">
        @Html.Alert()
        @if (Model != null)
        {
            foreach (var tenant in Model)
            {
                <p><b>@tenant.Key:</b> @string.Join(", ", tenant.Value)</p>
            }
        }
    </div>
</div>