@using Appva.Mcss.Admin.Application.Common﻿
@using Appva.Mcss.Admin.Configuration

@model Appva.Mcss.Web.ViewModels.ScheduleDetailsViewModel

@{
    ViewBag.Title = "Ordinationer";
    var intervalMap = new Dictionary<int, string>();
    intervalMap.Add(0, "Annan");
    intervalMap.Add(1, "Varje dag");
    intervalMap.Add(2, "Varannan dag");
    intervalMap.Add(3, "Var tredje dag");
    intervalMap.Add(4, "Var fjärde dag");
    intervalMap.Add(5, "Var femte dag");
    intervalMap.Add(6, "Var sjätte dag");
    intervalMap.Add(7, "Varje vecka");
    intervalMap.Add(14, "Varannan vecka");
    intervalMap.Add(21, "Var tredje vecka");
    intervalMap.Add(28, "Var fjärde vecka");
    intervalMap.Add(35, "Var femte vecka");
    intervalMap.Add(56, "Var åttonde vecka");
    intervalMap.Add(84, "Var tolfte vecka");
    List<int> times = new List<int>();
    foreach (var item in Model.ScheduleItems) 
    {
        if (! string.IsNullOrEmpty(item.Times)) 
        {
            foreach (string str in item.Times.Split(',')) 
            {
                int result = 0;
                if (int.TryParse(str, out result)) 
                {
                    if (! times.Contains(result)) 
                    {
                        times.Add(result);
                    }
                }
            }
        }  
    }
    if (times.Count == 0) 
    {
        times.AddRange(new List<int> { 9, 12, 15, 17, 18, 21 });
    }
    times.Sort();
}

@Html.Partial("~/Areas/Patient/Features/Patient/Partials/_PatientDetails.cshtml", Model.Patient)
@Html.Partial("~/Features/Shared/_SubMenuPartial.cshtml", Model.Patient)
<div id="subheader" class="cf">
	<h1>Signeringslistor</h1>
    @Html.ActionLink(Permissions.Sequence.Print, "Skapa pdf", "PrintPopUp", "Sequence", new { id = Model.Patient.Id, scheduleId = Model.Schedule.Id }, new { @class = "btn printp lb-link" })
    @Html.ActionLink(Permissions.Sequence.Create, "Lägg till", "Create", "Sequence", new { id = Model.Patient.Id, scheduleId = Model.Schedule.Id }, new { @class = "btn lb-link" })
    @if (Appva.Core.Environment.ApplicationEnvironment.Is.Development || Appva.Core.Environment.ApplicationEnvironment.Is.Staging)
    {
        @Html.ActionLink("Signeringskalender", "view", "testcalendar", new { id = Model.Patient.Id, scheduleId = Model.Schedule.Id }, new { @class = "btn lb-link" })
    }
</div>

<div id="content" class="cf">
	
    <div id="content-primary" class="signlist-collection">
		
        <div id="signlist">
			
            <div class="h cf">
				<h2>@Model.Schedule.ScheduleSettings.Name - Senast ändrad @String.Format("{0:yyyy-MM-dd}", Model.Schedule.UpdatedAt)</h2>
				@Html.ActionLink("Stäng listan", "List", "Schedule", new { id = Model.Patient.Id }, new { @class = "close" })
			</div>
			
            <ul class="nav cf">
                
				@Html.MenuLink("Insatser", "Details", "Schedule", false, new { id = Model.Patient.Id, scheduleId = Model.Schedule.Id })
                @if (Model.Schedule.ScheduleSettings.HasSetupDrugsPanel && Html.HasPermissionFor(Permissions.Prepare.Read))
                { 
                    @Html.MenuLink("Iordningsställande", "Schema", "Prepare", false, new { id = Model.Patient.Id, scheduleId = Model.Schedule.Id })
                }
			</ul>
			<table>
				<thead>
					<tr class="head">
						<th scope="col">Att ge</th>
						<th scope="col">Frekvens</th>
						<th scope="col">Ges inom</th>
						<th scope="col" colspan="@times.Count">Tider</th>
						<th scope="col" colspan="@((Model.Schedule.ScheduleSettings.HasInventory && Html.HasPermissionFor(Permissions.Inventory.Read)) ? 1 : 2)">Instruktion</th>
                        @if (Model.Schedule.ScheduleSettings.HasInventory && Html.HasPermissionFor(Permissions.Inventory.Read))
                        {
                            <th colspan="3" scope="col">Förbrukningsjournal</th>
                        }
					</tr>
					<tr>
						<td colspan="3"></td>
                        @foreach (var time in times)
                        {
                            <th scope="col">@time</th>
                        }
						<td colspan="@((Model.Schedule.ScheduleSettings.HasInventory && Html.HasPermissionFor(Permissions.Inventory.Read)) ? 4 : 2)"></td>
					</tr>
				</thead>
				<tbody>
                @foreach (var item in Model.ScheduleItems)
                {
                    var isPast = (item.EndDate.HasValue) ? item.EndDate.Value.Date < DateTime.Today : false;
                    var isFuture = (item.StartDate.Date > DateTime.Today) ? true : false;
                    <tr class="@( (isPast || isFuture) ? "inactive" : "active")">
                        <td>
                            @item.Name
                            <span class="date @(isFuture ? "future" : "") @(isPast ? "past" : "")">
                                @String.Format("{0:yyyy-MM-dd}", item.StartDate)
                                —
                                @((item.EndDate.HasValue) ? string.Format("{0:yyyy-MM-dd}", item.EndDate) : string.Empty)
                            </span>
                        </td>
                        <td class="freq">
                            @if (item.OnNeedBasis)
                            {
                                @:Vid behov
                            }
                            else
                            {
                                @intervalMap[item.Interval]
                            }
                        </td>
                        <td class="frame">
                            @if (item.OnNeedBasis)
                            {
                                <span style="text-align:center;">–</span>
                            }
                            else
                            {
                                <span>@item.RangeInMinutesBefore min innan</span>
                                <span>@item.RangeInMinutesAfter min efter</span>
                            }
                        </td>
                        @{
                            List<int> itemTimes = new List<int>();
                            if (!string.IsNullOrEmpty(item.Times))
                            {
                                foreach (var str in item.Times.Split(','))
                                {
                                    var result = 0;
                                    if (int.TryParse(str, out result))
                                    {
                                        itemTimes.Add(result);
                                    }
                                }
                            }
                        }
                        @if (item.OnNeedBasis)
                        {
                            <td class="time" colspan="@times.Count.ToString()">
                                –
                            </td>
                        }
                        else
                        {
                            foreach (var time in times)
                            {
                                <td class="time @( itemTimes.Contains(time) ? "y" : "")">
                                    @if (itemTimes.Contains(time))
                                    {
                                        <img src="@Url.Image("icn-check.png")" alt="ja" />
                                    }
                                </td>
                            }
                        }

                        <td class="info"><p>@item.Description</p></td>

                        @if (item.Inventory != null && Html.HasPermissionFor(Permissions.Inventory.Read))
                        {
                            <td @(item.Inventory.IsActive ? "" : "class=inactive-inventory")>
                                <span class="date">
                                    @Html.ActionLink(Permissions.Inventory.Read, item.Inventory.Description, "list", "Inventory", new { Id = Model.Patient.Id, InventoryId = item.Inventory.Id }, new { })
                                </span>
                                Saldo: @item.Inventory.CurrentLevel
                            </td>
                        }
                        @if (item.Inventory != null && Html.HasPermissionFor(Permissions.Inventory.Read))
                        {
                            if (item.Inventory.IsActive)
                            {
                                <td class="nedit">
                                    @Html.ActionLink(Permissions.Inventory.Create, "Tillför mängd", "Add", "Inventory", new { Id = Model.Patient.Id, InventoryId = item.Inventory.Id, ReturnUrl = HttpContext.Current.Request.Url.AbsoluteUri }, new { @class = "addamount lb-link" })
                                    @Html.ActionLink(Permissions.Inventory.Create, "Uttag", "Withdraw", "Inventory", new { Id = Model.Patient.Id, InventoryId = item.Inventory.Id, ReturnUrl = HttpContext.Current.Request.Url.AbsoluteUri }, new { @class = "addamount lb-link" })
                                    @if (Model.Schedule.ScheduleSettings.CountInventory)
                                    {
                                        @Html.ActionLink("Kontrollräkna", "Recount", "Inventory", new { Id = Model.Patient.Id, InventoryId = item.Inventory.Id, ReturnUrl = HttpContext.Current.Request.Url.AbsoluteUri }, new { @class = "addamount lb-link" })
                                    }
                                </td>
                            }
                            else
                            {
                                <td class="inactive-inventory">
                                    <h3>Observera</h3>
                                    <p>Insatsen är kopplad till ett borttaget saldo</p>
                                </td>
                            }

                        }
                        <td class="edit">
                            @Html.ActionLink(Permissions.Sequence.Update, "Ändra", "Update", "Sequence", new { Id = Model.Patient.Id, SequenceId = item.Id }, new { @class = "edit lb-link", @title = "Ändra raden" })
                            @Html.ActionLink(Permissions.Sequence.Inactivate, "Ta bort", "Inactivate", "Sequence", new { Id = Model.Patient.Id, SequenceId = item.Id }, new { @class = "delete", @title = "Ta bort raden" })
                        </td>
                    </tr>
                }
                </tbody>
			</table>
            <div id="add-sign" class="cf">
				@Html.ActionLink(Permissions.Sequence.Create, "Lägg till", "Create", "Sequence", new { Id = Model.Patient.Id, ScheduleId = Model.Schedule.Id }, new { @class = "btn lb-link" })
			</div>
		</div>
	</div>
</div>