@using Appva.Mcss.Admin.Application.Common
@model Appva.Mcss.Admin.Models.ListTenaModel

@{
    Layout = null;
}
<div class="section section--hspace">
    <div class="distributor distributor--justified">
        <div class="distributor__inline-children">
            <h2>TENA Identifi</h2>
            <div class="form-controls">
                <a class="button button--ml open-in-dialog" href="@Url.Action("create", "tena")#add-measuring-period" data-dialog-title="Ny mätperiod">
                    <svg class="icon icon--mr" aria-hidden="true">
                        <use xlink:href="/assets/images/icons/icon.sprite.svg#plus-icon"></use>
                    </svg>
                    Ny mätperiod
                </a>
                @Model.Message
            </div>
        </div>
        <!-- Admin panelen? -->
        <div class="form-controls">
            <a class="button open-in-dialog" href="/assets/tena-identifi/patient-tena-settings.html#tena-settings" data-dialog-title="Inställningar">Inställningar</a>
        </div>
    </div>
    <div>
        <div class="grid">
            <div data-size="xs:24 s:10 m:8 l:6 xl:6">
                <!-- Lista över mätperioder -->
                <div class="tabs tabs--vertical tabs--dynamic" role="navigation">
                    <h2 class="visually-hidden">Huvudnavigering</h2>
                    <ul>
                        @foreach (var item in Model.Patient.TenaObservationPeriods.OrderByDescending(x => x.CreatedAt))
                        {
                            <li class="tabs__item">
                                <a data-update-section-target="tena-measurements-list" href="@Url.Action("view", "tena", new { Periodid=item.Id })#tena-measurements-table" aria-label="Denna sida: @item.StartDate.ToShortDateString() &#8211; @item.EndDate.ToShortDateString()">@item.StartDate.ToShortDateString() &#8211; @item.EndDate.ToShortDateString()</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div id="tena-measurements-list" data-size="xs:24 s:14 m:16 l:18 xl:18">

                <!-- Mätvärden laddas in här -->

            </div>
        </div>
    </div>
</div>