@using Appva.Mcss.Admin.Application.Common
@model Appva.Mcss.Admin.Models.ListTenaModel

@{
    Layout = null;
}



<div class="section section--hspace">
    <div class="distributor distributor--justified">
        <div class="distributor__inline-children">
            <h2>TENA Identifi</h2>
            <div class="form-controls">
                <a class="button button--ml open-in-dialog" href="@Url.Action("create", "tena")#add-measuring-period" data-dialog-title="Ny mätperiod">
                    <svg class="icon icon--mr" aria-hidden="true">
                        <use xlink:href="/assets/images/icons/icon.sprite.svg#plus-icon"></use>
                    </svg>
                    Ny mätperiod
                </a>
            </div>
        </div>
        <!-- Admin panelen? -->
        <div class="form-controls">
            <a class="button open-in-dialog" href="/assets/tena-identifi/patient-tena-settings.html#tena-settings" data-dialog-title="Inställningar">Inställningar</a>
        </div>
    </div>
    <div>
        <div class="grid">
            <div data-size="xs:24 s:10 m:8 l:6 xl:6">

                <!-- Lista över mätperioder -->




                <div class="tabs tabs--vertical tabs--dynamic" role="navigation">
                    <h2 class="visually-hidden">Huvudnavigering</h2>
                    <ul>
                        @foreach (var item in Model.patient.TenaObservationPeriods)
                        {
                            <li class="tabs__item">
                                <a href="@Url.Action("list", "tena")" aria-label="Denna sida: @item.StartDate.ToShortDateString() &#8211; @item.EndDate.ToShortDateString()">@item.StartDate.ToShortDateString() &#8211; @item.EndDate.ToShortDateString()</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div data-size="xs:24 s:14 m:16 l:18 xl:18">
                <div class="distributor distributor--justified">
                    <h3>Mätperiod 2017-05-24 &#8211; 2017-05-25</h3>

                    <div class="form-controls form-controls--inline">
                        <a class="button button--primary open-in-dialog" href="/pages/tena-identifi/patient-tena-post-to-remote-response.html#remote-response" data-dialog-title="Uppladdning klar!"><svg class="icon icon--mr" aria-hidden="true"><use xlink:href="/project/images/icons/icon.sprite.svg#arrow-ne-icon"></use></svg>Ladda upp till TENA Identifi</a>


                    </div>
                </div>

                <table class="table-general table-general--descending" id="update-table">
                    <thead>
                        <tr>
                            <th scope="col">Datum</th>
                            <th scope="col">Värde</th>
                            <th scope="col">Registrerad av</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><time datetime="2016-01-01 10:59:00">2016-01-03, 10:59</time></td>
                            <td>Läckage</td>
                            <td>Geordi La Forge</td>
                        </tr>
                        <tr>
                            <td><time datetime="2016-01-01 13:30:00">2016-01-01, 13:30</time></td>
                            <td>Läckage</td>
                            <td>Geordi La Forge</td>
                        </tr>
                        <tr>
                            <td><time datetime="2015-12-22 10:59:00">2015-12-22, 10:59</time></td>
                            <td>Läckage</td>
                            <td>Geordi La Forge</td>
                        </tr>
                        <tr>
                            <td><time datetime="2015-12-22 10:59:00">2015-12-22, 10:59</time></td>
                            <td>Läckage</td>
                            <td>Geordi La Forge</td>
                        </tr>
                        <tr>
                            <td><time datetime="2015-12-21 10:59:00">2015-12-21, 10:59</time></td>
                            <td>Läckage</td>
                            <td>Geordi La Forge</td>
                        </tr>
                        <tr>
                            <td><time datetime="2015-12-01 10:59:00">2015-12-01, 10:59</time></td>
                            <td>Läckage</td>
                            <td>Geordi La Forge</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>