@model Appva.Mcss.Web.ViewModels.IssuedDelegationsViewModel
@{
    SetTitle(Localizer["Utställda_delegeringar__{0}", Model.Account.FullName].ToString()); 
}
@Html.Partial("~/Areas/Practitioner/Features/Accounts/_AccountDetails.cshtml", Model.Account)
@Html.Partial("~/Features/Shared/_SubMenuPartial.cshtml", Model.Account)
<div id="subheader" class="cf">
	<h1>@Localizer["Utställda_delegeringar"]</h1>
    <p class="filter">
        <strong>Visa:</strong>
        @Html.ActionLink(Localizer["Aktuella"].ToString(), "Issued", new { Id = Model.AccountId }, new { @class = !Model.History ? "sel div" : "div" })
        @Html.ActionLink(Localizer["Historik"].ToString(), "Issued", new { Id = Model.AccountId, History = true }, new { @class = Model.History ? "sel div" : "div" })
    </p>
</div>
<div id="content" class="delegate-view">
	<div id="content-primary">
		<div id="signed-events">
			<table>
				<thead>
					<tr class="head">
						<th scope="col">@Localizer["Datum"]</th>
						<th scope="col">@Localizer["Delegering"]</th>
						<th scope="col">@Localizer["Utfärdades_till"]</th>
						<th scope="col">@Localizer["Löper_ut"]</th>
					</tr>
				</thead>
                @if (Model.Delegations.IsNotNull()) { 
				<tbody>
                    @foreach (var delegation in Model.Delegations) { 
                        <tr @(delegation.EndDate.Subtract(DateTime.Now).Days < 1 ? "class=alarm" : "") >
                            <td>@String.Format("{0:yyyy-MM-dd}",delegation.UpdatedAt)</td>
                            <td>@delegation.Name</td>
                            <td>@Html.ActionLink(delegation.Account.FullName, "List", new { id=delegation.Account.Id})</td>
                            <td>@(delegation.Pending ? Localizer["Ej_aktiverad"].ToString() : Localizer["Om_{0}_dagar", delegation.EndDate.Subtract(DateTime.Now).Days].ToString())</td>
                        </tr>
                    }
				</tbody>
                }                
			</table>
		</div>
	</div>
</div>