@model Appva.Mcss.Admin.Models.ListObservationModel

<div class="distributor distributor--justified">
    <div class="inliner">
        <h3>@Model.Name</h3>
        <div class="form-controls">
            <a class="button button--right" href="https://appva-gui.azurewebsites.net/"><svg class="icon icon--mr" aria-hidden="true"><use xlink:href="/project/images/icons/icon.sprite.svg#pdf-icon"></use></svg>skapa PDF</a>
        </div>
    </div>
    <div>
        <div class="form-controls form-controls--inline">
            <a class="button open-in-dialog"
               href="@Url.Action("update", "observation", new { ObservationId = Model.ObservationId })#add-observation"
               data-dialog-title="Lägg till mätvärde">
                <svg class="icon icon--mr" aria-hidden="true">
                    <use xlink:href="/project/images/icons/icon.sprite.svg#pencil-icon"></use>
                </svg>Ändra
            </a>
        </div>
    </div>
</div>
<p>
    @Model.Instructions
</p>
@if (Model.Delegation.IsNotNull())
{
    <dl>
        <dt>Delegering</dt>
        <dd>@Model.Delegation.Name</dd>
    </dl>
}
<div class="grid grid--align-bottom">
    <div data-size="xs:24 s:24 m:24 l:18 xl:20">
        <form action="@Url.Action("list", "observation", new { ObservationId = Model.ObservationId })#update-table" class="validate" data-update-section-target="update-table" data-update-section-autopost="true" aria-controls="update-table" novalidate="novalidate">
            <div class="grid grid--align-bottom">
                <div data-size="xs:24 s:24 m:10 l:8 xl:6">
                    <div class="form-controls date-picker">
                        @Html.LabelFor(x => x.StartDate, "Från")
                        @Html.TextBoxFor(x => x.StartDate, new { @class = "datepicker hasDatepicker", data_datepicker_limit = "past", data_rule_date = "true" })
                        <img class="ui-datepicker-trigger" src="Provtagning%20_%20Webbplatsnamn_files/calendar.svg" alt="Välj datum" title="Välj datum">
                    </div>
                </div>
                <div data-size="xs:24 s:24 m:10 l:8 xl:6">
                    <div class="form-controls date-picker">
                        @Html.LabelFor(x => x.EndDate, "Till")
                        @Html.TextBoxFor(x => x.EndDate, new { @class = "datepicker hasDatepicker", data_datepicker_limit = "past", data_rule_greaterthan = "#StartDate", data_rule_date = "true", data_msg_greaterthan = "Slutdatum måste vara senare än startdatumet" })
                        <img class="ui-datepicker-trigger" src="Provtagning%20_%20Webbplatsnamn_files/calendar.svg" alt="Välj datum" title="Välj datum">
                    </div>
                </div>
                <div data-size="xs:24 s:24 m:4 l:2 xl:1">
                    <div class="form-controls js-hidden">
                        <button type="submit" class="button">Visa</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div data-size="xs:24 s:24 m:24 l:6 xl:4">
        <div class="form-controls form-controls--align-end">
            <a class="button open-in-dialog" href="@Url.Action("addvalue", "observation", new { ObservationId = Model.ObservationId })#add-observation-value" data-dialog-title="Lägg till mätvärde">
                <svg class="icon icon--mr"><use xlink:href="/project/images/icons/icon.sprite.svg#plus-icon"></use></svg>
                Mata in värde
            </a>
        </div>
    </div>

    <table class="table-general table-general--descending" id="update-table" role="region">
        <thead>
            <tr>
                <th scope="col">Datum</th>
                <th scope="col">Värde</th>
                <th scope="col">Signerad av</th>
                <th scope="col"><span class="visually-hidden">Åtgärder</span></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ObservationItemList.IsNotEmpty())
            {
                foreach (var item in Model.ObservationItemList)
                {
                    <tr>
                        <td><time datetime="@item.CreatedAt">@item.CreatedAt.ToShortDateString(), @item.CreatedAt.ToShortTimeString()</time></td>
                        <td>@item.Value</td>
                        <td>@item.Signature.Who.FullName</td>
                        <td> </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>