@model Appva.Mcss.Admin.Models.DeviceDetailsModel
@{
    SetTitle(Model.Device.Name + "");
    string message = "Ej tillgänglig";
}
<script>
    $(document).ready(function () {
        $('.alert-checkbox').change(function () {
            if (this.checked) {
                $('#alert-box').show();
            } else {
                $('#alert-box').hide();
                $('.alert-box-message').hide();
            }
        });
        $('.check-all').bind('click', function () {
            $('.checkbox-grid').find('input[type="checkbox"]').each(function (i, e) {
                $(e).prop('checked', true);
            });
        });
        $('.uncheck-all').bind('click', function () {
            $('.checkbox-grid').find('input[type="checkbox"]').each(function (i, e) {
                $(e).prop('checked', false);
            });
        });
        $('form').submit(function (e) {
            if ($('.checkbox-grid').find('input[type="checkbox"]:checked').length < 1 && $('.alert-checkbox').is(':checked')) {
                e.preventDefault();
                $('.alert-box-message').html('Inget larm kopplades till enheten.').show();
                return false;
            }
        });
    });
</script>
<div id="subheader" class="cf">
    <h1>Enhetsinformation</h1>
    @Html.ActionLink("Redigera", "Edit", "Devices", new { Id = Model.Device.Id }, new { @class = "btn lb-link" })
    <a href="#alert-config" class="btn">Larmkonfiguration</a>
</div>

<div id="content" class="log cf">
    <div id="signlist">
        <h3 class="section-title">@Model.Device.Name</h3>
        <table class="device-table device-details">
            <tbody>
                <tr>
                    <td>Beskrivning</td>
                    <td>@(string.IsNullOrEmpty(Model.Device.Description) ? message : Model.Device.Description)</td>
                </tr>
                <tr>
                    <td>Registrerad</td>
                    <td>@(Model.Device.CreatedAt == null ? message : Model.Device.CreatedAt.ToString())</td>
                </tr>
                <tr>
                    <td>Modifierad</td>
                    <td>@(Model.Device.Modified == null ? message : Model.Device.Modified.ToString())</td>
                </tr>
                <tr>
                    <td>Senast använd</td>
                    <td>@(Model.Device.LastUsedDate == null ? message : Model.Device.LastUsedDate.ToString())</td>
                </tr>
                <tr>
                    <td>Larmkonfiguration</td>
                    <td>@(Model.HasAlert == true ? "Aktiv" : "Inaktiv")</td>
                </tr>
                <tr>
                    <td>Aktiv</td>
                    <td>@(Model.Device.IsActive ? "Ja" : "Nej")</td>
                </tr>
                <tr>
                    <td>Autentiseringsmetod</td>
                    <td>@(Model.Device.AuthenticationMethod)</td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td>@(string.IsNullOrEmpty(Model.Device.OS) ? message : Model.Device.OS)</td>
                </tr>
                <tr>
                    <td>OS Version</td>
                    <td>@(string.IsNullOrEmpty(Model.Device.OSVersion) ? message : Model.Device.OSVersion)</td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td>@Model.Device.Version</td>
                </tr>
                <tr>
                    <td>Hårdvara</td>
                    <td>@(string.IsNullOrEmpty(Model.Device.Hardware) ? message : Model.Device.Hardware)</td>
                </tr>
                <tr>
                    <td>Last Pinged Date</td>
                    <td>@(Model.Device.LastPingedDate == null ? message : Model.Device.LastPingedDate.ToString())</td>
                </tr>
                <tr>
                    <td>App Bundle</td>
                    <td>@(string.IsNullOrEmpty(Model.Device.AppBundle) ? message : Model.Device.AppBundle)</td>
                </tr>
                <tr>
                    <td>App Version</td>
                    <td>@(string.IsNullOrEmpty(Model.Device.AppVersion) ? message : Model.Device.AppVersion)</td>
                </tr>
                <tr>
                    <td>Azure Push Id</td>
                    <td>@(string.IsNullOrEmpty(Model.Device.AzurePushId) ? message : Model.Device.AzurePushId)</td>
                </tr>
                <tr>
                    <td>Uuid</td>
                    <td>@(string.IsNullOrEmpty(Model.Device.Uuid) ? message : Model.Device.Uuid.ToString())</td>
                </tr>
                <tr>
                    <td>Push Uuid</td>
                    <td>@(string.IsNullOrEmpty(Model.Device.PushUuid) ? message : Model.Device.PushUuid.ToString())</td>
                </tr>
            </tbody>
        </table>
        <h3 id="alert-config" class="section-title">Larmkonfiguration</h3>
        @using (Html.Post(new { }, new { Id = Model.Device.Id }))
        {
            <p class="alert-box-message"></p>
            @Html.Submit("Spara", new { @class = "btn" })
            <table class="device-table">
                <tbody>
                    <tr>
                        <td>
                            @Html.CheckBoxFor(x => x.HasAlert, new { @class = "alert-checkbox" })
                            @Html.LabelFor(x => x.HasAlert, "Aktivera larm för den här enheten", new { @class = "checkbox-label" })
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="alert-box" @(Model.HasAlert ? Html.Raw("") : Html.Raw("style='display:none'"))>
                <table class="device-table device-details">
                    <tbody>
                        <tr>
                            <td>Välj en larmnivå</td>
                            <td>@Html.DropDownListFor(x => x.EscalationLevelId, new SelectList(Model.EscalationLevels, "Id", "Name"))</td>
                        </tr>
                    </tbody>
                </table>
                <table class="device-table device-details">
                    <tbody>
                        <tr>
                            <td>Lägg till avdelningar för vald nivå</td>
                            <td>@Html.FormGroup(x => x.DeviceLevelTaxons, "text").CheckboxList().Validate().Build()</td>
                        </tr>
                    </tbody>
                </table>
                <div class="checkbox-options"><a href="javascript:;" class="check-all">Markera alla</a> | <a href="javascript:;" class="uncheck-all">Avmarkera alla</a></div>
            </div>
        }
    </div>
</div>