@model Appva.Mcss.Admin.Models.DeviceViewModel
    SetTitle("Enhetsinformation");
}
@{ 
    string message = "Ej tillgänglig";
}
<div id="pr-panel" class="std-panel std-form lb-panel-small lb-validate-form">
    <div>
        <h3 class="section-title">Enhetsinformation</h3>
        <ul class="details-list">
            <li>
                <label>Name</label>
                <p>@Model.Name</p>
            </li>
            <li>
                <label>Id</label>
                <p>@Model.Id</p>
            </li>
            <li>
                <label>Beskrivning</label>
                <p>@(Model.Description == null ? message : Model.Description)</p>
            </li>
            <li>
                <label>Registrerad</label>
                <p>@Model.CreatedAt</p>
            </li>
            <li>
                <label>Last Pinged Date</label>
               <p>@(Model.LastPingedDate == null ? message : Model.LastPingedDate.ToString())</p>
            </li>
            <li>
                <label>Aktiv</label>
                <p>@Model.IsActive</p>
            </li>
            <li>
                <label>OS</label>
                <p>@(Model.OS == null ? message : Model.OS)</p>
            </li>
            <li>
                <label>OS Version</label>
                <p>@(Model.OSVersion == null ? message : Model.OSVersion)</p>
            </li>
            <li>
                <label>Version</label>
                <p>@Model.Version</p>
            </li>
            <li>
                <label>Hårdvara</label>
                <p>@(Model.Hardware == null ? message : Model.Hardware)</p>
            </li>
            <li>
                <label>App Bundle</label>
                <p>@(Model.AppBundle == null ? message : Model.AppBundle)</p>
            </li>
            <li>
                <label>App Version</label>
                <p>@(Model.AppVersion == null ? message : Model.AppVersion)</p>
            </li>
            <li>
                <label>Azure Push Id</label>
                <p>@(Model.AzurePushId == null ? message : Model.AzurePushId)</p>
            </li>
            <li>
                <label>Namn</label>
                <p>@(Model.Name == null ? message : Model.Name)</p>
            </li>
            <li>
                <label>Modifierad</label>
                <p>@(Model.Modified == null ? message : Model.Modified.ToString())</p>
            </li>
            <li>
                <label>Senast använd</label>
                <p>@(Model.LastUsedDate == null ? message : Model.LastUsedDate.ToString())</p>
            </li>
            <li>
                <label>Uuid</label>
                <p>@(Model.Uuid == null ? message : Model.Uuid)</p>
            </li>
            <li>
                <label>Push Uuid</label>
                <p>@(Model.PushUuid == null ? message : Model.PushUuid)</p>
            </li>
        </ul>
    </div>
</div>