@model Appva.Mcss.Admin.Models.DeviceDetailsModel
    SetTitle("Enhetsinformation");
}
@{ 
    string message = "Ej tillgänglig";
}
<div id="pr-panel" class="std-panel std-form lb-panel-small lb-validate-form">
    <div>
        <h3 class="section-title">Enhetsinformation</h3>
        <ul class="details-list">
            <li>
                <label>Namn</label>
                <p>@(string.IsNullOrEmpty(Model.Device.Name) ? message : Model.Device.Name)</p>
            </li>
            <li>
                <label>Beskrivning</label>
                <p>@(string.IsNullOrEmpty(Model.Device.Description) ? message : Model.Device.Description)</p>
            </li>
            <li>
                <label>Registrerad</label>
                <p>@(Model.Device.CreatedAt == null ? message : Model.Device.CreatedAt.ToString())</p>
            </li>
            <li>
                <label>Modifierad</label>
                <p>@(Model.Device.Modified == null ? message : Model.Device.Modified.ToString())</p>
            </li>
            <li>
                <label>Senast använd</label>
                <p>@(Model.Device.LastUsedDate == null ? message : Model.Device.LastUsedDate.ToString())</p>
            </li>
            <li>
                <label>Last Pinged Date</label>
               <p>@(Model.Device.LastPingedDate == null ? message : Model.Device.LastPingedDate.ToString())</p>
            </li>
            <li>
                <label>Aktiv</label>
                <p>@(Model.Device.IsActive ? "Ja" : "Nej")</p>
            </li>
            <li>
                <label>Autentiseringsmetod</label>
                <p>@(Model.Device.AuthenticationMethod)</p>
            </li>
            <li>
                <label>OS</label>
                <p>@(string.IsNullOrEmpty(Model.Device.OS) ? message : Model.Device.OS)</p>
            </li>
            <li>
                <label>OS Version</label>
                <p>@(string.IsNullOrEmpty(Model.Device.OSVersion) ? message : Model.Device.OSVersion)</p>
            </li>
            <li>
                <label>Version</label>
                <p>@Model.Device.Version</p>
            </li>
            <li>
                <label>Hårdvara</label>
                <p>@(string.IsNullOrEmpty(Model.Device.Hardware) ? message : Model.Device.Hardware)</p>
            </li>
            <li>
                <label>App Bundle</label>
                <p>@(string.IsNullOrEmpty(Model.Device.AppBundle) ? message : Model.Device.AppBundle)</p>
            </li>
            <li>
                <label>App Version</label>
                <p>@(string.IsNullOrEmpty(Model.Device.AppVersion) ? message : Model.Device.AppVersion)</p>
            </li>
            <li>
                <label>Azure Push Id</label>
                <p>@(string.IsNullOrEmpty(Model.Device.AzurePushId) ? message : Model.Device.AzurePushId)</p>
            </li>
            <li>
                <label>Uuid</label>
                <p>@(string.IsNullOrEmpty(Model.Device.Uuid) ? message : Model.Device.Uuid.ToString())</p>
            </li>
            <li>
                <label>Push Uuid</label>
                <p>@(string.IsNullOrEmpty(Model.Device.PushUuid) ? message : Model.Device.PushUuid.ToString())</p>
            </li>
        </ul>
    </div>
</div>