@model Appva.Mcss.Admin.Models.DeviceDetailsModel
    SetTitle("Enhetsinformation");
}
@{ 
    string message = "Ej tillgänglig";
}
<div id="pr-panel" class="std-panel std-form lb-panel-small lb-validate-form">
    <div>
        <h3 class="section-title">Enhetsinformation</h3>
        <ul class="details-list">
            <li>
                <label>Namn</label>
                <p>@(Model.Device.Name == null ? "NULL" : Model.Device.Name.ToString())</p>
            </li>
            <li>
                <label>Beskrivning</label>
                <p>@(Model.Device.Description == null ? "NULL" : Model.Device.Description.ToString())</p>
            </li>
            <li>
                <label>Registrerad</label>
                <p>@Model.Device.CreatedAt</p>
            </li>
            <li>
                <label>Modifierad</label>
                <p>@(Model.Device.Modified == null ? "NULL" : Model.Device.Modified.ToString())</p>
            </li>
            <li>
                <label>Senast använd</label>
                <p>@(Model.Device.LastUsedDate == null ? "NULL" : Model.Device.LastUsedDate.ToString())</p>
            </li>
            <li>
                <label>Last Pinged Date</label>
               <p>@(Model.Device.LastPingedDate == null ? "NULL" : Model.Device.LastPingedDate.ToString())</p>
            </li>
            <li>
                <label>Aktiv</label>
                <p>@Model.Device.IsActive</p>
            </li>
            <li>
                <label>OS</label>
                <p>@(Model.Device.OS == null ? "NULL" : Model.Device.OS.ToString())</p>
            </li>
            <li>
                <label>OS Version</label>
                <p>@(Model.Device.OSVersion == null ? "NULL" : Model.Device.OSVersion.ToString())</p>
            </li>
            <li>
                <label>Version</label>
                <p>@(Model.Device.Version == 0 ? "0" : Model.Device.Version.ToString())</p>
            </li>
            <li>
                <label>Hårdvara</label>
                <p>@(Model.Device.Hardware == null ? "NULL" : Model.Device.Hardware.ToString())</p>
            </li>
            <li>
                <label>App Bundle</label>
                <p>@(Model.Device.AppBundle == null ? "NULL" : Model.Device.AppBundle.ToString())</p>
            </li>
            <li>
                <label>App Version</label>
                <p>@(Model.Device.AppVersion == null ? "NULL" : Model.Device.AppVersion.ToString())</p>
            </li>
            <li>
                <label>Azure Push Id</label>
                <p>@(Model.Device.AzurePushId == null ? "NULL" : Model.Device.AzurePushId.ToString())</p>
            </li>
            <li>
                <label>Uuid</label>
                <p>@(Model.Device.Uuid == null ? "NULL" : Model.Device.Uuid.ToString())</p>
            </li>
            <li>
                <label>Push Uuid</label>
                <p>@(Model.Device.PushUuid == null ? "NULL" : Model.Device.PushUuid.ToString())</p>
            </li>
        </ul>
    </div>
</div>