@using System.Data;
@model PractitionerPreviewModel
@{
    SetTitle("Importera medarbetare");
}
<div id="subheader" class="cf">
    <h1>Importera medarbetare</h1>
</div>
<div id="content" class="log cf">
    <div id="fileimport">
        @if (Model.Data != null)
        {
            <div id="fileinfo">
                <h3>Filinformation</h3>
                <table class="device-table fileinfo">
                    <tr>
                        <td>Filnamn</td>
                        <td><b>@(Model.Name)</b></td>
                    </tr>
                    <tr>
                        <td>Titel</td>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <td>Beskrivning</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>Filstorlek</td>
                        <td>@Model.Size</td>
                    </tr>
                </table>
            </div>
            <h3>Förhandsgranskning</h3>
            <table class="device-table">
                <thead>
                    <tr class="head">
                        <th style="background:#777;text-align:center">@(Model.ValidateAtRow + 1)</th>
                        @if (Model.Data.Rows.Count > 0)
                        {
                            for (int i = 0; i < Model.Data.Columns.Count; i++)
                            {
                                <th>@Model.Data.Rows[0][Model.Data.Columns[i]]</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Rows.Count > 1)
                    {
                        int i = 0;
                        foreach (DataRow row in Model.Data.Rows)
                        {
                            if (i > 0)
                            {
                                <tr>
                                    <td>@(Model.ReadFromRow + i)</td>
                                    @foreach (DataColumn column in Model.Data.Columns)
                                    {
                                        <td>@row[column].ToString()</td>
                                    }
                                </tr>
                            }
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="emptyrow" @("colspan=" + (Model.Data.Columns.Count + 1))>Filen innehåller inga rader.</td>
                        </tr>
                    }
                </tbody>
            </table>
            if (Model.Data.Rows.Count - 1 > 0)
            {
                Model.IsImportable = true;
                <div style="margin-top:20px;float:right">
                    @using (Html.BeginForm())
                    {
                        @Html.HiddenFor(x => x.Id)
                        @Html.HiddenFor(x => x.IsImportable)
                        @Html.AntiForgeryToken()
                        @Html.Submit("Starta importguiden", new { @class = "btn-green" })
                    }
                </div>
            }
        }
        else
        {
            <h3>Det gick inte att öppna filen.</h3>
        }
    </div>
</div>