@model Appva.Mcss.Admin.Models.EditDeviceModel
    SetTitle("Redigera enhet");
}

<div id="pr-panel" class="std-panel std-form lb-panel-small lb-validate-form">
    @using (Html.Post(new { }, new { Id = Model.Id }))
    {
        <div>
            <h3 class="section-title">Redigera enhet</h3>
            @Html.FormGroup(x => x.Description, "text").Label("Beskrivning").TextBox().Validate().Build()
            @Html.LabelFor(x => x.TaxonId, "Organisationsnod")
            <p>Koppla enheten till en eller flera avdelningar.</p>
            @Html.DropDownListFor(x => x.TaxonId, Model.Organizations, "Ingen" )
            <label for="levelId">Larmkonfiguration</label>
            <p>Lägg till avdelningar för den valda eskaleringsnivån.</p>
            <select>
                <option value="1" selected>Defcon 1</option>
                <option value="2">Testnivå</option>
            </select>
        </div>
        <div>
            @Html.DropDownListFor(x => x.CurrentEscalationLevelId, new SelectList(Model.EscalationLevels, "Id", "Name"), "Ingen")
        </div>
        <div class="submit">
            @Html.Submit("Spara", new { @class = "btn" })
        </div>
    }
</div>