@model Appva.Mcss.Admin.Models.EditDeviceModel
    SetTitle("Redigera enhet");
}
<script>
    $(document).ready(function () {
        $('.alert-checkbox').change(function () {
            if (this.checked) {
                $('.alert-box').show();
            } else {
                $('.alert-box').hide();
            }
        });
        $('form').submit(function (e) {
            if ($('.checkbox-grid').find('input[type="checkbox"]:checked').length < 1) {
                e.preventDefault();
                $('.alert-box-message').html('Inget larm kopplades till enheten.').show();
                return false;
            }
        });
    });
</script>
<div id="pr-panel" class="std-panel std-form lb-panel-small lb-validate-form">
    @using (Html.Post(new { }, new { Id = Model.Id })) 
    {
        <div>
            <h3 class="section-title">Redigera enhet</h3>
            <div class="container">
                @Html.FormGroup(x => x.Description, "text").Label("Beskrivning").TextBox().Validate().Build()
                @Html.LabelFor(x => x.TaxonId, "Avdelningar")
                <p>Koppla enheten till en eller flera avdelningar.</p>
                @Html.DropDownListFor(x => x.TaxonId, Model.Organizations, "Ingen" )
                <label>Larmkonfiguration</label>
                @Html.CheckBoxFor(x => x.HasDeviceAlert, new { @class = "alert-checkbox" })
                @Html.LabelFor(x => x.HasDeviceAlert, "Aktivera larm för den här enheten", new { @class = "checkbox-label" })
                <div class="alert-box" @(Model.HasDeviceAlert ? Html.Raw("") : Html.Raw("style='display:none'"))>
                    <div class="checkbox-container">
                        <p class="alert-box-message"></p>
                        <p>Lägg till avdelningar för den valda nivån.</p>
                        @Html.DropDownListFor(x => x.EscalationLevelId, new SelectList(Model.EscalationLevels, "Id", "Name"))
                        @Html.FormGroup(x => x.DeviceLevelTaxons, "text").CheckboxList().Validate().Build()
                    </div>
                </div>
            </div>
        </div>
        <div class="submit">
            @Html.Submit("Spara", new { @class = "btn" })
            @Html.Cancel("Avbryt")
        </div>
    }
</div>