@model Appva.Mcss.Admin.Models.EditDeviceModel
    SetTitle("Redigera enhet");
}
<script>
    $(document).ready(function () {
        $('.alert-checkbox').change(function () {
            if (this.checked) {
                $('.alert-box').show();
            } else {
                $('.alert-box').hide();
                $('.alert-box-message').hide();
            }
        });
        $('.check-all').bind('click', function () {
            $('.checkbox-grid').find('input[type="checkbox"]').each(function (i, e) {
                $(e).prop('checked', true);
            });
        });
        $('.uncheck-all').bind('click', function () {
            $('.checkbox-grid').find('input[type="checkbox"]').each(function (i, e) {
                $(e).prop('checked', false);
            });
        });
        $('form').submit(function (e) {
            if ($('.checkbox-grid').find('input[type="checkbox"]:checked').length < 1 && $('.alert-checkbox').is(':checked')) {
                e.preventDefault();
                $('.alert-box-message').html('Inget larm kopplades till enheten.').show();
                return false;
            }
        });
    });
</script>
<div id="pr-panel" class="std-panel std-form lb-panel-small lb-validate-form">
    @using (Html.Post(new { }, new { Id = Model.Id })) 
    {
        <div>
            <h3 class="section-title">Redigera enhet</h3>
            <div class="container">
                @Html.FormGroup(x => x.Description, "text").Label("Beskrivning").TextBox().Validate().Build()
                @Html.LabelFor(x => x.AuthenticationMethod, "Autentiseringsmetod")
                @Html.DropDownListFor(x => x.AuthenticationMethod, new SelectList(new List<string> { "Pin", "Siths" }))
                @Html.LabelFor(x => x.TaxonId, "Avdelningar")
                <p>Koppla enheten till en avdelning.</p>
                @Html.DropDownListFor(x => x.TaxonId, Model.Organizations, "Ingen")
            </div>
        </div>
        <div class="submit">
            <p class="alert-box-message"></p>
            @Html.Submit("Spara", new { @class = "btn" })
            @Html.Cancel("Avbryt")
        </div>
    }
</div>