@model Appva.Mcss.Web.ViewModels.OrderOverviewViewModel
@using Appva.Mcss.Admin.Application.Common;
<div>
    <div class="heading cf"><h2>@Localizer["Påfyllning_av_läkemedel"]</h2></div>
    <div class="panel-c">
        @if (Model.Orders == null || Model.Orders.Count == 0)
        {
            <div class="no-data">
                <h3>@Localizer["Inga_påfyllningar_begärda"]</h3>
            </div>
        }
        else
        {
            <table>
                <thead>
                    <tr>
                        <th scope="col">@Localizer["Boende"]</th>
                        <th scope="col">@Localizer["Läkemedel"]</th>
                        <th scope="col">@Localizer["Begärdes_av"]</th>
                        <th scope="col">@Localizer["Beställd"]</th>
                        <th scope="col" class="check">@Localizer["Påfyllning_klar"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders) 
                    {
                        <tr>
                            <td>
                                @if (Html.HasPermissionFor(Permissions.Schedule.Read))
                                {
                                    @Html.ActionLink(order.Patient.FullName, "List", "Schedule", new { id = order.Patient.Id, Area = "Patient" }, null)
                                }
                                else if (Html.HasPermissionFor(Permissions.Schedule.EventList))
                                {
                                    @Html.ActionLink(order.Patient.FullName, "Sign", "Schedule", new { id = order.Patient.Id, Area = "Patient" }, null)
                                }
                                else if (Html.HasPermissionFor(Permissions.Alert.Read))
                                {
                                    @Html.ActionLink(order.Patient.FullName, "List", "Alerts", new { id = order.Patient.Id, Area = "Patient" }, null)
                                }
                                else if (Html.HasPermissionFor(Permissions.Schedule.Report))
                                {
                                    @Html.ActionLink(order.Patient.FullName, "ScheduleReport", "Schedule", new { id = order.Patient.Id, Area = "Patient" }, null)
                                }
                                else if (Html.HasPermissionFor(Permissions.Calendar.Read))
                                {
                                    @Html.ActionLink(order.Patient.FullName, "List", "Calendar", new { id = order.Patient.Id, Area = "Patient" }, null)
                                }
                                else if (Html.HasPermissionFor(Permissions.Inventory.Read))
                                {
                                    @Html.ActionLink(order.Patient.FullName, "List", "Inventory", new { id = order.Patient.Id, Area = "Patient" }, null)
                                }
                                else
                                {
                                    @order.Patient.FullName
                                }
                            </td>
                            <td>@order.Name</td>
                            <td>
                                @if (Html.HasPermissionFor(Permissions.Practitioner.Read))
                                {
                                    @Html.ActionLink(order.RefillInfo.RefillOrderedBy.FullName, "List", "Delegation", new { id = order.RefillInfo.RefillOrderedBy.Id }, new { }) 
                                } 
                                else
                                {
                                    @order.RefillInfo.RefillOrderedBy.FullName 
                                }
                                <p class="orderTime">@TimeSpanDifference.ToReadableFromToday(order.RefillInfo.RefillOrderedDate.GetValueOrDefault())</p>
                            </td>
                            <td class="check">
                                <p class="order-check">
                                    <input type="checkbox" name="pre-order" class="pre-order-checkbox" value="@order.Id.ToString()" @(order.RefillInfo.Ordered ? "checked" : "") />
                                </p>
                            </td>
                            <td class="check">
                                <p class="order-check">
                                    <input type="checkbox" name="order-checkbox" class="order-checkbox" value="@order.Id.ToString()" />
                                    @if (order.RefillInfo.Ordered) 
                                    {
                                        <span class="order-status ordered">@Localizer["Beställd"]</span>
                                    }
                                    else 
                                    {
                                        <span id="orderStatus"></span>
                                    }
                                </p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <script type="text/javascript">
        mcss.Order.init();
    </script>
</div>