@model Appva.Mcss.Admin.Areas.Backoffice.Models.ListSignatureModel
@{
    SetTitle("Admin - Signeringar");
}
@Html.Partial("_BackofficeMenuPartial")
<div id="subheader" class="cf">
    <h1>Signeringar</h1>
    @Html.ActionLink("Lägg till signering", "Create", "Signature", new { area = "Backoffice" }, new { @class = "lb-link btn" })
</div>

<div id="content" class="cf">
    <div id="content-primary">
        <div id="signlist">
            @if (Model.Items != null && Model.Items.Count > 0)
            {
                <table id="signed-events">
                    <tr class="head">
                        <th class="prtd">Bild</th>
                        <th>Beskrivning</th>
                        <th class="prtd2"></th>
                    </tr>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td class="prtd"><img class="signimg" src="@String.Format("/Assets/i/{0}", item.Path)" alt="@item.Name" title="@item.Name" /></td>
                            <td class="prpad">@item.Name</td>
                            <td class="prtd2">
                                @Html.ActionLink("Ändra", "Edit", "Signature", new { id = item.Id }, new { @class = "lb-link btn" })
                                @Html.ActionLink("Ta Bort", "Inactivate", "Signature", new { id = item.Id }, new { @class = "btn btn-del" })
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="note">
                    <h2>Det finns inga signeringsalternativ.</h2>
                </div>

            }
        </div>
    </div>
</div>