@model Appva.Mcss.Admin.Areas.Backoffice.Models.ListProfileModel
@{
    SetTitle("Backoffice - Profiluppgifter");
}
@Html.Partial("_BackofficeMenuPartial")
<div id="subheader" class="cf">
    <h1>Profiluppgifter</h1>
</div>
<div id="content" class="cf">
    <div id="content-primary">
        @if (Model.Assessments != null && Model.Assessments.Count > 0)
        {
            <div id="signlist">
                <table id="signed-events">
                    <thead class="head">
                        <tr>
                            <th class="prtd prpad">Symbol</th>
                            <th class="prpad">Titel</th>
                            <th class="prpad">Beskrivning</th>
                            <th class="prtd prpad">Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var assessment in Model.Assessments)
                        {
                            <tr>                      
                                <td class="prtd"><img class="primg" src="@string.Format("/Assets/i/{0}", assessment.Type)" alt="Symbol" title="@assessment.Name" /></td>
                                <td class="prpad"><b>@assessment.Name</b></td>
                                <td class="prpad">@assessment.Description</td>
                                <td class="prtd" style="background:@(assessment.Active ? "#F6FFFA" : "#FFECEC")"><b>@(assessment.Active ? "Aktiverad" : "Inaktiverad")</b></td>
                                <td class="prtd">@Html.ActionLink("Ändra", "Update", "Profile", new { id = assessment.Id }, new { @class = "lb-link btn" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="note">
                <h2>Inga profiluppgifter hittades.</h2>
            </div>
        }
    </div>
</div>