@model ChangePassword
@{ 
    Title("Byt lösenord"); 
}
<div id="login" class="std-panel">
    <div class="header cf">
        <h1>Byt lösenord</h1>
    </div>
    <div class="body std-form">
        @using (Html.Post())
        {
            if (TempData["Message"].IsNotNull())
            {
                <div class="success-msg">
                    <p>@TempData["Message"]</p>
                </div>
            }
            @Html.Alert(new { @class = "success-msg" })
            @Html.FormGroup(x => x.CurrentPassword, "text").Label().TextBox().Validate().Build()
            @Html.FormGroup(x => x.NewPassword, "text").Label().TextBox().Validate().Build()
            @Html.FormGroup(x => x.ConfirmPassword, "text").Label().TextBox().Validate().Build()
            @Html.Submit("Ändra")
        }
    </div>
</div>
<script type="text/javascript">
    $('.std-form form').validate({
        'rules': {
            'CurrentPassword': 'required',
            'NewPassword': {
                'required': true,
                'minLength': 8
            },
            'ConfirmPassword': {
                'required': true,
                'equalTo': "#NewPassword"
            }
        },
        'messages': {
            'CurrentPassword': {
                'required': "Nuvarande lösenord måste fyllas i."
            },
            'NewPassword': {
                'required': "Nytt lösenord måste fyllas i.",
                'minLength': "Nytt lösenord måste vara minst 8 tecken långt"
            },
            'ConfirmPassword': {
                'required': "Upprepa lösenord måste fyllas i.",
                'equalTo': "Lösenord måste stämma överens."
            }
        },
        'submitHandler': function (form) {
            $(form).find('input[type=submit]').attr('disabled', 'disabled');
            form.submit();
        }
    });
</script>