@using Appva.Mcss.Admin.Application.Common;
@model HomeViewModel
@{ SetTitle("Översikt"); }
<div class="status-view">
    <div id="content" class="cf">
        <div id="status-filter" class="cf">
            @Html.ActionLink(Permissions.Report.Read, "Fullständig rapport ...", "FullReport", "Report", new { Area = "Report" }, new { @class = "btn" })
        </div>
        @if (TempData["Message"] != null) {
            <div class="success-msg" style="margin: 0 20px 20px;">
                <p>@(TempData["Message"] as string)</p>
            </div>
        }
        <div id="content-primary">
            @if (Html.HasPermissionFor(Permissions.Dashboard.ReadDelayedTasks))
            { 
                Html.RenderAction("Load", "Dashboard", new { action = "Overview", controller = "Alerts", widgetArea = "Patient", header = "Pågående insatser" }); 
            }
            @if (Html.HasPermissionFor(Permissions.Dashboard.ReadControlCountNarcotics))
            { 
                Html.RenderAction("Load", "Dashboard", new { action = "Overview", controller = "Inventory", widgetArea = "Patient", header = "Kontrollräkning narkotika" }); 
            }
            @if (Html.HasPermissionFor(Permissions.Dashboard.ReadChart))
            {
            <div class="panel">
                <div class="heading cf">
                    @Html.ActionLink(Permissions.Report.Read, "Fullständig rapport ...", "FullReport", "Report", new { Area = "Report" }, new { })
                    <h2>Totalt resultat senaste veckan</h2>
                </div>
                <div id="report" class="cf">
                    <div id="chart" class="chart" style="height: 200px;"></div>
                    <div class="data cf">
                        <dl>
                            <dt>I tid</dt>
                            <dd id="onTime">
                                <img src="@Url.Image("ajax-load.gif")" alt="Laddar" />
                            </dd>
                            <dt>Ej i tid</dt>
                            <dd id="notOnTime">
                                <img src="@Url.Image("ajax-load.gif")" alt="Laddar" />
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            }
        </div>
        <div id="content-secondary">
            @if (Model.HasOrderOverview && Html.HasPermissionFor(Permissions.Dashboard.ReadOrderRefill))
            {
                Html.RenderAction("Load", "Dashboard", new { action = "Overview", controller = "Order", widgetArea = "Patient", header = "Påfyllning av läkemedel" });
            }
            @if (Model.HasCalendarOverview && Html.HasPermissionFor(Permissions.Dashboard.ReadCalendar))
            {
                Html.RenderAction("Load", "Dashboard", new { action = "Overview", controller = "Calendar", widgetArea = "Patient", header = "Kalender de närmaste 7 dagarna" });
            }
            @if (Html.HasPermissionFor(Permissions.Dashboard.ReadDelegation))
            { 
                Html.RenderAction("Load", "Dashboard", new { action = "Overview", controller = "Delegation", widgetArea = "Practitioner", header = "Utlöpande delegeringar" }); 
            }
                
        </div>
    </div>

    @{ Html.RenderAction("Dashboard", "Notification", new { area = "notification" }); }
    @*{ Html.RenderPartial("/Areas/Notification/Features/Notification/Partials/Templates/inventory-news.cshtml"); }*@

</div>
@if (Html.HasPermissionFor(Permissions.Dashboard.ReadChart))
{
<script type="text/javascript">
    mcss.chart.Load({
        'selector': '#chart',
        'url': '@Url.Action("GetChartData", "Statistics", new { Area = string.Empty })',
        'min': new Date(@Model.SevenDayStartDate.Year, @(Model.SevenDayStartDate.Month - 1), @Model.SevenDayStartDate.Day),
        'max': new Date(@Model.SevenDayEndDate.Year, @(Model.SevenDayEndDate.Month - 1), @Model.SevenDayEndDate.Day),
        'parameters': {
            'start': '@Model.SevenDayStartDate.ToShortDateString()',
            'end': '@Model.SevenDayEndDate.ToShortDateString()'
        }
    });
    $.getJSON('@Url.Action("GetStatisicsData", "Statistics", new { Area = string.Empty })', { start : '@Model.SevenDayStartDate.ToShortDateString()', end : '@Model.SevenDayEndDate.ToShortDateString()'})
            .success(function (data) {
                $('#notOnTime').html(data.NotOnTimePercentage + "%");
                $('#onTime').html(data.OnTimePercentage + "%");
                if (data.OnTimePercentage > 0) {
                    $('#onTime').append('<img src="@Url.Image("trendup.png")" alt="Uppåtgående" />');
                }
                else {
                    $('#onTime').append('<img src="@Url.Image("trenddn.png")" alt="Nedåtgående" />');
                }
            })
    .error(function () {
        $("#report").addClass('error');
        $("#report").empty();
        $("#report").append('<div class="loader">Ett fel inträffade!</div>')
    });
</script>
}