@model Appva.Mcss.Admin.Models.CreateInventoryModel
@{
    SetTitle("Nytt saldo");
}
<div class="std-panel std-form lb-panel-small lb-validate-form" data-valclass="InventoryUpdate">
    @using (Html.BeginForm(new { Id = Model.Id}))
    {
        <h3 class="section-title">Ändra</h3>
        @Html.FormGroup(m => m.Name, "text medium").Label("Namn", new { @class = "col" }).TextBox().Validate().Build()
        @Html.FormGroup(m => m.Unit, "text small").Label("Enhet", new { @class = "col" }).TextBox().Validate().Build()

        <div class="row cf">
            <div class="select col">
                @Html.LabelFor(m => m.Amounts)
                @Html.DropDownListFor(m => m.Amounts, Model.AmountsList, "Välj uttags-alternativ..." , new { })
            </div>
        </div>
        <div class="input">
            @Html.AntiForgeryToken()
            @Html.Submit("Spara")
            @Html.Cancel("Avbryt")
        </div>
    }
</div>
