@using Appva.Mcss.Admin.Application.Models
@using Appva.Mcss.Domain.Unit
@model Appva.Mcss.Admin.Models.AddObservationValueModel

<div class="section section--hspace">
    <h2>Provtagning</h2>
    <div id="add-observation-value">
        @using (Html.BeginForm("addvalue", "observation", new { ObservationId = Model.ObservationId }, FormMethod.Post, new { @class = "validate", data_update_section_target = "update-table", novalidate = "novalidate" }))
            {
            <div class="width-limiter width-limiter--s">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <h3>@Model.Name</h3>
                <p>Använder skala: @Model.LongScale</p>
                <p>@Model.Instruction</p>

                <div class="form-controls">
                    @if (Model.Scale == "WeightObservation")
                    {
                        @Html.FormGroup(x => x.Value).Label(string.Format("{0}", Model.Unit), new { @class = "required-indicator"}).TextBox("###", new { min = "5", max = "450", size = "3", required = "required", type = "number" }).Validate().Build()
                    }
                    else if (Model.Scale == "FecesObservation")
                    {
                        @Html.FormGroup(x => x.Value).Label(string.Format("{0}", Model.Unit), new { @class = "required-indicator" }).Build()
                        @Html.DropDownListFor(x => x.Value, EnumHelper.GetSelectList(typeof(FecesScale)), new { required = "reguired" })
                    }
                    else if (Model.Scale == "BristolObservation")
                    {
                        @Html.FormGroup(x => x.Value).Label(string.Format("{0}", Model.Unit), new { @class = "required-indicator" }).Build()
                        @Html.DropDownListFor(x => x.Value, EnumHelper.GetSelectList(typeof(BristolScale)), new { required = "required" })
                    }
                    @Html.ValidationMessageFor(x => x.Value)
                </div>
                <div class="form-controls form-controls--align-end">
                    <button type="reset" class="button button--secondary" data-dialog-close="true">Avbryt</button>
                    <button type="submit" class="button button--primary">Spara och signera</button>
                </div>
            </div>
        }
    </div>
</div>