@model Appva.Mcss.Admin.Areas.Practitioner.Models.PrintDelegationModel
@{
    SetTitle("Delegeringsbeslut");
    Layout = "~/Areas/Patient/Features/Shared/_PrintLayout.cshtml";

    var issuerTitle = Model.DelegationIssuer.Title != null ? Model.DelegationIssuer.Title : string.Empty;
}
<div id="header" class="cf">
    @if (issuerTitle.Contains("Sjuksköterska"))
    {
	<h1>Delegeringsbeslut av sjuksköterskan gällande hälso- och sjukvårdsuppgifter</h1>
    }
    else if (issuerTitle.Contains("Fysioterapeut"))
    {
        <h1>Delegeringsbeslut av fysioterapeut gällande hälso- och sjukvårdsuppgifter</h1>
    }
    else if (issuerTitle.Contains("Arbetsterapeut"))
    {
        <h1>Delegeringsbeslut av arbetsterapeut gällande hälso- och sjukvårdsuppgifter</h1>
    }
    else if (issuerTitle.Contains("Sjukgymnast"))
    {
        <h1>Delegeringsbeslut av sjukgymnast gällande hälso- och sjukvårdsuppgifter</h1>
    }
    else if (issuerTitle.Contains("Dietist"))
    {
        <h1>Delegeringsbeslut av dietist gällande hälso- och sjukvårdsuppgifter</h1>
    }
    else
    {
        <h1>Delegeringsbeslut gällande hälso- och sjukvårdsuppgifter</h1>
    }
	<p>(Sparas i 10 år)</p>
</div>

<div id="signprint">
	<table>
		<tbody>
			<tr>
				<td>Namn<h2>@Model.DelegationRecipient.FullName</h2></td>
				<td>Personnummer<h2>@Model.DelegationRecipient.PersonalIdentityNumber</h2></td>
				<td>Titel<h2>@Model.DelegationRecipient.Title</h2></td>
			</tr>
		</tbody>
	</table>
	<h2>Delegerade hälso- och sjukvårdsuppgifter:</h2>
    <table>
		<thead>
			<tr>
				<th colspan="3">Delegerade hälso- och sjukvårdsuppgifter:</th>
			</tr>
			<tr class="head">
				<th scope="col">Delegering</th>
				<th scope="col" class="pats">Gäller för</th>
				<th scope="col">Gäller (max 1 år)</th>
			</tr>
		</thead>
		<tbody>
            @foreach (var delegation in Model.Delegations)
            {
                <tr>
                    <td>@delegation.Name</td>
                    <td class="pats">
                        @if (delegation.Patients.Count > 0)
                        {
                            <ul>
                                @foreach (var patient in delegation.Patients)
                                {
                                    <li>@patient.Value</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>
                                Alla boende på:<br />
                                <b>@delegation.Address</b>
                            </p>
                        }
                    </td>
                    <td>@String.Format("{0:yyyy-MM-dd}", delegation.StartDate) till @String.Format("{0:yyyy-MM-dd}", delegation.EndDate)</td>
                </tr>
            }
		</tbody>
	</table>
    @if (Model.KnowledgeTests.Count > 0)
    {
	    <div class="intro">
		    <p>Undertecknad delegerar, i enlighet med Patientsäkerhetslagen och författningsbestämmelserna i SOSFS 1997:14 - Socialstyrelsens föreskrifter och allmänna råd; Delegering av arbetsuppgifter inom hälso- och sjukvård och tandvård. Den som mottager delegationen har läst och förstått MAS-riktlinjen, delegering av hälso- och sjukvårdsuppgifter. Har genomgått följande kunskapstester:</p>
		    <table>
			    <thead>
				    <tr>
					    <th scope="col">Kunskapstest</th>
					    <th scope="col">Genomfördes</th>
				    </tr>
			    </thead>
			    <tbody>
                    @foreach (var test in Model.KnowledgeTests)
                    {
				    <tr>
					    <td>@test.Name</td>
					    <td>@String.Format("{0:yyyy-MM-dd}", test.CompletedDate)</td>
				    </tr>
                    }
			    </tbody>
		    </table>
	    </div>
    }
	<div class="signature cf">
		<div class="col">
            @if (issuerTitle.Contains("Sjuksköterska"))
            {
			<strong>Namnunderskrift delegerande sjuksköterska;</strong>
            }
            else if (issuerTitle.Contains("Fysioterapeut"))
            {
                <strong>Namnunderskrift delegerande fysioterapeut;</strong>
            }
            else if (issuerTitle.Contains("Arbetsterapeut"))
            {
                <strong>Namnunderskrift delegerande arbetsterapeut;</strong>
            }
            else if (issuerTitle.Contains("Sjukgymnast"))
            {
                <strong>Namnunderskrift delegerande sjukgymnast;</strong>
            }
            else if (issuerTitle.Contains("Dietist"))
            {
                <strong>Namnunderskrift delegerande dietist;</strong>
            }
            else
            {
                <strong>Namnunderskrift av den som utfärdar delegeringen;</strong>
            }
			<p>Datum</p>
			<p>Underskrift</p>
			<p id="nameTitle">@Model.DelegationIssuer.FullName</p>
		</div>
		<div class="col">
			<strong>Namnunderskrift av den som tar emot delegeringen;</strong>
			<p>Datum</p>
			<p>Underskrift</p>
		</div>
        <p><br /><br /><strong>@Model.SendToText</strong></p>
	</div>
</div>