@using Appva.Core.Utilities;
@model Appva.Mcss.Web.ViewModels.PrepareSchemaViewModel
@{
    SetTitle(Localizer["Iordningsställande"].ToString());
}
@Html.Partial("~/Areas/Patient/Features/Patient/Partials/_PatientDetails.cshtml", Model.Patient)
@Html.Partial("~/Features/Shared/_SubMenuPartial.cshtml", Model.Patient)
<div id="subheader" class="cf">
	<h1>@Localizer["Signeringslistor"]</h1>
    @Html.ActionLink(Localizer["Skapa_pdf"].ToString(), "PrintPopUp", "Prepare", new { id = Model.Patient.Id, scheduleId = Model.Schedule.Id, Date = Model.StartDate }, new { @class = "btn printp lb-link" })
    @Html.ActionLink(Localizer["Lägg_till"].ToString(), "Create", "Sequence", new { id = Model.Patient.Id, scheduleId = Model.Schedule.Id }, new { @class = "btn lb-link" })
</div>
<div id="content" class="cf">
	<div id="content-primary" class="signlist-collection">
        <div id="signlist">
            <div class="h cf">
				<h2>@Localizer["{0}__Senast_ändrad_{1:yyyy-MM-dd}", Model.Schedule.ScheduleSettings.Name, Model.Schedule.UpdatedAt]</h2>
				@Html.ActionLink(Localizer["Stäng_listan"].ToString(), "List", "Schedule", new { id = Model.Patient.Id }, new { @class = "close" })
			</div>
			
            <ul class="nav cf">
				@Html.MenuLink(Localizer["Ordinationer"].ToString(), "Details", "Schedule", true, new { id = Model.Patient.Id, scheduleId = Model.Schedule.Id })
                @Html.MenuLink(Localizer["Iordningsställande"].ToString(), "Schema", "Prepare", true, new { id = Model.Patient.Id, scheduleId = Model.Schedule.Id })
			</ul>
            <div id="prepare-weeks">
			    <div class="week-h">
				    <h2>
                        @Localizer["Vecka_{0}", Model.Week] 
                        <span>
                            @Model.StartDate.Day.ToString() @(Model.StartDate.Month != Model.StartDate.AddDays(7).Month ? @Model.StartDate.ToString("MMMM") : "")
                            –@Model.StartDate.AddDays(6).Day.ToString() @Model.StartDate.AddDays(7).ToString("MMMM")</span></h2>
				    @Html.ActionLink(
                            String.Format(Localizer["{0}_Vecka_{1}"].ToString(), WebUtility.HtmlDecode("&larr;"), Model.StartDate.AddDays(-7).GetWeekNumber()), 
                            "Schema",
                            "Prepare",
                            new { id = Model.Patient.Id, startDate = Model.StartDate.AddDays(-7), scheduleId = Model.Schedule.Id }, 
                            new { @class="prev" }
                    )
                    @Html.ActionLink(
                            String.Format(Localizer["Vecka_{0}_{1}"].ToString(),  Model.StartDate.AddDays(8).GetWeekNumber(), WebUtility.HtmlDecode("&rarr;")), 
                            "Schema",
                            "Prepare",
                            new { id = Model.Patient.Id, startDate = Model.StartDate.AddDays(7), scheduleId = Model.Schedule.Id }, 
                            new { @class="next" }
                    )
			    </div>
			    <div class="week-c">
				    <table>
					    <thead>
						    <tr>
							    <th scope="col" class="med">@Localizer["Läkemedel"]</th>
                                @for (var day = Model.StartDate; Model.StartDate.AddDays(7) > day; day = day.AddDays(1)) {
                                    var dayOfWeek = String.Format("{0:dddd}", day); 
                                    <th scope="col">@dayOfWeek.FirstToUpper() <span>@String.Format("{0:d MMMM}",day)</span></th>
                                }
                                @if (!Model.ArchivedWeek) { 
                                    <th scope="col"></th>
                                }
						    </tr>
					    </thead>
					    <tbody>
                            @foreach (var sequence in Model.Sequences)
                            { 
                                <tr>
							        <th scope="row"><span>@sequence.Name</span></th>
                                    @for (var date = Model.StartDate; Model.StartDate.AddDays(7) > date; date = date.AddDays(1))
                                    {
                                        var hasTask = false;
                                        var name = "-";
                                        if (Model.Tasks.Any(x => x.Date.Date == date.Date && x.PreparedSequence.Id == sequence.Id))
                                        {
                                            var task = Model.Tasks.Where(x => x.Date.Date == date.Date && x.PreparedSequence.Id == sequence.Id).First();
                                            name = task.PreparedBy.FullName;
                                            hasTask = true;
                                        }
                                        <td @(hasTask ? "class=sel" : "")>
                                            @if (Model.ArchivedWeek) { 
                                                <span class="mark">@Localizer[(hasTask ? "Avmarkera" : "Markera")]</span>
                                            } else { 
                                                @Html.ActionLink(
                                                    Localizer[hasTask ? "Avmarkera" : "Markera"].ToString(),
                                                    "Mark",
                                                    "Prepare",
                                                    new { Id = Model.Patient.Id, PreparedSequenceId = sequence.Id, Date = date, unMark = hasTask },
                                                    new { @class = "mark" }
                                                )
                                            }    
                                            <span class="name">@name</span>
                                        </td>
                                    }
                                    @if (!Model.ArchivedWeek)
                                    { 
                                        <td class="edit">
                                            @Html.ActionLink(
                                                Localizer["Ändra"].ToString(),
                                                "Update", 
                                                "Prepare", 
                                                new { Id = Model.Patient.Id, PreparedSequenceId = sequence.Id }, 
                                                new { @class = "edit lb-link", @title = Localizer["Ändra_raden"].ToString() })
                                            @Html.ActionLink(
                                                Localizer["Ta bort"].ToString(),
                                                "Delete",
                                                "Prepare",
                                                new { Id = Model.Patient.Id, StartDate = Model.StartDate, ScheduleId = Model.Schedule.Id, PreparedSequenceId = sequence.Id },
                                                new { title = Localizer["Ta_bort_läkemedlet"].ToString(), @class = "delete" }
                                            )
							            </td>
                                    }
						        </tr>
                            }
					    </tbody>
				    </table>
			    </div>
			    <div class="week-a">
                    @Html.ActionLink(Localizer["Lägg_till"].ToString(), "Create", "Prepare", new { id = Model.Patient.Id, scheduleId = Model.Schedule.Id }, new { @class = "btn lb-link" })
				    @Localizer["en_rad__Markera_sedan_de_dagar_som_iordningsställts"]
			    </div>
            </div>

        </div>
    </div>
</div>