@using Appva.Mcss.Admin.Areas.Roles.Roles.Update;
@model UpdateRole
@{ 
    SetTitle("Redigera roll"); 
}
<div class="std-panel std-form lb-panel-big lb-validate-form">
    @using (Html.Post())
    {
        <div class="form-tab form-tab-1">
            <h3 class="section-title">Redigera roll</h3>
            @Html.ValidationAlert("Ett fel inträffade", "Var vänlig korrigera markerade fält i formuläret och försök igen")
            @Html.FormGroup(x => x.Name, "text large").Label("Namn").TextBox("Rollnamn").Validate().Build()
            @Html.FormGroup(x => x.Description, "text large").Label("Beskrivning").TextArea("Beskrivning av roll").Validate().Build()
            @Html.FormGroup(x => x.Permissions, "text").Label("Behörigheter").CheckboxList().Validate().Build()
        </div>
        <div class="submit">
            @Html.Submit("Spara")
        </div>
    }
</div>