@model Appva.Mcss.Admin.Areas.Practitioner.Models.DelegationOverviewModel
@using Appva.Mcss.Admin.Application.Common;
<div>
	<div class="heading cf"><h2>Utlöpande delegeringar</h2>
        @Html.ActionLink(Permissions.Delegation.Read, "Alla delegeringar ...", "List", "Accounts", new { Area = "Practitioner" }, null)
    </div>
        @if (Model.DelegationsExpired.Count() > 0) {
        <div class="panel-c"> 
		    <h3><img src="@Url.Image("icn-alarm-s.png")" alt=""> Har löpt ut</h3>
		    <table>
		    	<thead>
		    		<tr>
		    			<th scope="col">Person</th>
		    			<th scope="col">Dagar kvar</th>
		    		</tr>
		    	</thead>
		    	<tbody>
                    @foreach (var delegation in Model.DelegationsExpired) {
                        <tr class="urgent">
		    				<td>
                                @if (Html.HasPermissionFor(Permissions.Delegation.Read))
                                { 
                                    @Html.ActionLink(delegation.FullName, "List", "Delegation", new { id = delegation.Id }, new { })
                                }
                                else
                                {
                                    @delegation.FullName
                                }
                            </td>
		    				<td><span>@delegation.DaysLeft dagar</span></td>
		    			</tr>
                    }
		    	</tbody>
		    </table>
        </div>
        }
        @if (Model.DelegationsExpiresWithin50Days.Count() > 0) {
        <div class="panel-c"> 
		    <h3>Löper ut inom 50 dagar</h3>
		    <table>
		    	<thead>
		    		<tr>
		    			<th scope="col">Person</th>
		    			<th scope="col">Dagar kvar</th>
		    		</tr>
		    	</thead>
		    	<tbody>
                    @foreach (var delegation in Model.DelegationsExpiresWithin50Days) {
                        <tr class="@( delegation.DaysLeft < 30 ? "urgent" : "")">
		    				<td>
                                @if (Html.HasPermissionFor(Permissions.Delegation.Read))
                                { 
                                    @Html.ActionLink(delegation.FullName, "List", "Delegation", new { id = delegation.Id }, new { })
                                }
                                else
                                {
                                    @delegation.FullName
                                }
                            </td>
		    				<td><span>@delegation.DaysLeft dagar</span></td>
		    			</tr>
                    }
		    	</tbody>
		    </table>
        </div>
        }
        @if (Model.DelegationsExpiresWithin50Days.Count() == 0 && Model.DelegationsExpired.Count() == 0) {
        <div class="panel-c"> 
            <div class="no-data">
                <h3>Inga utlöpande delegeringar</h3>
            </div>
        </div>
        }
</div>