@model Appva.Mcss.Admin.Areas.Practitioner.Models.DelegationOverviewModel
@using Appva.Mcss.Admin.Application.Common;
<div>
    <div class="heading cf">
        <h2>@Localizer["Utlöpande_delegeringar"]</h2>
        <p class="filter">
            @Html.ActionLink(Localizer["Alla"].ToString(), "Overview", new { FilterByIssuer = false }, new { @class = "div" + (Model.FilteredByIssuer == false ? " sel" : "") })
            @Html.ActionLink(Localizer["Mina"].ToString(), "Overview", new { FilterByIssuer = true }, new { @class = "div" + (Model.FilteredByIssuer == true ? " sel" : "") })
        </p>
        @Html.ActionLink(Permissions.Delegation.Read, Localizer["Alla_delegeringar_"].ToString(), "List", "Accounts", new { Area = "Practitioner" }, null)
    </div>
    <div class="deleg-overview">
        @if (Model.DelegationsExpired.Count() > 0) {
         <div class="panel-c">
            <h3><img src="@Url.Image("icn-alarm-s.png")" alt=""> Har löpt ut</h3>
            <table>
                <thead>
                    <tr>
                        <th scope="col">@Localizer["Person"]</th>
                        <th scope="col">@Localizer["Dagar_kvar"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model.DelegationsExpired)
                    {
                        <tr class="urgent">
                            <td>
                                @if (Html.HasPermissionFor(Permissions.Delegation.Read))
                                {
                                    @Html.ActionLink(account.FullName, "List", "Delegation", new { id = account.Id }, new { })
                                }
                                else
                                {
                                    @account.FullName
                                }
                            </td>
                            <td><span>@account.DelegationDaysLeft @Localizer["dagar"]</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        }
        @if (Model.DelegationsExpiresWithin50Days.Count() > 0)
        {
        <div class="panel-c">
            <h3>@Localizer["Löper_ut_inom_50_dagar"]</h3>
            <table>
                <thead>
                    <tr>
                        <th scope="col">@Localizer["Person"]</th>
                        <th scope="col">@Localizer["Dagar_kvar"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model.DelegationsExpiresWithin50Days)
                        {
                        <tr class="@( account.DelegationDaysLeft < 30 ? "urgent" : "")">
                            <td>
                                @if (Html.HasPermissionFor(Permissions.Delegation.Read))
                                    {
                                    @Html.ActionLink(account.FullName, "List", "Delegation", new { id = account.Id }, new { })
                                    }
                                    else
                                    {
                                    @account.FullName
                                    }
                            </td>
                            <td><span>@account.DelegationDaysLeft @Localizer["dagar"]</span></td>
                        </tr>
                        }
                </tbody>
            </table>
        </div>
        }
        @if (Model.DelegationsExpiresWithin50Days.Count() == 0 && Model.DelegationsExpired.Count() == 0)
        {
            <div class="panel-c">
                <div class="no-data">
                    <h3>@Localizer["Inga_utlöpande_delegeringar"]</h3>
                </div>
            </div>
        }
    </div>
</div>



    <script>
        $('div.heading p.filter a').click(function (e) {
            e.stopPropagation();
            e.preventDefault();
            var elem = $(this);
            elem.parent().find('.sel').removeClass('sel');
            elem.addClass("sel");
            elem.parent().parent().parent().find('.panel-c').append('<div class="loading"><img src="@Url.Image("ajax-load.gif")" alt="Laddar" /></div>');
            elem.parent().parent().parent().find('.deleg-overview').load(elem.attr('href') + " .deleg-overview");
        });
    </script>