@using Appva.Mcss.Admin.Application.Common
@model Appva.Mcss.Admin.Models.ListUploadModel
@{
    SetTitle("Filer");
}
<div id="subheader" class="cf">
    <h1>Filer</h1>
    @Html.ActionLink(Permissions.FileUpload.Create, "Ladda upp", "Upload", "View", null, new { @class = "btn lb-link" })
    <p class="filter">
        <strong>Visa:</strong>
        @Html.ActionLink("Alla", "List", null, new { @class = (Model.IsFilteredByImages.HasValue == false ? "sel div" : "div") })
        @Html.ActionLink("Bilder", "List", new { IsFilteredByImages = true }, new { @class = (Model.IsFilteredByImages.GetValueOrDefault(false) ? "sel div" : "div") })
        @Html.ActionLink("Dokument", "List", new { IsFilteredByImages = false }, new { @class = (Model.IsFilteredByImages.GetValueOrDefault(true) ? "div" : "sel div") })
    </p>
</div>
<div id="content" class="log cf">
    <div id="filelist">
        @if (Model.Files.Count > 0)
        {
            <table class="device-table">
                <thead>
                    <tr class="head">
                        <th></th>
                        <th>Titel</th>
                        <th>Beskrivning</th>
                        <th>Filnamn</th>
                        <th>Storlek</th>
                        <th>Datum</th>
                        <th>Åtgärder</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model.Files)
                    {
                        var isSetAsImportableExcelFile = Html.HasPermissionFor(Permissions.FileUpload.Execute) && file.Properties != null && file.Properties.IsSetAsImportableExcelFile;
                        <tr class="tr-highlight" style="@(isSetAsImportableExcelFile ? "background:#f0f0f0" : string.Empty)">
                            <td class="flpad flimgcell"><img class="flicon" src="~/Assets/i/@file.TypeImage" width="20" alt="@file.Type" title="@file.Type" /></td>
                            <td class="flpad">@file.Title</td>
                            <td class="flpad">@file.Description</td>
                            <td class="flpad">@file.Name</td>
                            <td class="flpad">@file.Size</td>
                            <td class="flpad">@file.DateAdded</td>
                            <td class="flpad flactions">
                                @if (isSetAsImportableExcelFile)
                                {
                                    @Html.ActionLink("Granska", "PractitionerPreview", "Import", new { Area = "Files", Id = file.Id }, new { @class = "btn-green", style = "padding:5px 16px" })
                                }
                                else
                                {
                                    @Html.ActionLink("Ladda ner", "Save", new { Id = file.Id }, new { @class = "btn" })
                                }
                                @Html.ActionLink("Ta bort", "Delete", new { Id = file.Id }, new { @class = "btn btn-del item-delete-confirmation", data_text = "ta bort filen \"" + file.Name + "\"" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>Inga filer hittades.</h3>
        }
    </div>
</div>