@{
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle(Localizer["Utloggad"].ToString());
}
<div class="hd">
    @Localizer["Du_har_nu_blivit_utloggad"]
</div>
<div class="hd org">
    <img src="@Url.Content("~/Assets/i/appva-logo-icon.png")" alt="Appva MCSS" />
    <span>@Tenant</span>
</div>
<div class="bd">
    @Localizer["Av_säkerhetsskäl_rekommenderar_vi_att_du_även_stänger_din_webbläsare"]
    <div class="hr"></div>
    @Html.ActionLink(Localizer["Till_inloggning"].ToString(), "SignIn", "Authentication", null, new
{
    @class = "btn"
})
</div>