@model AbstractPassword
<div class="hd">
	@Title
</div>
<div class="hd profile">
	<img src="@Url.Content("~/Assets/i/profile-icon.png")" />
</div>
<div class="bd">
	@using (Html.Post(null, new { @token = Request.Params["token"] }))
    {
        <div class="note">@Localizer["Starka_lösenord_inkluderar_siffror_bokstäver_och_skiljetecken_Lär_dig_mer_om_lösenord_på"] <a href="#">@Localizer["support"]</a></div>
        @Html.FormGroup(x => x.NewPassword).Label(Localizer["Nytt_Lösenord"].ToString()).Password(Localizer["Skriv_in_ditt_nya_lösenord"].ToString(), new { @autofocus = "autofocus" }).Validate().Build()
        @Html.FormGroup(x => x.ConfirmPassword).Label(Localizer["Upprepa_nytt_lösenord"].ToString()).Password(Localizer["Upprepa_ditt_nya_lösenord_för_att_undvika_eventuella_misstag"].ToString()).Validate().Build()
		<div class="hr"></div>
        @Html.Submit(Title, new { @id = "submit-form", @class = "btn" })
		@Html.ActionLink(Localizer["Avbryt"].ToString(), "SignIn", "Authentication", null, new { @class = "btn btn-right cancel" })
    }
</div>