
<div class="hd org">
    <img src="@Url.Content("~/Assets/i/loginpage-logo.png")" alt="Appva MCSS" />
    <h1>@Title</h1>
</div>


<!--div class="header header-fluid">
	<div class="container">			
		<a class="logo" href="">
            <img src="@Url.Content("~/Assets/i/appva-logo-icon.png")" alt="Appva MCSS" />
		</a>
		<span class="user">@User.Identity.Name</span>
		<span class="tenant">@Tenant</span>
	</div>
</div-->