@model AbstractPassword
<div class="hd">
	@Title
</div>
<div class="hd profile">
	<img src="@Url.Content("~/Assets/i/profile-icon.png")" />
</div>
<div class="bd">
	@using (Html.Post(null, new { @token = Request.Params["token"] }))
    {
        <div class="note">Starka lösenord inkluderar siffror, bokstäver och skiljetecken. Lär dig mer om lösenord på <a href="#">support</a></div>
        @Html.FormGroup(x => x.NewPassword).Label("Nytt Lösenord").Password("Skriv in ditt nya lösenord", new { @autofocus = "autofocus" }).Validate().Build()
        @Html.FormGroup(x => x.ConfirmPassword).Label("Upprepa nytt lösenord").Password("Upprepa ditt nya lösenord för att undvika eventuella misstag").Validate().Build()
		<div class="hr"></div>
        @Html.Submit(Title, new { @id = "submit-form", @class = "btn" })
		@Html.ActionLink("Avbryt", "SignIn", "Authentication", null, new { @class = "btn btn-right cancel" })
    }
</div>