@model AbstractPassword

<div class="row">
    <div class="col">
        <div class="profile">
            <img src="@Url.Content("~/Assets/i/profile-icon.png")" />
            <h1>@User.Identity.Name</h1>
        </div>
        <div class="bd">
            @using (Html.Post(null, new { @token = Request.Params["token"] }))
            {
                <div class="note">Starka lösenord inkluderar siffror, bokstäver och skiljetecken. Lär dig mer om lösenord på <a href="#">support</a></div>
                @Html.FormGroup(x => x.NewPassword).Label("Nytt Lösenord").Password("Skriv in ditt nya lösenord", new { @autofocus = "autofocus" }).Validate().Build()
                @Html.FormGroup(x => x.ConfirmPassword).Label("Upprepa nytt lösenord").Password("Upprepa ditt nya lösenord för att undvika eventuella misstag").Validate().Build()
                <div class="controls">
                    @Html.Submit(Title, new { @id = "submit-form", @class = "btn" })
                    @Html.ActionLink("Avbryt", "SignIn", "Authentication", null, new { @class = "btn-right forgot" })
                </div>
                
            }
        </div>
    </div>
</div>
