@model Appva.Mcss.Admin.Areas.Backoffice.Models.ListScheduleModel
@{
    SetTitle("Admin - Listor");
}
@Html.Partial("_BackofficeMenuPartial")
<div id="subheader" class="cf">
    <h1>Listor</h1>
    @Html.ActionLink("Ny lista", "Create", "Schedule", new { area = "Backoffice" }, new { @class = "lb-link btn" })
</div>

<div id="content">
    <div id="content-primary">
        @if (Model.Schedules != null && Model.Schedules.Count > 0)
        {
            <ul class="people">
                @foreach (var list in Model.Schedules)
                {
                    int count = 0;
                    int instansCount = 0;
                    int activeCount = 0;


                    <li class="cf">
                        <div class="h">
                            <h2>
                                @Html.ActionLink(list.Name, "Details", "Schedule", new { id = list.Id }, new { })
                            </h2>
                        </div>

                        @foreach (var item in Model.SequenceList.Where(x => x.Schedule.ScheduleSettings.Id == list.Id))
                        {
                            if (Model.PatientFilterList.Contains(item.Patient))
                            {
                                instansCount++;

                            }
                        }

                        <div class="i">
                            <strong>Antal insatser: @instansCount</strong>
                            <span></span>
                        </div>

                        @foreach (var item in Model.AllSchedules.Where(x => x.ScheduleSettings.Id == list.Id))
                        {
                            if (Model.PatientFilterList.Contains(item.Patient))
                            {
                                count++;

                            }

                            if (Model.PatientFilterList.Contains(item.Patient) && item.IsActive == true)
                            {
                                activeCount++;
                            }
                        }

                        <div class="i">
                            <strong>Används utav: @count</strong>
                            <strong class="active-color">(@activeCount aktiva)</strong>
                            <span></span>
                        </div>
                    </li>
                }
            </ul>
        }
        else
        {
            <div class="note">
                <h2>Det finns inga listor ännu</h2>
            </div>
        }

    </div>
</div>
