@model Appva.Mcss.Admin.Areas.Backoffice.Models.EditGeneralSettingsModel
@{
    SetTitle("Admin - Generella inställningar / Edit");
}
<div class="std-panel std-form lb-panel-small lb-validate-form">
    @using (Html.Post(new { Id = Model.Id }))
    {
        <div>
            <h3 class="section-title">Uppdatera Inställning</h3>
            @if (Model.intValue != null)
            {
                <h4>@Model.Name</h4><br />
                @Html.Label("Värde")
                @Html.FormGroup(x => x.intValue, "number").TextBox().Validate().Build()<br />

            }

            @if (Model.intValue == null && Model.stringValue == null)
            {
                <h4>@Model.Name (Currently: @Model.boolValue)</h4>
                @Html.FormGroup(x => x.boolValue, "checkbox").Checkbox("Bocka i för att ange som true").Label("").Validate().Build()
            }

            @if (Model.stringValue != null)
            {
                <h4>@Model.Name</h4><br />
                @Html.Label("Värde")
                
                @Html.FormGroup(x => x.stringValue, "text large").TextArea().Validate().Build()<br />

            }

        </div>
        <div class="submit">
            @Html.Submit("Spara", new { @class = "btn" })
        </div>
    }
</div>