@model Appva.Mcss.Admin.Areas.Practitioner.Models.UserCredentialsModel

<div class="std-panel std-form lb-panel-small user-credentials">
    <h3 class ="section-title">User credentials</h3>
    <div class="text">
        <label for="FullName">@Localizer["Namn"]</label>
        <p id="FullName" name="FullName">@Model.UserFullName</p>
    </div>
    <div class="text">
        <label for="FullName">@Localizer["User-id"]</label>
        <p id="FullName" name="FullName">@Model.UserId</p>
    </div>
    <div class="text">
        <label for="FullName">@Localizer["Pin"]</label>
        <p id="FullName" name="FullName">@Model.Password</p>
    </div>
    @using (Html.Post("PrintCredentials", "Accounts", new { id = Model.Id, target = "_blank" })) {
        @Html.Submit(Localizer["Skriv_ut"].Value, new { @class = "btn"})
    }
</div>
