@using Appva.Mcss.Admin.Application.Common
@model Appva.Mcss.Admin.Models.ListMedicationModel

@Html.Partial("~/Areas/Patient/Features/Patient/Partials/_PatientDetails.cshtml", Model.Patient)
@Html.Partial("~/Features/Shared/_SubMenuPartial.cshtml", Model.Patient)
<div id="ehm">

    <h2>Läkemedelslistan</h2>
    <div class="e-panel">
        <h3 class="no-border">
            Dos-dispenserade läkemedel
            @Html.ActionLink(Permissions.Sequence.Create, "+ Skapa insats", "SelectSchedule", "Medication", new { OrdinationId = Int64.MinValue, Id = Model.Patient.Id }, new { @class = "lb-link button add" })
        </h3>
        @if (Model.DispensedMedications != null && Model.DispensedMedications.Count > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Styrka</th>
                        <th>Läkemedelsform</th>
                        <th>Dosering</th>
                        <th>Ändamål</th>
                        <th>Insättning</th>
                        <th>Utsättning</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var med in Model.DispensedMedications)
                    {
                        var sequences = Model.Sequences[med.OrdinationId];
                        var trClass = ""; 
                        if (sequences.Sequence != null)
                        {
                            trClass = "ok";
                        }
                        else if (sequences.History != null && sequences.History.Count > 0){
                            trClass = "updated";
                        }
                        if (med.EndsAt.GetValueOrDefault(DateTime.MaxValue) < DateTime.Now)
                        {
                            trClass += " canceled";
                        }
                        <tr class="@trClass">
                            <td>
                                @Html.ActionLink(Permissions.Medication.Read, med.Article.Name, "Details", "Medication", new { id = Model.Patient.Id, ordinationId = med.OrdinationId }, new { })
                                @if (med.Type == Appva.Mcss.Admin.Domain.Entities.OrdinationType.Dispensed)
                                {
                                    <span title="Dos-dispensierad" class="dos">DOS</span>
                                }
                                @if (med.Type == Appva.Mcss.Admin.Domain.Entities.OrdinationType.NeedBased)
                                {
                                    <span title="Vid behov" class="vb">VB</span>
                                }
                            </td>
                            <td>@med.Article.Strength.FirstToUpper()</td>
                            <td>@med.Article.Form.FirstToUpper()</td>
                            <td>
                                @if (med.DosageScheme != null)
                                {
                                    Html.RenderPartial("_dosageScheme", med.DosageScheme);
                                }
                                else
                                {
                                    @med.DosageText
                                }
                            </td>
                            <td>@med.Purpose</td>
                            <td>
                                @if (med.OrdinationStartsAt.HasValue)
                                {
                                    @med.OrdinationStartsAt.Value.ToString("yyyy-MM-dd");
                                }
                            </td>
                            <td>
                                @if (med.EndsAt.HasValue)
                                {
                                    @med.EndsAt.Value.ToString("yyyy-MM-dd")
                                    if (med.IsCanceled)
                                    {
                                        <span title="@string.Format("Mackulerad, {0}", med.CancellationReason)" class="canceled">M</span>
                                    }
                                }

                            </td>
                            <td>
                                @if (med.Type != Appva.Mcss.Admin.Domain.Entities.OrdinationType.Dispensed)
                                {
                                    @Html.ActionLink(Permissions.Sequence.Create, "+", "SelectSchedule", "Medication", new { id = Model.Patient.Id, ordinationId = med.OrdinationId }, new { @class = "button add lb-link", title = "Lägg till på signeringslista" })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="e-panel">
        <h3 class="no-border">Helförpackade läkemedel</h3>
        @if (Model.OriginalPackageMedications != null && Model.OriginalPackageMedications.Count > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>Namn</th>
                        <th>Styrka</th>
                        <th>Läkemedelsform</th>
                        <th>Dosering</th>
                        <th>Ändamål</th>
                        <th>Insättning</th>
                        <th>Utsättning</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <!--tr class="updated">
                        <td><a href="#">Alvedon</a></td>
                        <td>500mg</td>
                        <td>Tablett</td>
                        <td><span class="periodicity">Dagligen</span><div class="dosage"><p class="time">12:00</p><p class="amount">1</p></div></td>
                        <td>Värk i arm</td>
                        <td>2017-09-27</td>
                        <td></td>
                        <td></td>
                    </tr-->
                    @foreach (var med in Model.OriginalPackageMedications)
                    {
                        var sequences = Model.Sequences[med.OrdinationId];
                        var trClass = "";
                        if (sequences.Sequence != null)
                        {
                            trClass = "ok";
                        }
                        else if (sequences.History != null && sequences.History.Count > 0)
                        {
                            trClass = "updated";
                        }
                        if(med.EndsAt.GetValueOrDefault(DateTime.MaxValue) < DateTime.Now)
                        {
                            trClass += " canceled";
                        }
                        <tr class="@trClass">
                            <td>
                                @Html.ActionLink(Permissions.Medication.Read, med.Article.Name, "Details", "Medication", new { id = Model.Patient.Id, ordinationId = med.OrdinationId }, new { })
                                @if (med.Type == Appva.Mcss.Admin.Domain.Entities.OrdinationType.Dispensed)
                                {
                                    <span title="Dos-dispensierad" class="dos">DOS</span>
                                }
                                @if (med.Type == Appva.Mcss.Admin.Domain.Entities.OrdinationType.NeedBased)
                                {
                                    <span title="Vid behov" class="vb">VB</span>
                                }
                            </td>
                            <td>@med.Article.Strength</td>
                            <td>@med.Article.Form</td>
                            <td>
                                @if (med.DosageScheme != null)
                                {
                                    Html.RenderPartial("_dosageScheme", med.DosageScheme);
                                }
                                else
                                {
                                    @med.DosageText
                                }
                            </td>
                            <td>@med.Purpose</td>
                            <td>
                                @if (med.OrdinationStartsAt.HasValue)
                                {
                                    @med.OrdinationStartsAt.Value.ToString("yyyy-MM-dd");
                                }
                            </td>
                            <td>
                                @if (med.EndsAt.HasValue)
                                {
                                    @med.EndsAt.Value.ToString("yyyy-MM-dd")
                                    if (med.IsCanceled)
                                    {
                                        <span title="@string.Format("Mackulerad, {0}", med.CancellationReason)" class="canceled">M</span>
                                    }
                                }

                            </td>
                            <td>
                                @if (med.Type != Appva.Mcss.Admin.Domain.Entities.OrdinationType.Dispensed
                                    && med.EndsAt.GetValueOrDefault(DateTime.MaxValue) > DateTime.Now
                                    && (sequences.History != null || sequences.History.Count > 0)
                                    && sequences.Sequence == null)
                                {
                                    @Html.ActionLink(Permissions.Sequence.Create, "+", "SelectSchedule", "Medication", new { id = Model.Patient.Id, ordinationId = med.OrdinationId }, new { @class = "button add lb-link", title = "Lägg till på signeringslista" })
                                }
                            </td>
                        </tr>
                    }
                    <!--tr>
                        <td>Alvedon</td>
                        <td>500mg</td>
                        <td>Tablett</td>
                        <td><div class="dosage"><p class="time">12:00</p><p class="amount">1</p></div></td>
                        <td>Värk i arm</td>
                        <td>@Html.ActionLink(Permissions.Sequence.Create, "+", "SelectSchedule", "Medication", new { id = Model.Patient.Id, ordinationId = "ord-id" }, new { @class = "button add lb-link", title = "Lägg till på signeringslista" })</td>
                    </tr>
                    <tr class="updated">
                        <td>Alvedon</td>
                        <td>500mg</td>
                        <td>Tablett</td>
                        <td><div class="dosage"><p class="time">12:00</p><p class="amount">1</p></div></td>
                        <td>Värk i arm</td>
                        <td><a class="button edit" href="#" title="Editera på signeringslista">Ändra</a></td>
                    </tr>
                    <tr class="ok">
                        <td>@Html.ActionLink(Permissions.Medication.Read, "Alvedon", "Details", "Medication", new { id = Model.Patient.Id, ordinationId = "ord-id" }, new { }) <span title="Vid behov" class="vb">VB</span></td>
                        <td>500mg</td>
                        <td>Tablett</td>
                        <td>2 tabletter 12:00</td>
                        <td>Värk i arm</td>
                        <td><a class="button edit" href="#" title="Editera på signeringslista">Ändra</a></td>
                    </tr>
                    <tr>
                        <td><span>Alvedon</span> <span title="Dos-dispensierad" class="dos">DOS</span></td>
                        <td>500mg</td>
                        <td>Tablett</td>
                        <td>2 tabletter 12:00</td>
                        <td>Värk i arm</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Alvedon<span class="dos">DOS</span></td>
                        <td>500mg</td>
                        <td>Tablett</td>
                        <td>2 tabletter 12:00</td>
                        <td>Värk i arm</td>
                        <td></td>
                    </tr-->
                </tbody>
            </table>
        }
    </div>



</div>
