@model Appva.Mcss.Admin.Models.ViewTenaMeasurementsModel

<div id="tena-measurements-table">
    <div class="distributor distributor--justified">
        
        <h3>@Model.ObservationPeriod.StartDate.ToShortDateString() &#8211; @Model.ObservationPeriod.EndDate.ToShortDateString()</h3>

        <div class="form-controls form-controls--inline">
            <a class="button button--primary open-in-dialog" href="@Url.Action("uploadasync", "tena", new {periodid = Model.ObservationPeriod.Id})#remote-response">
                <svg class="icon icon--mr" aria-hidden="true">
                    <use xlink:href="/assets/images/icons/icon.sprite.svg#arrow-ne-icon"></use>
                </svg>Ladda upp till TENA Identifi
            </a>
        </div>
    </div>

    <table class="table-general table-general--descending">
        <thead>
            <tr>
                <th scope="col">Datum</th>
                <th scope="col">Värde</th>
                <th scope="col">Registrerad av</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ObservationItems)
            {
                <tr>
                    <td>@item.CreatedAt</td>
                    <td>@item.Measurement</td>
                    <td>@item.Signature</td>
                </tr>
            }
        </tbody>
    </table>
</div>