@model ResetPassword
@{
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle("Återställ lösenord - {0}", Tenant);
    SetBodyCssClass("page-reset-password");
}
@section nav {
    <div class="header header-fluid">
		<div class="container">			
			<a class="logo" href="">
                <img src="@Url.Content("~/Assets/i/appva-logo-icon.png")" alt="Appva MCSS" />
			</a>
			<span class="user">@User.Identity.Name</span>
			<span class="tenant">@Tenant</span>
		</div>
    </div>
}
<div class="hd">
	Återställ lösenord
</div>
<div class="hd profile">
	<img src="@Url.Content("~/Assets/i/profile-icon.png")" />
</div>
<div class="bd">
	@using (Html.Post(null, new { @token = Request.Params["token"] }))
    {
        <div class="note">Starka lösenord inkluderar siffror, bokstäver och skiljetecken. Lär dig mer om lösenord på <a href="#">support</a></div>
        @Html.FormGroup(x => x.NewPassword).Label("Nytt Lösenord").Password("Skriv in ditt nya lösenord", new { @autofocus = "autofocus" }).Validate().Build()
        @Html.FormGroup(x => x.ConfirmPassword).Label("Upprepa nytt lösenord").Password("Upprepa ditt nya lösenord för att undvika eventuella misstag").Validate().Build()
		<div class="hr"></div>
        @Html.Submit("Återställ lösenord", new { @class = "btn" })
		@Html.ActionLink("Avbryt", "SignIn", null, new { @class = "btn btn-right cancel" })
    }
</div>
@section javascript {
    @Scripts.Render("~/Assets/js/auth")
    <script type="text/javascript">
	    (function ($) {
	        $('#NewPassword').PasswordStrength();
	    } (jQuery));
    </script>
}