@model Appva.Mcss.Web.ViewModels.SchedulePrintPopOverViewModel
@{
    SetTitle("Skriv ut PDF");
}
<div class="std-panel std-form lb-panel-small lb-validate-form" data-valclass="SchedulePrint" data-valparams="startdate=@string.Format("{0:yyyy-MM-dd}", DateTime.Now.AddYears(-10))">
    @using (Html.BeginForm(new { id = Model.Id, scheduleId = Model.ScheduleSettingsId }))
    {
        <h3 class="section-title">Välj datum</h3>
        <div class="text medium">
            @Html.LabelFor(m => m.PrintStartDate)
            @Html.EditorFor(m => m.PrintStartDate)
            @Html.ValidationMessageFor(m => m.PrintStartDate)
        </div>
        <div class="text medium">
			@Html.LabelFor(m => m.PrintEndDate)
            @Html.EditorFor(m => m.PrintEndDate)
            @Html.ValidationMessageFor(m => m.PrintEndDate)
		</div>
        <h3 class="section-title">Välj format</h3>
        <div class="radio">
            @Html.RadioButtonFor(m => m.Template, 1, new { @id = "Template-1", @checked="checked"})
            <label for="Template-1">Ifylld signeringslista</label>
            @Html.RadioButtonFor(m => m.Template, 0, new { @id = "Template-0" }) 
            <label for="Template-0">Tabell</label>
            @Html.ValidationMessageFor(m => m.Template)
        </div>
        <div class="checkbox">
            @Html.CheckBoxFor(m => m.StandardSequneces)
            @Html.LabelFor(m => m.StandardSequneces)                      
        </div>
        <div class="checkbox">           
            @Html.CheckBoxFor(m => m.OnNeedBasis)
            @Html.LabelFor(m => m.OnNeedBasis)            
        </div>
	    <div class="submit">
            @Html.AntiForgeryToken()
            @Html.Submit("Skriv ut")
            @Html.Cancel("Avbryt")
	    </div>
    }
</div>