@model Appva.Mcss.Admin.Areas.Practitioner.Models.DeleteDelegationModel
@{
    SetTitle("Inactivate");
}
<div class="std-panel std-form lb-panel-small">
    @using (Html.BeginForm(new { DelegationId = Model.DelegationId }))
    {
        if (Model.Reasons != null && Model.Reasons.Count > 0)
        {
            <h3 class="section-title">Ta bort delegering</h3>
            <div class="select reason-select">
                @Html.LabelFor(m => m.Reason)
                @Html.DropDownListFor(m => m.Reason, Model.Reasons, "Välj...", new { @class = "reason-list" })
            </div>
            <div class="submit">
                @Html.Submit("Ta bort", new { @class = "btn btn-del", id = "reason-submit" })
                @Html.Cancel("Avbryt")
            </div>
        }
        else
        {
            <div class="prompt">
                <p class="warning">Vill du verkligen ta bort den här delegeringen?</p>
                @Html.Submit("Ta bort", new { @class = "btn btn-del" })
                @Html.Cancel("Avbryt")
            </div>
        }
    }
</div>