@model Appva.Mcss.Admin.Models.DetailsMedicationModel

@Html.Partial("~/Areas/Patient/Features/Patient/Partials/_PatientDetails.cshtml", Model.Patient)
@Html.Partial("~/Features/Shared/_SubMenuPartial.cshtml", Model.Patient)

<div id="ehm">
    
    <h2>
        @if (Model.Medication.DiscontinuedAt.HasValue)
        {
            <span class="canceled">Utsatt - </span>
        }
        else if (Model.Medication.CanceledAt.HasValue)
        {
            <span class="canceled">Mackulerad - </span>
        }
        @Model.Medication.Article.Name 
        @if (Model.Medication.Type == Appva.Mcss.Admin.Domain.Entities.OrdinationType.Dispensed)
        {
            <span title="Dos-dispensierad" class="dos">DOS</span>
        }
        @if (Model.Medication.Type == Appva.Mcss.Admin.Domain.Entities.OrdinationType.NeedBased)
        {
            <span title="Vid behov" class="vb">VB</span>
        }
    </h2>
    <div class="row cf">
        
        <div class="e-panel col-2">
            <h3>Signeringslista</h3>
            @if()
            <div class="no-sequence">
                <p>Detta läkemedel är ännu inte upplagt på en signeringslista</p>

                <a class="button add" href="#">+ Lägg till</a>
            </div>
        </div>
        <div class="e-panel col-2">
            <h3>Läkemedel</h3>
            <div class="info cf">
                <div class="param-box">
                    <label for="articleName">Namn</label>
                    <p name="articleName">@Model.Medication.Article.Name</p>
                </div>
                <div class="param-box">
                    <label for="articleForm">Läkemedelsform</label>
                    <p name="articleForm">@Model.Medication.Article.Form</p>
                </div>
                <div class="param-box">
                    <label for="articlePackageSize">Förpackningsstorlek</label>
                    <p name="articlePackageSize">@Model.Medication.Article.PackageSize @string.Format("{0}(er)",Model.Medication.Article.PackageUnit)</p>
                </div>
                <div class="param-box">
                    <label for="articlePackageType">Förpackningstyp</label>
                    <p name="articlePackageType">@Model.Medication.Article.PackageType</p>
                </div>
            </div>
            <div class="info cf">
                <div class="param-box">
                    <label for="articleNplId">NplId</label>
                    <p name="articleNplId">@Model.Medication.Article.NplId</p>
                </div>
                <div class="param-box">
                    <label for="articleNplPackId">NplPackId</label>
                    <p name="articleNplPackId">@Model.Medication.Article.NplPackId</p>
                </div>
                <div class="param-box">
                    <label for="articleNumber">Artikelnummer</label>
                    <p name="articleNumber">@Model.Medication.Article.ArticleNumber</p>
                </div>
                <div class="param-box">
                    <label for="articleAtc">ATC</label>
                    <p name="articleAtc">@Model.Medication.Article.Atc</p>
                </div>
                <div class="param-box">
                    <label for="articleAtcCode">ATC-kod</label>
                    <p name="articleAtcCode">@Model.Medication.Article.AtcCode</p>
                </div>
            </div>
        </div>
        <div class="e-panel col-2">
            <h3>Ordination</h3>
            <div class="info cf">
                <h4>Allmänt</h4>
                <div class="param-box">
                    <label for="start">Insättning</label>
                    <p name="start">@Model.Medication.OrdinationStartsAt.ToString("yyyy-mm-dd")</p>
                </div>
                <div class="param-box">
                    <label for="origin-start">Tidigast kännda insättning</label>
                    <p name="origin-start">2016-08-12</p>
                </div>                
                <div class="param-box">
                    <label for="created">Ordinationstidpunkt</label>
                    <p name="created">@Model.Medication.OrdinationCreatedAt.ToString("yyyy-mm-dd")</p>
                </div>
                <div class="param-box">
                    <label for="valid">Giltig t.o.m</label>
                    <p name="valid">@Model.Medication.OrdinationValidUntil.GetValueOrDefault().ToString("yyyy-mm-dd")</p>
                </div>
                @if (Model.Medication.DiscontinuedAt.HasValue)
                {
                    <div class="param-box">
                        <label for="end">Utsatt</label>
                        <p name="origin-start">@Model.Medication.DiscontinuedAt.Value.ToString("yyyy-MM-dd")</p>
                    </div>
                }
                @if (Model.Medication.DiscontinuedComment.IsNotEmpty())
                {
                    <div class="param-box">
                        <label for="end">Utsatt kommentar</label>
                        <p name="origin-start">@Model.Medication.DiscontinuedComment</p>
                    </div>
                }
            </div>
            @if (Model.Medication.CanceledAt.HasValue)
            {
                <div class="info cf">
                    <div class="param-box">
                        <label for="text">Mackulerad</label>
                        <p name="text">@Model.Medication.CanceledAt.Value.ToString("yyyy-MM-dd")</p>
                    </div>
                    @if (Model.Medication.CancellationReason.IsNotEmpty())
                    {
                        <div class="param-box">
                            <label for="text">Mackuleringsorsak</label>
                            <p name="text">@Model.Medication.CancellationReason</p>
                        </div>
                    }
                    @if (Model.Medication.CancellationComment.IsNotEmpty())
                    {
                        <div class="param-box">
                            <label for="text">Mackuleringsorsak</label>
                            <p name="text">@Model.Medication.CancellationComment</p>
                        </div>
                    }
                    
                </div>
            }
            <div class="info cf">
                <div class="param-box">
                    <label for="text">Text till patienten</label>
                    <p name="text">@Model.Medication.DosageText</p>
                </div>
                <div class="param-box">
                    <label for="text">Ändamål</label>
                    <p name="text">@Model.Medication.Purpose</p>
                </div>
                <div class="param-box">
                    <label for="dosage">Doseringsschema</label>
                    
                        <div class="dosage">
                            <p class="time">12:00</p>
                            <p class="amount">1</p>
                        </div>

                </div>
            </div>
            <div class="info cf">
                <h4>Ordinatör</h4>
                <div class="param-box">
                    <label for="ordinator">Ursprungligen insatt av</label>
                    <p name="ordinator">
                        @Model.Medication.Prescriber.FullName
                    </p>
                </div>
                <div class="param-box">
                    <label for="workplace">Arbetsplats</label>
                    <p name="workplace">
                        @Model.Medication.Prescriber.WorkPlaceCode
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</div>