@using Appva.Mcss.Admin.Application.Common
@model Appva.Mcss.Admin.Models.ViewMeasurementModel

@{
    SetTitle("Mätvärden");
}

@Html.Partial("~/Areas/Patient/Features/Patient/Partials/_PatientDetails.cshtml", Model.ListModel.Patient)
@Html.Partial("~/Features/Shared/_SubMenuPartial.cshtml", Model.ListModel.Patient)

<div class="section section--hspace">
    <div class="inliner">
        <h2>Mätvärden</h2>
        <div>
            <a class="button button--ml open-in-dialog" href="@Url.Action("create", "measurement")#add-observation" data-dialog-title="Lägg till mätvärde" data-dialog-symbol="+">
                <svg class="icon icon--mr" aria-hidden="true">
                    <use xlink:href="/project/images/icons/icon.sprite.svg#plus-icon"></use>
                </svg>Lägg till
            </a>
        </div>
    </div>

    <div>
        <div class="grid">
            <div data-size="xs:24 s:10 m:8 l:6 xl:6">
                <div class="tabs tabs--vertical tabs--dynamic" role="navigation" data-tabs-target="measurements">
                    <h2 class="visually-hidden">Huvudnavigering</h2>
                    <ul>
                        <li class="tabs__item tabs__item--selected">
                            <a href="@Url.Action("view", "measurement")">Alla</a>
                        </li>
                        @foreach (var item in Model.ListModel.MeasurementList)
                        {
                            <li class="tabs__item">
                                <a href="@Url.Action("view","measurement", new { MeasurementId = item.Id })#measurements">@item.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div id="measurements" data-size="xs:24 s:14 m:16 l:18 xl:18">

                <!-- PLACEHOLDER FOR VIEW SPEcIFIC DATA -->

                <div class="distributor distributor--justified">
                    <div class="inliner">
                        <h3>@Model.Observation.Name</h3>
                        <div class="form-controls">
                            <a class="button button--right" href="https://appva-gui.azurewebsites.net/"><svg class="icon icon--mr" aria-hidden="true"><use xlink:href="/project/images/icons/icon.sprite.svg#pdf-icon"></use></svg>skapa PDF</a>
                        </div>
                    </div>
                    <div>
                        <div class="form-controls form-controls--inline">
                            <a class="button open-in-dialog"
                               href="@Url.Action("update","measurement", new { MeasurementId = Model.Observation.Id })#add-observation"
                               data-dialog-title="Lägg till mätvärde">
                                <svg class="icon icon--mr" aria-hidden="true">
                                    <use xlink:href="/project/images/icons/icon.sprite.svg#pencil-icon"></use>
                                </svg>Ändra
                            </a>
                        </div>
                        <div class="form-controls form-controls--inline">
                            <a class="button button--negative" href="@Url.Action("delete", "measurement", new { MeasurementId = Model.Observation.Id})">
                                <svg class="icon icon--mr" aria-hidden="true">
                                    <use xlink:href="/project/images/icons/icon.sprite.svg#x-icon"></use>
                                </svg>Ta bort
                            </a>
                        </div>
                    </div>
                </div>

                <p>@Model.Observation.Description</p>
                <dl>
                    <td>Skala som används</td>
                    <td>@Model.Longscale</td>
                </dl>

                <dl>
                    <dt>Delegering</dt>
                    <dd>@Model.Observation.Delegation.Name</dd>
                </dl>


                @Html.Partial("~/Areas/Patient/Features/Measurement/View/Partials/_ViewStatistics.cshtml", Model)

                @Html.Partial("~/Areas/Patient/Features/Measurement/View/Partials/_ViewValues.cshtml", Model)

            </div>
        </div>
    </div>
</div>