@model Appva.Mcss.Admin.Areas.Backoffice.Models.ArticleListModel
@{
    SetTitle("Backoffice - Beställningslista");
}
@Html.Partial("_BackofficeMenuPartial")
<div id="subheader" class="cf">
    <h1>Beställningslista</h1>
</div>
<div id="content" class="cf">
    <div id="content-primary">
        <div id="signlist" class="articlecategory">
            <h4 class="list-header">Artikelkategorier</h4>
            <a href="@Url.Action("AddCategory", "Article")" class="lb-link section-list-btn"><span>+</span>Ny kategori</a>
            <p style="margin:16px 10px;font-weight:bold;float:right">
                @if (Model.HasMigratableItems)
                {
                    <span style="display:inline-block;background:#FFF5F5;border:1px solid #F9E1E1;color:#3f2929;padding:4px 8px;font-weight:normal">
                        <b>Obs!</b> Data behöver migreras, kontakta en utvecklare.
                    </span>
                }
            </p>
            <table id="signed-events">
                <thead class="head">
                    <tr>
                        <th>Namn</th>
                        <th>Beskrivning</th>
                        <th class="prtd">Antal listor</th>
                        <th class="prtd">Antal artiklar</th>
                        <th class="prtd-140">Ändrades</th>
                        <th class="prtd">Åtgärder</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.CategoryList.Count > 0)
                    {
                        foreach (var category in Model.CategoryList.OrderByDescending(x => x.UpdatedAt))
                        {
                            <tr class="tr-highlight">
                                <td>@category.Name</td>
                                <td>@category.Description</td>
                                <td class="prtd" style="@(category.ListCount == 0 && category.ArticleCount == 0 ? Html.Raw("#F9E1E1") : Html.Raw("transparent"))">@(category.ListCount == 0 ? Html.Raw("&mdash;") : Html.Raw(category.ListCount + " st"))</td>
                                <td class="prtd" style="@(category.ListCount == 0 && category.ArticleCount == 0 ? Html.Raw("#F9E1E1") : Html.Raw("transparent"))">@(category.ArticleCount == 0 ? Html.Raw("&mdash;") : Html.Raw(category.ArticleCount + " st"))</td>
                                <td class="prtd-140">@category.UpdatedAt.ToString("yyyy-MM-dd (HH:mm:ss)")</td>
                                <td class="btnpad prtd2">
                                    @Html.ActionLink("Ändra", "EditCategory", "Article", new { id = category.Id }, new { @class = "lb-link btn" })
                                    @Html.ActionLink("Ta bort", "DeleteCategory", "Article", new { id = category.Id }, new { @class = (category.HasArticles || category.HasLists ? "btn btn-del action-denied" : "btn btn-del"), @style = (category.HasArticles || category.HasLists ? "opacity:.7" : "opacity:1") })
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">Inga kategorier hittades.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>