@model Appva.Mcss.Web.ViewModels.ChangePasswordViewModel
@{ ViewBag.Title = "Byt lösenord"; }
<div id="login" class="std-panel">
	<div class="header cf">
		<h1>Byt lösenord</h1>
	</div>
	<div class="body std-form">
        @using (Html.BeginForm()) {
            if (TempData["Message"].IsNotNull()) {
			    <div class="success-msg">
				    <p>@TempData["Message"]</p>
			    </div>
            }
			<div class="text">
                @Html.LabelFor(m => m.CurrentPassword)
                @Html.EditorFor(m => m.CurrentPassword)
                @Html.ValidationMessageFor(m => m.CurrentPassword)
			</div>
			<div class="text">
                @Html.LabelFor(m => m.NewPassword)
                @Html.EditorFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
			</div>
			<div class="text">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.EditorFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
			</div>
            @Html.AntiForgeryToken()
            @Html.Submit("Ändra")
        }
	</div>
</div>
<script type="text/javascript">
    $('.std-form form').validate({
        'rules': {
            'CurrentPassword': 'required',
            'NewPassword': {
                'required': true,
                'minLength': 8
            },
            'ConfirmPassword': {
                'required': true,
                'equalTo': "#NewPassword"
            }
        },
        'messages': {
            'CurrentPassword': {
                'required': "Nuvarande lösenord måste fyllas i."
            },
            'NewPassword': {
                'required': "Nytt lösenord måste fyllas i.",
                'minLength': "Nytt lösenord måste vara minst 8 tecken långt"
            },
            'ConfirmPassword': {
                'required': "Upprepa lösenord måste fyllas i.",
                'equalTo': "Lösenord måste stämma överens."
            }
        },
        'submitHandler': function (form) {
            $(form).find('input[type=submit]').attr('disabled', 'disabled');
            form.submit();
        }
    });
</script>