@model Appva.Mcss.Web.ViewModels.PreparePrintPopUpViewModel
@{
    SetTitle(Localizer["Skriv_ut_PDF"].ToString());
}
<div class="std-panel std-form lb-panel-small lb-validate-form" data-valclass="PreparePrint" data-valparams="startdate=@string.Format("{0:yyyy-MM-dd}", DateTime.Now.AddYears(-10))">
    @using (Html.BeginForm(new
    {
        id = Model.Id,
        scheduleId = Model.ScheduleId
    }))
    {
        <h3 class="section-title">@Localizer["Välj_datum"]</h3>
        <div class="text medium">
            @Html.LabelFor(m => m.PrintStartDate)
            @Html.EditorFor(m => m.PrintStartDate)
            @Html.ValidationMessageFor(m => m.PrintStartDate)
        </div>
        <div class="text medium">
            @Html.LabelFor(m => m.PrintEndDate)
            @Html.EditorFor(m => m.PrintEndDate)
            @Html.ValidationMessageFor(m => m.PrintEndDate)
        </div>
        <div class="submit">
            @Html.AntiForgeryToken()
            @Html.Submit(Localizer["Visa"].ToString())
            @Html.Cancel(Localizer["Avbryt"].ToString())
        </div>
    }
</div>