@model Appva.Mcss.Admin.Areas.Backoffice.Models.CategoryDetailsModel
@{
    SetTitle("Admin - " + Model.Name);
}
@Html.Partial("_BackofficeMenuPartial")
<div id="subheader" class="cf">
    <h1>@Model.Name</h1>
    @Html.ActionLink("Redigera", "UpdateCategory", "Calendar", new { id = Model.Id }, new { @class = "lb-link btn" })
</div>
<div id="content" class="log admin-schedule">

    <table>
        <tr>
            <td class="label"><span>Namn</span></td>
            <td><span>@Model.Name</span></td>
            <td class="desc">Namnet på listan</td>
        </tr>
        <tr>
            <td class="label"><span>Färg</span></td>
            <td><span style="background:@Model.Color; border-radius:10px 10px; padding:5px 10px; margin-top:5px; line-height: 24px;">&nbsp;</span>
</td>
            <td class="desc">Färg som visas med kalender</td>
        </tr>
        <tr>
            <td class="label"><span>Innehåller frånvaro</span></td>
            <td><span>@(Model.Absence ? "Ja" : "Nej")</span></td>
        </tr>
        <tr>
            <td class="label"><span>Visa kontrollruta vid avvikande signering</span></td>
            <td><span>@(Model.NurseConfirmDeviation ? "Ja" : "Nej")</span></td>
        </tr>
        @if (Model.NurseConfirmDeviation)
        {
            <tr>
                <td class="label"><span>Ange kontaktad SSK vi avvikande signering</span></td>
                <td><span>@(Model.DeviationMessage.IncludeListOfNurses ? "Ja" : "Nej")</span></td>
            </tr>
            <tr>
                <td class="label"><span>Specifikt meddelande vid avvikande signering</span></td>
                <td>
                    <h3>@Model.DeviationMessage.Header</h3>
                    <p>@Model.DeviationMessage.Message</p>
                </td>
            </tr>
        }
        <tr>
            <td class="label"><span>Signeringsalternativ</span></td>
            <td>
                <ul>
                    @foreach (var taxon in Model.StatusTaxons)
                    {
                        <li><p><img src="@Url.Image(taxon.Path)" />@taxon.Name</p></li>
                    }
                </ul>

            </td>
            <td>
                @Html.ActionLink("Ändra", "EditSigningOptions", "Schedule", new { Id = Model.Id, }, new { @class = "edit lb-link", @title = "Ändra raden" })
            </td>

        </tr>
    </table>

</div>


