@model Appva.Mcss.Admin.Areas.Backoffice.Models.ListGeneralSettingsModel
@{
    SetTitle("Admin - Generella inställningar");
}
@Html.Partial("_BackofficeMenuPartial")
<div id="subheader" class="cf">
    <h1>Generella inställningar</h1>
</div>
<div id="content" class="cf">
    <div id="content-primary">
      @if (Model.List != null && Model.List.Count() > 0)
      {
        <div id="signlist">
            <table id="signed-events">
                <tr class="head">
                    <th>Inställning</th>
                    <th>Key</th>
                    <th>Beskrivning</th>
                    <th class="prtd">Värde</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.List.OrderBy(x => x.MachineName).ThenBy(x => x.Name))
                {
                    <tr class="tr-highlight">
                        <td class="trpad"><b>@item.Name</b></td>
                        <td class="trpad">@item.MachineName</td>
                        <td class="trpad">@item.Description</td>
                        <td class="trpad prtd td-highlight"><span title="@item.Value">@(item.Value.Length > 12 ? item.Value.Substring(0, 12) + "..." : item.Value)</span></td>
                        <td class="trpad prtd">@Html.ActionLink("Ändra", "Edit", "GeneralSettings", new { Id = item.Id }, new { @class = "lb-link btn" })</td>
                    </tr>
                }
            </table>
        </div>
      }
      else
      {
        <div class="note">
            <h2>Inga inställningar hittades.</h2>
        </div>
      }
    </div>
</div>