@model Appva.Mcss.Admin.Areas.Backoffice.Models.ListGeneralSettingsModel
@{
    SetTitle("Admin - Generella inställningar");
}
@Html.Partial("_BackofficeMenuPartial")
<div id="subheader" class="cf">
    <h1>Generella inställningar</h1>
</div>
<div id="content" class="cf">
    <div id="content-primary">
      @if (Model.List != null && Model.List.Count() > 0)
        {
           @* <ul id="setlist">
                @foreach (var item in Model.List)
                {
                    string description = string.Empty;
                    if(!string.IsNullOrWhiteSpace(item.Description))
                    {
                        description = "<span>" + item.Description + "</span>";
                    }
                    <li>
                       @Html.ActionLink(item.Name, "Edit", "GeneralSettings", new { Id = item.Id }, new { @class = "lb-link btn" })
                    </li>
                }
            </ul>
          *@
        <div class="h cf">
            <table class="dp-hover">
                <tr class="head">
                    <th>Inställning</th>
                    <th>Key</th>
                    <th>Beskrivning</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.List)
                {

                    <tr>
                        <td>@item.Name</td>
                        <td>@item.MachineName</td>
                        <td>@item.Description</td>
                        <td>@Html.ActionLink("Ändra", "Edit", "GeneralSettings", new { Id = item.Id }, new { @class = "lb-link btn" })</td>
                    </tr>
                }


            </table>
        </div>
      }
      else
      {
            <div class="note">
                <h2>Inga inställningar hittades.</h2>
            </div>
        }
    </div>
</div>