@model Appva.Mcss.Admin.Areas.Backoffice.Models.ListGeneralSettingsModel
@{
    SetTitle("Admin - Generella inställningar");
}
@Html.Partial("_BackofficeMenuPartial")
<div id="subheader" class="cf">
    <h1>Generella inställningar</h1>
</div>
<div id="content" class="cf">
    <div id="content-primary">
      @if (Model.List != null && Model.List.Count() > 0)
      {
          <ul id="setlist">
              @foreach (var item in Model.List)
              {
                  <li>
                      <h1 title="@item.MachineName" style="background:@item.ColorCode">@item.Category</h1>
                      <h2>@item.Name</h2>
                      @*Html.ActionLink(item.Name, "Edit", "GeneralSettings", new { Id = item.Id }, new { @class = "lb-link" })*@
                      @if (item.Description != null && item.Description != string.Empty)
                      {
                        <p>@item.Description</p>
                      }
                  </li>
              }
          </ul>
      }
      else
      {
        <div class="note">
            <h2>Inga inställningar hittades.</h2>
        </div>
      }
    </div>
</div>