@model Appva.Mcss.Admin.Areas.Backoffice.Models.ListGeneralSettingsModel
@{
    SetTitle("Admin - Generella inställningar");
}
@Html.Partial("_BackofficeMenuPartial")
@Html.Partial("~/Areas/Backoffice/Features/GeneralSettings/Partials/_Scripts.cshtml")
<div id="subheader" class="cf">
    <h1>Generella inställningar</h1>
</div>
<div id="content" class="cf">
    <div id="content-primary">
        @if (Model.List != null && Model.List.Count() > 0)
        {
            foreach(var item in Model.List)
            {
                @Html.Raw(item.CategoryStartHtml)
                @Html.Partial("~/Areas/Backoffice/Features/GeneralSettings/Partials/_SettingsList.cshtml", Model, new ViewDataDictionary { { "item", item } })
                @Html.Raw(item.CategoryEndHtml)
            }
        }
        else
        {
            <div class="note">
                <h2>Inga inställningar hittades.</h2>
            </div>
        }
    </div>
</div>
