@model Appva.Mcss.Admin.Areas.Devices.Features.Devices.List.ListDeviceModel

@{
    SetTitle("Enheter");
}
<div id="subheader" class="cf">
    <h1>Enheter</h1>
    <p class="filter">
        <strong>Visa:</strong>
        @Html.ActionLink("Alla", "List", new { }, new { @class = (!Model.IsActive.HasValue) ? "sel div" : "div" })
        @Html.ActionLink("Aktiverade", "List", new { isActive = true }, new { @class = (Model.IsActive.GetValueOrDefault(false)) ? "sel div" : "div" })
        @Html.ActionLink("Inaktiverade", "List", new { isActive = false }, new { @class = (!Model.IsActive.GetValueOrDefault(true)) ? "sel div" : "div" })
    </p>
    <div style="float:right">
        <span>Totalt antal rader</span><br />
        <span class="bold">@Model.TotalItemCount.ToString("N")</span>
    </div>
</div>

@if (Model.Items != null && Model.Items.Count > 0)
{
    <div id="content" class="log cf">
        <table>
            <thead>
                <tr class="head">
                    <th scope="col">Registrerad</th>
                    <th scope="col">Beskrivning</th>
                    <th scope="col">Hårdvara</th>
                    <th scope="col">OS</th>
                    <th scope="col">OS version</th>
                    <th scope="col">App version</th>
                    <th scope="col">Bundle id</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr @(item.IsActive ? string.Empty : "style=background-color:#ebf0f8")>
                        <td>@item.CreatedAt</td>
                        <td>@item.Description</td>
                        <td>@item.Hardware</td>
                        <td>@item.OS</td>
                        <td>@item.OSVersion</td>
                        <td>@item.AppVersion</td>
                        <td>@item.AppBundle</td>
                        <td style="text-align: center">
                            @if (item.IsActive)
                            {
                                @Html.ActionLink("Inaktivera", "Inactivate", new { Id = item.Id, IsActive = Model.IsActive, Page = Model.PageNumber }, new { @class = "btn" })
                            }
                            else
                            {
                                @Html.ActionLink("Aktivera", "Reactivate", new { Id = item.Id, IsActive = Model.IsActive, Page = Model.PageNumber }, new { @class = "btn" })
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(x => x
        .DisplayTemplate("Pagination")
        .AddRouteValue("IsActive", Model.IsActive)
        .MaxNrOfPages(15)
        .AlwaysAddFirstPageNumber())
    </div>
}