@using Appva.Mcss.Admin.Application.Common
@model Appva.Mcss.Web.ViewModels.ScheduleListViewModel
@{ ViewBag.Title = "Patients"; }
<div id="main">
    @Html.Partial("~/Areas/Patient/Features/Patient/Partials/_PatientDetails.cshtml", Model.Patient)
    @Html.Partial("~/Features/Shared/_SubMenuPartial.cshtml", Model.Patient)
    <div id="subheader" class="cf">
	    <h1>Signeringslistor</h1>
        @Html.PermissionLink(Permissions.PatientSchedulesCreate, "Ny Lista", "Create", "Schedule", "Patient", new { Id = Model.Patient.Id }, new { @class = "btn lb-link" })
        
    </div>
	<div id="content" class="cf">
		<div id="content-primary">
			<div class="signlist-collection">
                <ul class="cf">
                    @foreach (var schedule in Model.Schedules) {
                        <li>
                            @Html.ActionLink(schedule.ScheduleSettings.Name, "Details", new { id = Model.Patient.Id, scheduleId = schedule.Id })
                            @string.Format("{0:yyyy-MM-dd}", schedule.CreatedAt) Kl @String.Format("{0:H:mm}", schedule.CreatedAt)
                            @Html.PermissionLink(Permissions.PatientSchedulesDelete, "Ta bort", "Inactivate", "Schedule", "Patient", new { id = schedule.Id }, new { @class = "item-delete", @title = "Ta bort listan" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
