@using Appva.Mcss.Admin.Application.Common
@model Appva.Mcss.Web.ViewModels.ScheduleListViewModel
@{ 
    SetTitle("Patients"); 
}
<div id="main">
    @Html.Partial("~/Areas/Patient/Features/Patient/Partials/_PatientDetails.cshtml", Model.Patient)
    @Html.Partial("~/Features/Shared/_SubMenuPartial.cshtml", Model.Patient)
    <div id="subheader" class="cf">
	    <h1>Signeringslistor</h1>
        @Html.ActionLink(Permissions.Schedule.Create, "Ny Lista", "Create", "Schedule", new { Id = Model.Patient.Id }, new { @class = "btn lb-link" })
    </div>
	<div id="content" class="cf">
		<div id="content-primary">
			<div class="signlist-collection">
                <ul class="cf">
                    @foreach (var schedule in Model.Schedules)
                    {
                        <li>
                            @Html.ActionLink(schedule.ScheduleSettings.Name, "Details", new { Id = Model.Patient.Id, ScheduleId = schedule.Id })
                            @string.Format("{0:yyyy-MM-dd}", schedule.CreatedAt) Kl @String.Format("{0:H:mm}", schedule.CreatedAt)
                            @Html.ActionLink(Permissions.Schedule.Inactivate, "Ta bort", "Inactivate", "Schedule", new { Id = Model.Patient.Id, ScheduleId = schedule.Id }, new { @class = "item-delete", @title = "Ta bort listan" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
