@model Appva.Mcss.Admin.Models.OverviewInventoryModel
@using Appva.Mcss.Admin.Application.Common;
<div>
	<div class="heading cf"><h2>@Localizer["Kontrollräkning_narkotika"]</h2></div>
	<div class="panel-c">
        @if (Model.DelayedStockCounts.Count > 0) {
            <h3><img src="@Url.Image("icn-alarm-s.png")" alt=""> @Localizer["Försenade_kontrollräkningar"]</h3>
		    <table>
		    	<thead>
		    		<tr>
		    			<th scope="col">@Localizer["Boende"]</th>
		    			<th scope="col">@Localizer["Preparat"]</th>
		    			<th scope="col">@Localizer["Dagar_kvar"]</th>
		    		</tr>
		    	</thead>
                <tbody>
                    @foreach (var item in Model.DelayedStockCounts) {
                        var daysLeft = item.LastRecount.GetValueOrDefault().Subtract(DateTime.Now.AddDays(-Model.StockControlIntervalInDays)).Days;
                        var daysLeftText = item.LastRecount.HasValue ?
                            string.Format("{0} {1}", daysLeft, (daysLeft == 1 ? Localizer["day"].ToString() : Localizer["days"].ToString())) :
                            string.Format(Localizer["Aldrig_räknad"].ToString());
                        <tr class="urgent">
                            <td>
                                @if (Html.HasPermissionFor(Permissions.Inventory.Read))
                        {
                                    @Html.ActionLink(Permissions.Inventory.Read, item.Patient.FullName,
                            "List", "Inventory", new { id = item.Patient.Id, inventoryId = item.Id }, new { })
                        }
                        else
                        {
                                    @item.Patient.FullName
                        }
                            </td>
                            <td>@item.Description</td>
                            <td>
                                <span>@daysLeftText</span>
                            </td>
                        </tr>
                }
                </tbody>
		    </table>
        }
        @if (Model.CommingStockCounts.Where(x => x.LastRecount.HasValue).ToList().Count > 0) {
		    <h3>@Localizer["Kontrollräkningar"]</h3>
		    <table>
		    	<thead>
		    		<tr>
		    			<th scope="col">@Localizer["Boende"]</th>
		    			<th scope="col">@Localizer["Preparat"]</th>
		    			<th scope="col">@Localizer["Dagar_kvar"]</th>
		    		</tr>
		    	</thead>
                <tbody>
                    @foreach (var item in Model.CommingStockCounts)
                    {
                        if (item.LastRecount.HasValue)
                        {
                            var daysLeft = item.LastRecount.GetValueOrDefault().Subtract(DateTime.Now.AddDays(-Model.StockControlIntervalInDays)).Days;
                            var daysLeftText = item.LastRecount.HasValue ?
                                string.Format("{0} {1}", daysLeft, (daysLeft == 1 ? Localizer["day"].ToString() : Localizer["days"].ToString())) :
                                string.Format(Localizer["Aldrig_räknad"].ToString());
                            <tr class="@((daysLeft <= 7) ? "urgent" : "")">
                                <td>
                                    @if (Html.HasPermissionFor(Permissions.Inventory.Read))
                                    {
                                        @Html.ActionLink(Permissions.Inventory.Read, item.Patient.FullName,
                                 "List", "Inventory", new { id = item.Patient.Id, inventoryId = item.Id }, new { })
                                    }
                                    else
                                    {
                                        @item.Patient.FullName
                                    }
                                </td>
                                <td>@item.Description</td>

                                <td>
                                    <span>@daysLeftText</span>
                                </td>
                            </tr>
                        }
                    }
                </tbody>

		    </table>
        }
        @if (Model.CommingStockCounts.Count == 0 && Model.DelayedStockCounts.Count == 0) {
            <div class="no-data">
                <h3>@Localizer["Inga_försenade_kontrollräkningar"]</h3>
            </div>
        }
	</div>
</div>
