<!DOCTYPE html>
<!--[if IE 8]><html class="ie8"> <![endif]-->
<!--[if IE 9]><html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie">
<!--<![endif]-->
    <head>
        <title>@Title() - OAuth Server</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="Content-Language" content="@UICulture" />
        @RenderMeta()
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/oauth-errors.css")" />
    </head>
    <body class="@BodyCssClass()">
        <div class="header">
            <img src="@Url.Content("~/Content/images/logo-sm.png")" alt="" style="margin-top: -4px;">
        </div>
        @RenderBody()
    </body>
</html>