@using Appva.Mcss.Admin.Application.Extensions 
@model SignInForm
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle("Logga in");
    SetBodyCssClass("page-sign-in");
}
<div class="hd org">
    <img src="@Url.Content("~/Assets/i/appva-logo-icon.png")" alt="Appva MCSS" />
	<span>@Tenant</span>
</div>
<div class="bd">
    <div class="note">@Html.ActionLink("Klicka här", "SignInSiths") för att logga in med ditt SITHS eID</div>
	@using (Html.Post())
    {
        @Html.ValidationAlert("Felaktigt användarnamn och/eller lösenord", string.Empty, new {  @class = "error-msg" })
        @Html.FormGroup(x => x.UserName).Label("Användarnamn").TextBox("Ditt användarnamn").Build()
        @Html.FormGroup(x => x.Password).Label("Lösenord").Password("Ditt lösenord").Build()
		<div class="hr"></div>
        @Html.Submit("Logga in", new { @class = "btn" })
		@Html.ActionLink("Glömt lösenord?", "Forgot", "Account", null, new { @class = "btn btn-right forgot" })
    }
</div>