@using Appva.Mcss.Admin.Application.Extensions
@model SignInForm
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle(Localizer["Logga_in"].ToString());
    SetBodyCssClass("page-sign-in");
}
<div class="hd org">
    <img src="@Url.Content("~/Assets/i/appva-logo-icon.png")" alt="Appva MCSS" />
    <span>@Tenant</span>
</div>
<div class="bd">
    <div class="note">@Html.ActionLink(Localizer["Klicka_här"].ToString(), "SignInSiths")  @Localizer["för_att_logga_in_med_ditt_SITHS_eID"]</div>
    @using (Html.Post(null, new { ReturnUrl = Model.ReturnUrl }))
    {
        @Html.ValidationAlert(Localizer["Felaktigt_användarnamn_och_eller_lösenord"].ToString(), string.Empty, new { @class = "error-msg" })
        @Html.FormGroup(x => x.UserName).Label(Localizer["Användarnamn"].ToString()).TextBox(Localizer["Ditt_användarnamn"].ToString()).Build()
        @Html.FormGroup(x => x.Password).Label(Localizer["Lösenord"].ToString()).Password(Localizer["Ditt_lösenord"].ToString()).Build()
        <div class="hr"></div>
        @Html.Submit(Localizer["Logga_in"].ToString(), new { @id = "submit-form", @class = "btn" })
        @Html.ActionLink(Localizer["Glömt_lösenord_"].ToString(), "Forgot", "Account", null, new { @class = "btn btn-right forgot" })
    }
  
</div>