@model Appva.Mcss.Admin.Features.Area51.ArticleOption.ArticleOption
@{
    SetTitle("Area 51 - Beställningslista");
}
@Html.Partial("_Area51MenuPartial")
<div id="subheader" class="cf">
    <h1>Beställningslista</h1>
</div>
<div id="content" class="cf">
    <div id="content-primary">
        <div id="signlist" class="articlecategory">
            <table id="signed-events">
                <thead class="head">
                    <tr>
                        <th>Steg</th>
                        <th>Inställning</th>
                        <th class="prtd">Status</th>
                        <th class="prtd-140">Åtgärd</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Skapa artikelkategorier för listor med beställningsfunktion.</td>
                        <td class="prtd">@(Model.HasCreatedCategories ? "Har exekverats" : "Ej exekverad")</td>
                        <td class="prtd-140 btnpad">@Html.ActionLink("Kör skript", "migratecategories", "article", new { @class = "btn" })</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Påbörja migrering från <b>Sequence</b> till <b>Article</b> och <b>ArticleCategory</b>.</td>
                        <td class="prtd">@(Model.HasMigratedArticles ? "Har exekverats" : "Ej exekverad")</td>
                        <td class="prtd-140 btnpad">
                            @if (Model.HasCreatedCategories)
                            {
                                @Html.ActionLink("Kör skript", "migratearticles", "article", new { @class = "btn" })
                            }
                            else
                            {
                                <a href="javascript:;" class="btn" style="opacity:.5">Kör skript</a>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>