@model IList<Appva.Mcss.Admin.Features.Area51.Cache.ListSetting>
@{
    Title("Inställningar");
}
@Html.Partial("_Area51MenuPartial")
<div id="subheader" class="cf">
    <h1>Inställningar</h1>
    @Html.ActionLink("Ny inställning", "Create", null, new { @class = "btn lb-link" })
</div>
<table id="signed-events" style="background:#fff;">
    <thead class="head">
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@Html.Serialize(item.Value)</td>
                <td>
                    @Html.ActionLink("Redigera", "Update", new { Id = item.Id }, new { @class = "btn" })
                </td>
            </tr>
        }
    </tbody>
</table>

<table id="signed-events" style="background:#fff;">
    <thead class="head">
        <tr>
            <th>Type</th>
            <th>Value</th>
            <th>Issuer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in this.Request.GetOwinContext().Authentication.User.Claims)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
                <td>@claim.Issuer</td>
            </tr>
        }
    </tbody>
</table>