@model Appva.Mcss.Web.ViewModels.InventoryTransactionItemViewModel
@{ 
    SetTitle("Tillför mängd"); 
}
<div class="std-panel std-form lb-panel-small lb-validate-form" data-valclass="AddToStock" data-valparams="">
    @using (Html.BeginForm("Create", "Inventory", new { id = Model.InventoryId, returnUrl = Model.ReturnUrl })) {
        <h3 class="section-title">Uttag från @Model.InventoryName</h3>
        <div class="text medium">
            @Html.FormGroup(m => m.Value).Label().TextBox(htmlAttributes: new { /*@type = "number", @min = "0", @max = "9999", step = "any"*/ }).Validate().Build()
            @Html.FormGroup(m => m.Description).Label().TextArea("Frivilligt").Validate().Build()
            @Html.HiddenFor(m => m.SequenceId)
            @Html.HiddenFor(m => m.InventoryId)
            @Html.HiddenFor(m => m.Operation)
        </div>
        <div class="submit">
            @Html.AntiForgeryToken()
            @Html.Submit("Spara")
            @Html.Cancel("Avbryt")
        </div>
    }
</div>