@using Appva.Mcss.Admin.Application.Common;
@model ListAlertModel
@{
    SetTitle(Localizer["Larm"].ToString());
}
@Html.Partial("~/Areas/Patient/Features/Patient/Partials/_PatientDetails.cshtml", Model.Patient)
@Html.Partial("~/Features/Shared/_SubMenuPartial.cshtml", Model.Patient)
<div id="subheader" class="cf">
    <h1>@Localizer["Larm"]</h1>
    @using (Html.Get("List", "Alert", new { id = Model.Patient.Id }, null)) 
    {
        <p class="filter">
            <strong>@Localizer["Tid_"]</strong>
            @Html.DropDownList("year", Model.Years, Localizer["År"].ToString())
            @Html.DropDownList("month", Model.Months, Localizer["Månad"].ToString())
            @Html.Submit(Localizer["Visa"].ToString())
        </p>
    }
    @Html.ActionLink(Permissions.Alert.HandleAll, Localizer["Kvittera_alla_larm"].ToString(), "HandleAll", "Alerts", new { Id = Model.Patient.Id, StartDate = Model.StartDate, EndDate = Model.EndDate }, new { @class = "btn alarm-stop-all" })
</div>
<div id="content" class="cf">
    <div id="content-primary">
        @if (Model.TaskCurrentMap.Count() == 0) 
        {
            <div id="alarm-status">
                <h2 class="ok">@Localizer["Inga_pågående_larm"]</h2>
            </div>
        }
        else 
        {
            foreach (var TimeOfDay in Model.TaskCurrentMap) 
            {
                <div class="alarm-view active-alarm alarm">
                    @foreach (var schedule in Model.TaskCurrentMap[TimeOfDay.Key]) 
                    {
                        var day = string.Empty;
                        if (TimeOfDay.Key.Date == DateTime.Today) 
                        {
                            day = Localizer["idag"].ToString();
                        }
                        else if (TimeOfDay.Key.Date == DateTime.Today.AddDays(-1)) 
                        {
                            day = Localizer["igår"].ToString();
                        }
                        <div class="heading cf">
                            <h2>@schedule.Key.ScheduleSettings.Name kl @string.Format("{0:HH:mm}", TimeOfDay.Key) @day den @string.Format("{0:d MMMM yyyy}", TimeOfDay.Key)</h2>
                        </div>
                        <div class="body">
                            <strong>@Localizer["Följande_aktiviteter_genomfördes_inte_i_tid_"]</strong>
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">@Localizer["Aktivitet"]</th>
                                        <th scope="col">@Localizer["Skulle_genomföras"]</th>
                                        <th scope="col">@Localizer["Status"]</th>
                                        <th scope="col">@Localizer["Signerat_av"]</th>
                                        <th scope="col">@Localizer["Kvittera"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Item in Model.TaskCurrentMap[TimeOfDay.Key][schedule.Key])
                                    {
                                        var interval = string.Empty;
                                        if (Item.RangeInMinutesAfter == Item.RangeInMinutesBefore)
                                        {
                                            interval = string.Format("±{0}", Item.RangeInMinutesAfter);
                                        }
                                        else
                                        {
                                            interval = string.Format("-{0} +{1}", Item.RangeInMinutesBefore, Item.RangeInMinutesAfter);
                                        }
                                        <tr>
                                            <td>@Item.Sequence.Name</td>
                                            <td>kl @string.Format("{0:HH:mm}", Item.Scheduled) @interval min</td>
                                            <td>
                                                @if (! Item.IsCompleted)
                                                {
                                                    @Localizer["Har_ej_genomförts"]
                                                }
                                                else {
                                                    @:Genomfördes för sent (@TimeSpanDifference.ToReadableText(Item.Scheduled.AddMinutes(Item.RangeInMinutesAfter), Item.CompletedDate.GetValueOrDefault()))
                                                    @(string.Format(Localizer["_0date___0time__med_status__1_"].ToString(), Item.CompletedDate.GetValueOrDefault(), Item.StatusTaxon != null ? Item.StatusTaxon.Name : ""))
                                                }
                                            </td>
                                            <td>
                                                @if (Item.CompletedBy.IsNotNull())
                                                {
                                                    if (Html.HasPermissionFor(Permissions.Delegation.Read))
                                                    {
                                                        @Html.ActionLink(Permissions.Delegation.Read, Item.CompletedBy.FullName, "List", "Delegation", new { Id = Item.CompletedBy.Id, Area = "Practitioner" }, null)
                                                    }
                                                    else
                                                    {
                                                        @Item.CompletedBy.FullName
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @Html.ActionLink(Permissions.Alert.Handle, Localizer["Kvittera_larm"].ToString(), "Handle", "Alerts", new { Id = Model.Patient.Id, TaskId = Item.Id, StartDate = Model.StartDate, EndDate = Model.EndDate }, new { @class = "btn alarm-stop" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            }
        }
        @if (Model.TaskEarlierMap.Count() > 0) 
        {
            <div class="h cf">
                <h2>@Localizer["Kvitterade_larm"]</h2>
            </div>
            <div id="signed-events" class="alarm-list">
                <table>
                    <thead>
                        <tr class="head">
                            <th scope="col">@Localizer["Dag"]</th>
                            <th scope="col">@Localizer["Tid"]</th>
                            <th scope="col">@Localizer["Ansvarig_ssk"]</th>
                            <th scope="col">@Localizer["Hanterat_av"]</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var TimeOfDay in Model.TaskEarlierMap.OrderByDescending(x => x.Key))
                        {
                            bool Processed = true;
                            foreach (var schedule in Model.TaskEarlierMap[TimeOfDay.Key])
                            {
                                var quittencedBy = new List<string>();
                                foreach (var Item in Model.TaskEarlierMap[TimeOfDay.Key][schedule.Key])
                                {
                                    if (! Item.DelayHandled)
                                    {
                                        Processed = false;
                                    }
                                    if (Item.DelayHandledBy.IsNotNull() && !quittencedBy.Contains(Item.DelayHandledBy.FullName)) {
                                        quittencedBy.Add(Item.DelayHandledBy.FullName);
                                    }
                                }
                                var scheduledDate = string.Format("{0:yyyy-MM-dd}", TimeOfDay.Key);
                                if (TimeOfDay.Key.Date == DateTime.Today)
                                {
                                    scheduledDate = Localizer["Idag"].ToString();
                                }
                                else if (TimeOfDay.Key.Date == DateTime.Today.AddDays(-1))
                                {
                                    scheduledDate = Localizer["Igår"].ToString();
                                }
                                <tr>
                                    <td>@scheduledDate</td>
                                    <td>kl @string.Format("{0:HH:mm}", TimeOfDay.Key)</td>
                                    <td></td>
                                    <td>@string.Join(", ", quittencedBy.ToArray())</td>
                                    <td><a class="btn" href="#">@Localizer["Visa"]</a></td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="view">
                                        <div class="alarm-view">
                                            <div class="heading cf">
                                                @if (Processed)
                                                {
                                                    <h2>
                                                        <strong>@Localizer["Åtgärdat_larm_"]</strong> @schedule.Key.ScheduleSettings.Name kl
                                                        @string.Format("{0:HH:mm}", TimeOfDay.Key) den
                                                        @string.Format("{0:d MMMM yyyy}", TimeOfDay.Key)
                                                    </h2>
                                                }
                                                else {
                                                    <h2><strong>@Localizer["Ej_åtgärdat_larm_"]</strong></h2>
                                                }
                                            </div>
                                            <div class="body">
                                                <strong>@Localizer["Följande_aktiviteter_genomfördes_inte_i_tid_"]</strong>
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">@Localizer["Aktivitet"]</th>
                                                            <th scope="col">@Localizer["Skulle_genomföras"]</th>
                                                            <th scope="col">@Localizer["Status"]</th>
                                                            <th scope="col">@Localizer["Signerat_av"]</th>
                                                            <th scope="col">@Localizer["Hanterat_av"]</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var Item in Model.TaskEarlierMap[TimeOfDay.Key][schedule.Key]) {

                                                            var interval = string.Empty;
                                                            if (Item.RangeInMinutesAfter == Item.RangeInMinutesBefore) {
                                                                interval = string.Format("±{0}", Item.RangeInMinutesAfter);
                                                            }
                                                            else {
                                                                interval = string.Format("-{0} +{1}", Item.RangeInMinutesBefore, Item.RangeInMinutesAfter);
                                                            }
                                                            <tr>
                                                                <td>@Item.Sequence.Name</td>
                                                                <td>kl @string.Format("{0:HH:mm}", Item.Scheduled) @interval min</td>
                                                                <td>
                                                                    @if (Item.IsCompleted)
                                                                    {
                                                                        @:Genomfördes för sent (@TimeSpanDifference.ToReadableText(Item.Scheduled.AddMinutes(Item.RangeInMinutesAfter), Item.CompletedDate.GetValueOrDefault()))
                                                                        @(string.Format("{0:d MMMM yyyy}, kl {0:HH:mm} med status '{1}'", Item.CompletedDate.GetValueOrDefault(), Item.StatusTaxon.Name))
                                                                    }
                                                                    else {
                                                                        @:Har ej genomförts
                                                                }
                                                                </td>
                                                                <td>
                                                                    @if (Item.CompletedBy.IsNotNull()) {
                                                                        if (Html.HasPermissionFor(Permissions.Delegation.Read))
                                                                        {
                                                                            @Html.ActionLink(Permissions.Delegation.Read, Item.CompletedBy.FullName, "List", "Delegation", new { Id = Item.CompletedBy.Id, Area = "Practitioner" }, null)
                                                                        }
                                                                        else
                                                                        {
                                                                            @Item.CompletedBy.FullName
                                                                        }
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @if (Item.DelayHandledBy.IsNotNull()) {
                                                                        if (Html.HasPermissionFor(Permissions.Delegation.Read))
                                                                        {
                                                                            @Html.ActionLink(Permissions.Delegation.Read, Item.DelayHandledBy.FullName, "List", "Delegation", new { Id = Item.DelayHandledBy.Id, Area = "Practitioner" }, null)
                                                                        }
                                                                        else
                                                                        {
                                                                            @Item.DelayHandledBy.FullName
                                                                        }
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>