@model Appva.Mcss.Admin.Areas.Backoffice.Models.CreateOrganizationalUnitModel
@{
    SetTitle("Ny Organisationsenhet");
}
<div class="std-panel std-form lb-panel-small lb-validate-form">
    @using (Html.Post(new { }, new { Model.ParentId }))
    {
        <div>
            <h3 class="section-title">Ny Organisationsenhet</h3>
            @Html.FormGroup(x => x.Name, "text").Label().TextBox().Validate().Build()
            @Html.FormGroup(x => x.Description, "text large").Label().TextArea().Validate().Build()
            @Html.FormGroup(x => x.Weight, "text large").Label().TextBox().Validate().Build()
            @Html.DropDownListFor(x => x.Type, Model.Types)
        </div>
        <div class="submit">
            @Html.Submit("Spara", new { @class = "btn" })
        </div>
    }
</div>