@using Appva.Mcss.Admin.Application.Common
@model Appva.Mcss.Admin.Models.ListMeasurementModel

@{ 
    SetTitle("Mätvärden");
}

@Html.Partial("~/Areas/Patient/Features/Patient/Partials/_PatientDetails.cshtml", Model.Patient)
@Html.Partial("~/Features/Shared/_SubMenuPartial.cshtml", Model.Patient)

<div class="section section--hspace">


    <div class="inliner">
        <h2>Mätvärden</h2>
        <div>
            <a class="button button--ml open-in-dialog" href="@Url.Action("create", "measurement")#add-observation" data-dialog-title="Lägg till mätvärde" data-dialog-symbol="+">
                <svg class="icon icon--mr" aria-hidden="true">
                    <use xlink:href="/project/images/icons/icon.sprite.svg#plus-icon"></use>
                </svg>Lägg till
            </a>
        </div>
    </div>

    <div>
        <div class="grid">
            <div data-size="xs:24 s:10 m:8 l:6 xl:6">
                <div class="tabs tabs--vertical tabs--dynamic" role="navigation" data-tab-target="measurements">

                    <h2 class="visually-hidden">Huvudnavigering</h2>
                    <ul>
                        <li class="tabs__item tabs__item--selected">
                            <a href="@Url.Action("list", "measurement")">Alla</a>
                        </li>
                        @foreach (var item in Model.MeasurementList)
                        {
                            <li class="tabs__item">
                                <a href="@Url.Action("view","measurement", new { MeasurementId = item.Id })#measurements">@item.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div id="measurements" data-size="xs:24 s:14 m:16 l:18 xl:18">


            </div>
        </div>
    </div>
</div>