@model Appva.Mcss.Admin.Areas.Area51.Models.CalendarIndexModel
@{
	SetTitle("Area 51 - Kalender");
}
@Html.Partial("_Area51MenuPartial")
<div id="subheader" class="cf">
	<h1>Kalender</h1>
	@using (Html.Post("InstallColors", "Calendar", null))
	{
		@Html.Submit("Installera färger", new { @class = "btn" })
	}
</div>
<div id="content" class="cf">
	<div id="content-primary">
		@Html.Alert()
        <div>
            <ul>
                @foreach (var cat in Model.Categories)
                {
                    <li style="padding:5px;margin:10px;border-bottom:solid 1px #a7bbca">
                        @cat.Name 
                        <span style ="float:right;">Color:
                            @if (cat.Color != null && cat.Color != "")
                            {
                                <span style="padding:5px;background:@cat.Color;color:#fff;">@cat.Color</span>
                            }
                            else
                            {
                                @:Färg saknas
                            }
                            
                        </span>
                    </li>
                }
            </ul>
        </div>
	</div>
</div>