@model CreateScheduleForm
@{ 
    SetTitle("Ny signeringslista"); 
}
<div class="std-panel std-form lb-panel-small lb-validate-form" data-valclass="ScheduleCreate" data-valparams="id=@Model.Id;url=@Url.Action("VerifyUnique", "Schedule", new { Id = Model.Id })">
	@using (Html.Post())
    {
		<h3 class="section-title">Ny signeringslista</h3>
		<div class="select">
			@Html.LabelFor(x => x.ScheduleSetting)
			@Html.DropDownListFor(
				x => x.ScheduleSetting,
				new SelectList(Model.Items, "Value", "Text", Model.ScheduleSetting),
				"Välj typ ..."
			)
			@Html.ValidationMessageFor(x => x.ScheduleSetting)
		</div>
		<div class="submit">
			@Html.Submit("Spara")
			@Html.Cancel("Avbryt")
		</div>
	}
</div>