@using Appva.Core.Utilities;
@using Appva.Mcss.Admin.Application.Common;
@model Appva.Mcss.Web.ViewModels.TaskListViewModel
@{ 
	ViewBag.Title = Localizer["Signerade_händelser"].ToString();
	var today = DateTimeUtilities.Now().Date;
    var yesterday = DateTimeUtilities.Now().Date.AddDays(-1);
	var isFilterByTodaySelected = (Model.StartDate.HasValue && Model.StartDate.Value.Equals(today))
		&& (Model.EndDate.HasValue && Model.EndDate.Value.Equals(today.LastInstantOfDay()));
	var isFilterByYesterdaySelected = (Model.StartDate.HasValue && Model.StartDate.Value.Equals(yesterday))
        && (Model.EndDate.HasValue && Model.EndDate.Value.Equals(yesterday.LastInstantOfDay()));
	var isInventory = (Model.Schedule != null) ? (Model.Schedule.HasInventory || Model.Schedule.CountInventory) : false;
}
@Html.Partial("~/Areas/Patient/Features/Patient/Partials/_PatientDetails.cshtml", Model.Patient)
@Html.Partial("~/Features/Shared/_SubMenuPartial.cshtml", Model.Patient)

<div id="subheader" class="cf">
	<h1>@Localizer["Signerade_händelser"]</h1>
	@if (Model.Schedule != null) {
		using (Html.BeginForm("Sign", "Schedule", FormMethod.Get)) {
			<p class="filter"><strong>@Localizer["Tid_"]</strong>
			@Html.Hidden("scheduleSettingsId", Request["scheduleSettingsId"])
			@Html.Hidden("order", (int)Model.Order)
            @Html.DropDownListFor(x => x.Year, Model.Years, Localizer["År"].ToString())
			@Html.DropDownList("month", Model.Months, Localizer["Månad"].ToString())
			@Html.Submit(Localizer["Visa"].ToString())
			<strong>@Localizer["Typ_"]</strong>
			@Html.ActionLink(Localizer["Alla"].ToString(), "Sign",
				new { id = Model.Patient.Id, scheduleSettingsId = Model.Schedule.Id },
				new { @class = (!Model.FilterByAnomalies && !Model.FilterByNeedsBasis) ? "sel div" : "div" })
			@Html.ActionLink(Localizer["Endast_avvikelser"].ToString(), "Sign",
				new { Id = Model.Patient.Id, scheduleSettingsId = Model.Schedule.Id, year = Model.Year, month = Model.Month, filterByAnomalies = true },
				new { @class = (Model.FilterByAnomalies) ? "sel div" : "div" })
			@Html.ActionLink(Localizer["Endast_vid_behov"].ToString(), "Sign",
				new { Id = Model.Patient.Id, scheduleSettingsId = Model.Schedule.Id, year = Model.Year, month = Model.Month, filterByNeedsBasis = true },
				new { @class = (Model.FilterByNeedsBasis) ? "sel div" : "div" })
			</p>
			@Html.ActionLink(Localizer["Skapa_pdf"].ToString(), "PrintPopUp",
				new { id = Model.Patient.Id, scheduleSettingsId = Model.Schedule.Id, startDate = Model.StartDate, endDate = Model.EndDate }, new { @class = "btn printp lb-link" })
		}
	}
</div>
<div id="content" class="has-nav report-view cf">
    <div class="inventory-nav">
	@if (Model.ActiveScheduleSettings.Count > 0)
    {
        if (Model.InactiveScheduleSettings.Count > 0)
        {
        <h3>@Localizer["Aktuella"]</h3>
        }
		<ul>
			@foreach (var schedule in Model.ActiveScheduleSettings) 
            {
				<li class="@(Model.Schedule.Id.Equals(schedule.Id) ? "sel" : "")"> 
					@Html.ActionLink(schedule.Name, "Sign", new { Id = Model.Patient.Id, ScheduleSettingsId = schedule.Id, StartDate = Model.StartDate, EndDate = Model.EndDate, FilterByNeedsBasis = Model.FilterByNeedsBasis, FilterByAnomalies = Model.FilterByAnomalies })
				</li>
	        }
		</ul>
	}
    @if (Model.InactiveScheduleSettings.Count > 0)
    {
        <h3>@Localizer["Borttagna"]</h3>
		<ul>
			@foreach (var schedule in Model.InactiveScheduleSettings) 
            {
				<li class="@(Model.Schedule.Id.Equals(schedule.Id) ? "sel" : "")"> 
					@Html.ActionLink(schedule.Name, "Sign", new { Id = Model.Patient.Id, ScheduleSettingsId = schedule.Id, StartDate = Model.StartDate, EndDate = Model.EndDate, FilterByNeedsBasis = Model.FilterByNeedsBasis, FilterByAnomalies = Model.FilterByAnomalies })
				</li>
	        }
		</ul>
	}
    </div>
	<div id="content-primary">
		@if (Model.Search == null || Model.Search.TotalItemCount == 0)
        {
			<div id="alarm-status">
				<h2 class="ok">@Localizer["Inga_signerade_händelser_för_angiven_tidsperiod"]</h2>
			</div>
		}
		else { 
			<div id="signed-events">
				<table>
					<thead>
						<tr class="head">
							<th scope="col">
								@Html.ActionLink(
									Localizer[isInventory ? "Insats" : "Preparat"].ToString(),
									"Sign",
									new
									{
										id = Model.Patient.Id,
										scheduleSettingsId = Model.Schedule.Id,
										startDate = Model.StartDate,
										endDate = Model.EndDate,
										filterByAnomalies = Model.FilterByAnomalies,
										page = Request["page"],
										order = 0
									},
									new { @class = (int)Model.Order == 0 ? "sort" : "" })
							</th>
							<th scope="col">
								@Html.ActionLink(
                                    Localizer["Dag"].ToString(),
									"Sign",
									new
									{
										id = Model.Patient.Id,
										scheduleSettingsId = Model.Schedule.Id,
										startDate = Model.StartDate,
										endDate = Model.EndDate,
										filterByAnomalies = Model.FilterByAnomalies,
										page = Request["page"],
										order = 1
									},
									new { @class = (int)Model.Order == 1 ? "sort" : "" })
							</th>
							<th scope="col">
								@Html.ActionLink(
                                    Localizer["Tid"].ToString(),
									"Sign",
									new
									{
										id = Model.Patient.Id,
										scheduleSettingsId = Model.Schedule.Id,
										startDate = Model.StartDate,
										endDate = Model.EndDate,
										filterByAnomalies = Model.FilterByAnomalies,
										page = Request["page"],
										order = 2
									},
									new { @class = (int)Model.Order == 2 ? "sort" : "" })
							</th>
							<th scope="col">
								@Html.ActionLink(
									Localizer["Skulle_ges"].ToString(),
									"Sign",
									new
									{
										id = Model.Patient.Id,
										scheduleSettingsId = Model.Schedule.Id,
										startDate = Model.StartDate,
										endDate = Model.EndDate,
										filterByAnomalies = Model.FilterByAnomalies,
										page = Request["page"],
										order = 3
									},
									new { @class = (int)Model.Order == 3 ? "sort" : "" })
							</th>
							<th scope="col">
								@Html.ActionLink(
									Localizer["Signerat_av"].ToString(),
									"Sign",
									new
									{
										id = Model.Patient.Id,
										scheduleSettingsId = Model.Schedule.Id,
										startDate = Model.StartDate,
										endDate = Model.EndDate,
										filterByAnomalies = Model.FilterByAnomalies,
										page = Request["page"],
										order = 4
									},
									new { @class = (int)Model.Order == 4 ? "sort" : "" })
							</th>
							<th scope="col">
								@Html.ActionLink(
                                    Localizer["Status"].ToString(),
									"Sign",
									new
									{
										id = Model.Patient.Id,
										scheduleSettingsId = Model.Schedule.Id,
										startDate = Model.StartDate,
										endDate = Model.EndDate,
										filterByAnomalies = Model.FilterByAnomalies,
										page = Request["page"],
										order = 5
									},
									new { @class = (int)Model.Order == 5 ? "sort" : "" })
							</th>
							@if (Html.HasPermissionFor(Permissions.Area51.Read) || User.IsInRole(Appva.Core.Resources.RoleTypes.Appva))
							{
								<th scope="col"></th>
							}
						</tr>
					</thead>
					<tbody>
						@if (Model.Search.IsNotNull())
						{
							foreach (var task in Model.Search.Items)
							{
								<tr class="@(!task.IsActive ? "modified" : "") @((task.Delayed || (task.Status > 1 && task.Status < 5) || (task.StatusTaxon.IsNotNull() ? task.StatusTaxon.Weight > 1 : false)) ? "alarm" : "")">
									<td>@task.Name</td>
									<td>
										@if (!task.IsCompleted) {
											@:-
										} else {
                                            @Html.DateString(task.OnNeedBasis, task.UpdatedAt, task.CompletedDate)
										}
									</td>
									<td>
										@if (task.Delayed && task.CompletedBy.IsNull()) {
											@Localizer["Ej_signerad"]
										} else {
											if (task.OnNeedBasis) {
												@Localizer["kl_{0:HH:mm}", task.UpdatedAt]
											} else {
											    @Localizer["kl_{0:HH:mm}", task.CompletedDate.GetValueOrDefault()]
											}
										}
									</td>
									<td>
                                        @TimeSpanDifference.ToShortDateTime(task.Scheduled, Localizer["Idag"].ToString(), Localizer["Igår"].ToString()) kl @String.Format("{0:HH:mm}", task.Scheduled)
										@if (task.RangeInMinutesBefore.Equals(task.RangeInMinutesAfter)) {
											@:±@task.RangeInMinutesBefore min
										} else {
											@:+@task.RangeInMinutesAfter -@task.RangeInMinutesBefore min
										}
									</td>
									<td>
										@if (task.CompletedBy.IsNotNull()) {
											@task.CompletedBy.FullName
										} else {
											@:--
										}
									</td>
									<td>
										@if (task.StatusTaxon != null)
										{
											<img src="@Url.Image(task.StatusTaxon.Path)" alt="@task.StatusTaxon.Name" />
											if (task.Delayed && task.StatusTaxon.Weight < 2)
											{
												<strong>@Localizer["Avvikelse_"]</strong> @Localizer["Ej_signerad"]@String.Format("{0} för sent", task.StatusTaxon.Name)
											}
											else if (task.StatusTaxon.Weight > 1)
											{
												<strong>@Localizer["Avvikelse_"]</strong> @task.StatusTaxon.Name
											}
											else
											{
												@task.StatusTaxon.Name
											}
										}
										else
										{
											if (task.Status.Equals(1))
											{
												<img src="@Url.Image("icn-ok.png")" alt="OK" />
												if (task.Delayed)
												{
													<strong>@Localizer["Avvikelse_"]</strong> @Localizer["Given_för_sent"]
												}
												else
												{
													@Localizer["OK"]
												}
											}
											else if (task.Status.Equals(2))
											{
												<img src="@Url.Image("icn-part.png")" alt="Delvis given" />
												<strong>@Localizer["Avvikelse_"]</strong> @Localizer["Delvis_given"]
											}
											else if (task.Status.Equals(3))
											{
												<img src="@Url.Image("icn-none.png")" alt="Ej given" />
												<strong>@Localizer["Avvikelse_"]</strong> @Localizer["Ej_given"]
											}
											else if (task.Status.Equals(4))
											{
												<img src="@Url.Image("icn-nothx.png")" alt="Kan ej ta" />
												<strong>@Localizer["Avvikelse_"]</strong> @Localizer["Kan_ej_ta"] 
											}
											else if (task.Status.Equals(5))
											{
												<img src="@Url.Image("icn-sent.png")" alt="Medskickad" /> @Localizer["Medskickad"]
											}
											else if (task.Status.Equals(6))
											{
												<img src="@Url.Image("icn-none.png")" alt="Larm" />
												<strong>@Localizer["Avvikelse_"]</strong> @Localizer["Räknad_mängd_stämmer_ej_med_saldo"]
											}
											else
											{
												if (task.Delayed)
												{
													<img src="@Url.Image("icn-alarm.png")" alt="Larm" />
													<strong>@Localizer["Avvikelse_"]</strong>
                                                    if (task.DelayHandled)
                                                    {
                                                        if (Html.HasPermissionFor(Permissions.Alert.Read))
                                                        {
                                                            @Html.ActionLink(Localizer["Larm_åtgärdat"].ToString(), "List", "Alerts", new { Area = "patient", id = task.Patient.Id }, null)
                                                        }
                                                        else
                                                        {
                                                            @Localizer["Larm_åtgärdat"]
                                                        }
                                                    }
                                                    else
                                                    {
														@Localizer["Ej_given"]
													}
												}
											}
										}
										
									</td>
									@if (Html.HasPermissionFor(Permissions.Area51.Read) || User.IsInRole(Appva.Core.Resources.RoleTypes.Appva))
									{
										<td>
											@Html.ActionLink(Localizer["Ta_bort"].ToString(), "DeleteTask", new { id = Model.Patient.Id, taskId = task.Id }, new { @class = "btn" })
										</td>
									}
								</tr>
							}
						}
					</tbody>
				</table>
				@if (Model.Search.IsNotNull())
				{
					@Html.Pager(Model.Search.PageSize, Model.Search.PageNumber, Model.Search.TotalItemCount).Options(o => o
						.DisplayTemplate("Pagination")
						.MaxNrOfPages(15)
						.AlwaysAddFirstPageNumber()
						.AddRouteValue("scheduleSettingsId", Model.Schedule.Id)
						.AddRouteValue("startDate", Model.StartDate)
						.AddRouteValue("endDate", Model.EndDate)
						.AddRouteValue("filterByAnomalies", Model.FilterByAnomalies)
						.AddRouteValue("filterByNeedsBasis", Model.FilterByNeedsBasis)
						.AddRouteValue("order", (int)Model.Order))
				}
			</div>
		}
	</div>
</div>