@using Appva.Mcss.Admin.Application.Common;
@model Appva.Mcss.Admin.Areas.Models.ListDelegationModel
@{ 
    SetTitle("Aktuella delegeringar, {0}", Model.Account.FullName); 
}
@if (! Model.IsAccountVisibilityHidden)
{
<div id="main" class="delegate-view">    
    @Html.Partial("~/Areas/Practitioner/Features/Accounts/_AccountDetails.cshtml", Model.Account)
    @Html.Partial("~/Features/Shared/_SubMenuPartial.cshtml", Model.Account)
    <div id="subheader" class="cf">
		<h1>Aktuell delegering</h1>
        @Html.ActionLink(Permissions.Delegation.Read, "Skriv ut delegeringsbeslut", "DelegationPrint", new { id = Model.Account.Id }, new { @class = "btn printp" })
		@Html.ActionLink(Permissions.Delegation.Create, "Lägg till delegering", "Create", new { id = Model.Account.Id }, new { @class = "btn lb-link" })    
	</div>
    <div id="content">
		<div id="content-primary">
            @foreach (var keyValue in Model.DelegationMap) 
            {
			    <div class="h cf">
                    <h2>@keyValue.Key</h2>
                    @Html.ActionLink(Permissions.Delegation.Update, "Förnya samtliga delegeringar", "Update", 
                        new { id = Model.Account.Id, taxonId = keyValue.Value[0].Taxon.Id }, new { @class = "btn lb-link" })
                    @Html.ActionLink(Permissions.Delegation.Update, "Aktivera samtliga delegeringar", "ActivateAll",
                        new { accountId = Model.Account.Id }, new { @class = "btn" })
                </div>
	            <div id="signed-events">
		            <table>
			            <thead>
				            <tr class="head">
					            <th scope="col" colspan="2">Delegering</th>
					            <th scope="col" class="pats">För boende</th>
                                <th scope="col" class="pats">Utfärdad av</th>
					            <th scope="col">Gäller</th>
					            <th scope="col" class="btns"></th>
				            </tr>
			            </thead>
			            <tbody>
                            @foreach (var delegation in keyValue.Value) {
				            <tr class="@(delegation.Pending ? "inactive" : "active")">
					            <td>
                                @if (!delegation.Pending) {
                                    <img src="@Url.Image("icn-ok.png")" alt="Ja" />
                                } else {
                                    @Html.ActionLink("Aktivera", "Activate",
                                        new { id = delegation.Id }, new { @class = "btn btn-activate" })
                                }
                                </td>
					            <td>@delegation.Name</td>
					            <td class="pats">
                                    @if (!delegation.IsGlobal) {
						            <ul>
                                        @foreach (var patient in delegation.Patients) {
							                <li>
                                                @if (Html.HasPermissionFor(Permissions.Schedule.Read))
                                                {
                                                    @Html.ActionLink(patient.FullName, "List", "Schedule", new { id = patient.Id, Area = "Patient" }, new { @class = "link" })
                                                }
                                                else
                                                {
                                                    @patient.FullName
                                                }
                                            </li>
                                        }
						            </ul>
                                    } else {
                                        @:Alla
                                    }
					            </td>
                                <td>@Html.ActionLink(delegation.CreatedBy.FullName, "List", "Delegation", new { id = delegation.CreatedBy.Id }, new { @class = "link" })</td>
					            <td class="@(delegation.EndDate.Subtract(DateTime.Now).Days < 30 ? "urgent" : "no-worries")">
                                    @String.Format("{0:yyyy-MM-dd}", delegation.StartDate) till @String.Format("{0:yyyy-MM-dd}", delegation.EndDate) <em>(@delegation.EndDate.Subtract(DateTime.Now).Days dagar kvar)</em>
                                </td>
					            <td class="btns">
                                    @Html.ActionLink(Permissions.Delegation.Update, "Ändra", "Edit", new { Id = delegation.Id }, new { @class = "btn lb-link" })
                                    @Html.ActionLink(Permissions.Delegation.Delete, "Ta bort", "Inactivate", new { Id = delegation.Id }, new { @class = "btn btn-del lb-link" })
                                </td>
				            </tr>
                            }
                        </tbody>
                    </table>
                    <div class="tests">
                        @Html.ActionLink(Permissions.Delegation.Create, "Lägg till", "AddKnowledgeTest", new { id = Model.AccountId, taxonId = keyValue.Value.First().Taxon.Parent.Id }, new { @class = "btn lb-link" })
                        @if (Model.KnowledgeTestMap.ContainsKey(keyValue.Key)) {
                            var knowledgeTests = Model.KnowledgeTestMap[keyValue.Key];
                            <h3>Genomgångna kunskapstester</h3>
					        <ul>
                                @foreach (var knowledgetest in knowledgeTests) {
                                    <li class="cf">
                                        <div class="test">
                                            @knowledgetest.Name <span class="date">@String.Format("{0:yyyy-MM-dd}", knowledgetest.CompletedDate)</span>
                                        </div>
                                        @Html.ActionLink(Permissions.Delegation.Delete, "Ta bort", "DeleteKnowledgeTest", new { id = Model.AccountId, knowledgeTestId = knowledgetest.Id }, new { @class = "btn btn-del" })
                                    </li>
                                }
					        </ul>
                        } else {
                            <h3>Kunskapstester</h3>
                        }
				    </div>
                </div>
            }
        </div>
    </div>
</div>
}