@model Appva.Mcss.Admin.Models.UpdateMeasurementModel

<div class="section section--hspace">
    <h2>Ändra observation</h2>
    <div id="add-observation">

        @using (Html.BeginForm("update", "measurement", FormMethod.Post, new { MeasurementId = Model.MeasurementId, @class = "validate", novalidate = "novalidate" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="width-limiter width-limiter--s">
                <div class="form-controls">
                    <p>
                        Använder skala: @Model.SelectedScale
                    </p>

                </div>

                <div class="form-controls">
                    @Html.LabelFor(x => x.Name, new { @class = "required-indicator" })
                    @Html.TextBoxFor(x => x.Name, new { @required = "required" })
                </div>

                <div class="form-controls form-controls--text">
                    @Html.LabelFor(x => x.Instruction)
                    @Html.TextAreaFor(x => x.Instruction, new { @cols = "30", @rows = "5" })
                </div>
                <div class="form-controls form-controls--select">
                    @Html.LabelFor(x => x.SelectDelegationList)
                    @Html.DropDownListFor(x => x.SelectedDelegation, new SelectList(Model.SelectDelegationList, "Value", "Text", Model.SelectedDelegation), "Välj delegation ..", new { @class = "required" })
                </div>

                <div class="form-controls form-controls--align-end form-controls--no-margin">
                    <button type="reset" class="button button--secondary" data-dialog-close="true">Avbryt</button>
                    @Html.Submit("Spara", new { @class = "button button--primary" })
                </div>
            </div>
        }
    </div>
</div>
