@model Appva.Mcss.Admin.Application.Models.ReportData

<div class="data cf">
    <dl>
        <dt>@Localizer["I_tid"]</dt>
        <dd>
            @Model.OnTimePercentage %
            @if (Model.OnTimePercentage > Model.PreviousPeriod.OnTimePercentage)
            {
                <img src="@Url.Image("trendup.png")" alt="@Localizer["Uppåtgående"]" />
            }
            else
            {
                <img src="@Url.Image("trenddn.png")" alt="@Localizer["Nedåtgående"]" />
            }
        ></dd>
    </dl>
    <dl>
        <dt>@Localizer["Ej_i_tid"]</dt>
        <dd>
            @Model.NotOnTimePercentage %
        </dd>
    </dl>
    <dl>
        <dt>@Localizer["Förändring_från_föregående_period"]</dt>
        @{

            var amount = string.Empty;
            var change = Model.OnTimePercentage - Model.PreviousPeriod.OnTimePercentage;
            if (change < 0)
            {
                amount = Localizer["färre_i_tid"].ToString();
            }
            else
            {
                amount = Localizer["fler_i_tid"].ToString();
            }
}
        <dd class="small">@change % @amount</dd>
    </dl>
    <dl>
        <dt>@Localizer["Genomsnittlig_avvikelse_i_tid"]</dt>
        <dd class="small">@TimeSpanDifference.ToReadableText(TimeSpan.FromMinutes(Model.AverageMinutesDelayed))</dd>
    </dl>
    <dl>
        <dt>@Localizer["Andel_signerade_insatser"]</dt>
        <dd class="small">@Model.SignedTaskPercentage %</dd>
    </dl>
    <dl>
        <dt>@Localizer["Totalt_antal_insatser"]</dt>
        <dd class="small">@Model.Total</dd>
    </dl>
</div>

