@model  Appva.Mcss.Admin.Features.Accounts.List.ListAccountModel
@using (Html.BeginForm("List", "Accounts", FormMethod.Get, new { @id = "search" })) {
    <div>
        <label for="searchq">Sök medarbetare:</label> 
        <input type="text" id="searchq" name="q" data-autocomplete-url="@Url.Action("QuickSearch", "Accounts", new { IsFilterByIsActiveEnabled = Model.IsFilterByIsActiveEnabled, IsFilterByIsPausedEnabled = Model.IsFilterByIsPausedEnabled, DelegationFilterId = Model.DelegationFilterId, RoleFilterId = Model.RoleFilterId, IsFilterByCreatedByEnabled = Model.IsFilterByCreatedByEnabled })" placeholder="Namn eller personnummer ..." />
        <input type="hidden" name="isActive" value="@Model.IsFilterByIsActiveEnabled.ToString()" />
        <input type="hidden" name="isPaused" value="@Model.IsFilterByIsPausedEnabled.ToString()" />
        <input type="hidden" name="DelegationFilterId" value="@Model.DelegationFilterId.ToString()" />
        <input type="hidden" name="RoleFilterId" value="@Model.RoleFilterId.ToString()" />
        <input type="hidden" name="filterByCreatedBy" value="@Model.IsFilterByCreatedByEnabled.ToString()" />
    </div>
}
<script type="text/javascript">
$(function() {
    $("input[data-autocomplete-url]").each(function () {
        var self = $(this);
        self.autocomplete({
            'source': self.data('autocomplete-url'),
            'select': function (event, ui) {
                self.val(ui.item.value);
                self.parent().parent().submit();
            }
        });
    });
});
</script>