@using Appva.Mcss.Admin.Application.Common
@model Appva.Mcss.Web.ViewModels.AccountViewModel
           
<div class="people people-item cf">
    @Html.ActionLink(Permissions.Practitioner.Inactivate, "Ta bort", "Inactivate", "Account", new { id = Model.Id }, new { @class = "btn btn-del" })
    @Html.ActionLink(Permissions.Practitioner.Update, "Ändra", "Update", "Accounts", new { id = Model.Id }, new { @class = "btn lb-link" })
    @Html.ActionLink(Permissions.Practitioner.UpdateRoles, "Ändra roller och behörigheter", "UpdateRoles", "Accounts", new { id = Model.Id }, new { @class = "btn lb-link" })
	<div class="h">
    	<h2>@Model.FullName</h2>
    	<span class="pnr">@Model.UniqueIdentifier</span>
    </div>
    <div class="i">
    	<strong>Titel:</strong>
    	<span>@Model.Title</span>
    </div>
    <div class="i">
    	<strong>Chef:</strong>
		<span>@Model.Superior</span>
    </div>
</div>