@model ForgotPassword
@{
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle("Glömt lösenord - {0}", Tenant);
    SetBodyCssClass("page-forgot-password");
}
<div class="hd">
	Glömt lösenord
</div>
<div class="hd org">
    <img src="@Url.Content("~/Assets/i/appva-logo-icon.png")" alt="Appva MCSS" />
	<span>@Tenant</span>
</div>
<div class="bd">
	@using (Html.Post())
    {
        @Html.FormGroup(x => x.Email).Label("E-postadress").TextBox("fornamn.efternamn@organisation.se").Validate().Build()
        @Html.FormGroup(x => x.PersonalIdentityNumber).Label("Personnummer").Password("ÅÅÅÅMMDD-NNNN").Validate().Build()
		<div class="hr"></div>
        @Html.Submit("Skicka återställningslänk",  new { @class = "btn" })
		@Html.ActionLink("Avbryt", "SignIn", null, new { @class = "btn btn-right cancel" })
    }
</div>