@model Appva.Mcss.Admin.Features.Authentication.Forgot.ForgotPassword
@{
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    Title("Glömt lösenord - " + Model.Tenant);
}
<div class="header cf">
    <div id="logo">
        <img src="@Url.Content("~/Assets/i/logo.png")" alt="Appva MCSS" />
    </div>
    <div id="tenant">
        @Model.Tenant
    </div>
</div>
<div class="body">
    <div class="std-form">
        @using (Html.Post())
        {
            @Html.Alert(new {  @class = "success-msg" })
            @Html.ValidationSummary(string.Empty, new { @class = "error-msg" })
            <h2>Glömt lösenord</h2>
            @Html.FormGroup(x => x.Email, "text").Label().TextBox().Build()
            @Html.FormGroup(x => x.UniqueIdentifier, "text").Label().Password().Build()
            <div class="submit">
                @Html.Submit("Skicka")
                @Html.ActionLink("Avbryt", "SignIn", "Authentication", null, new { @class = "cancel" })
            </div>
        }
    </div>
</div>