@model Appva.Mcss.Admin.Models.AddMeasurementValueModel

<div class="section section--hspace">
    <h2>Provtagning</h2>
    <div id="add-observation-value">
        @using (Html.BeginForm("addvalue", "measurement", new { MeasurementId = Model.MeasurementId }, FormMethod.Post, new { @class = "validate", data_update_section_target = "update-table", novalidate = "novalidate" }))
            {
            <div class="width-limiter width-limiter--s">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <h3>@Model.Name</h3>
                <p>Använder skala: @Model.LongScale</p>
                <p>@Model.Instruction</p>

                <div class="form-controls">

                    @if (Model.Scale == "Weight")
                    {
                        @Html.TextBoxFor(x => x.Value, new { min = "5", max = "450", size = "3", required = "required", type = "number" })
                        @Html.LabelFor(x => x.Value, String.Format("{0}", Model.Unit), new { @class = "required-indicator" })
                    }
                    else if (Model.Scale == "Common")
                    {
                        @Html.LabelFor(x => x.Value, String.Format("{0}", Model.Unit), new { @class = "required-indicator" })
                        @Html.TextBoxFor(x => x.Value, new { required = "reguired", type = "text" })
                    }
                    else if (Model.Scale == "Bristol")
                    {
                        @Html.LabelFor(x => x.Value, String.Format("{0}", Model.Unit), new { @class = "required-indicator" })
                        @Html.TextBoxFor(x => x.Value, new { min = "1", max = "7", size = "3", required = "reguired", type = "number" })

                    }
                    @Html.ValidationMessageFor(x => x.Value)
                </div>
                <div class="form-controls form-controls--align-end">
                    <button type="reset" class="button button--secondary" data-dialog-close="true">Avbryt</button>
                    <button type="submit" class="button button--primary">Spara och signera</button>
                </div>
            </div>
        }
    </div>
</div>