@model Appva.Mcss.Admin.Models.AddMeasurementValueModel

<div class="section section--hspace">
    <h2>Provtagning</h2>
    <div id="add-observation-value">

        @using (Html.BeginForm("addvalue", "measurement", new { MeasurementId = Model.MeasurementId }, FormMethod.Post, new { @class = "validate", data_update_section_target = "update-table", aria_controls = "update-table", novalidate = "novalidate" }))
        {
            <div class="width-limiter width-limiter--s">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <h3>@Model.Name</h3>
                <p>@Model.Instruction</p>
                <p>@Model.LongScale</p>

                <div class="form-controls">

                    @if (Model.Scale == "weight")
                    {
                        <span class="numberspinner">
                            <button class="button decrease" tabindex="-1">
                                <span class="visually-hidden">Minska Värde (i kg) <b class="required-indicator">*</b></span>
                                <svg class="icon icon--small icon--w" aria-hidden="true"><use xlink:href="/project/images/icons/icon.sprite.svg#arrow--fat-icon"></use></svg>
                            </button>
                            @Html.TextBoxFor(x => x.Value, new { min = "0", size = "3", required = "required", type = "number" })
                            
                            <button class="button increase" tabindex="-1">
                                <span class="visually-hidden">Öka Värde (i kg) <b class="required-indicator">*</b></span>
                                <svg class="icon icon--small icon--e"><use xlink:href="/project/images/icons/icon.sprite.svg#arrow--fat-icon"></use></svg>
                            </button>
                        </span>
                        @Html.LabelFor(x => x.Unit, new { @class = "required-indicator" })
                    }
                    else if (Model.Scale == "melior")
                    {
                        // visa melior snurra
                    }
                    else if (Model.Scale == "bristol")
                    {
                        // visa bristol snurra
                    }

                    @Html.ValidationMessageFor(x => x.Value)
                </div>
                <div class="form-controls form-controls--align-end">
                    <button type="reset" class="button button--secondary" data-dialog-close="true">Avbryt</button>
                    <button type="submit" class="button button--primary">Spara och signera</button>
                </div>
            </div>
        }

    </div>
</div>