@model Appva.Mcss.Admin.Areas.Backoffice.Models.AddInventoryUnitModel
@{ 
    SetTitle("Ny enhet");
}
<div class="std-panel std-form lb-panel-small lb-validate-form" data-valclass="AddInventoryUnit" >
    @using (Html.Post())
    {
        <h3 class="section-title">Ny enhet</h3>
        @Html.FormGroup(x => x.Name, "text large").Label().TextBox().Validate().Build()
        @Html.LabelFor(x => x.Feature)
        @Html.DropDownListFor(x => x.Feature, Model.SelectField, Model.Feature)
        @Html.FormGroup(x => x.Unit, "text large").Label().TextBox().Validate().Build()
        @Html.FormGroup(x => x.Amounts, "text large").Label().TextArea().Validate().Build()
        <p><b>OBS!</b> Decimaler skrivs med punkt '.' (1.5) och tal separeras med komma-tecken ','</p>
        <div class="submit">
            @Html.Submit("Spara")
	    </div>
    }
</div>