@model Appva.Mcss.Web.ViewModels.DelegationRevisionViewModel
@{
    SetTitle(Localizer["Delegering"].ToString());
    var wasActive = Model.Delegation.Pending == false;
    DateTime startDate = DateTime.Now;
    DateTime endDate = DateTime.Now;
    var patients = string.Empty;
    foreach(var change in Model.ChangeSet.Changes) {
        if (change.Property.Equals("IsActive")) {
            wasActive = (change.NewState.Equals("true")) ? true : false;
        }
        if (change.Property.Equals("StartDate")) {
            startDate = DateTime.Parse(change.NewState);
        }
        if (change.Property.Equals("EndDate")) {
            endDate = DateTime.Parse(change.NewState);
        }
        if(change.Property.Equals("Patients")) {
            patients = change.NewState;
        }
    }
}
@Html.Partial("~/Areas/Practitioner/Features/Accounts/_AccountDetails.cshtml", Model.Account)
@Html.Partial("~/Features/Shared/_SubMenuPartial.cshtml", Model.Account)
<div id="subheader" class="cf">
		<h1>@Localizer["Delegering"] - @String.Format("{0:yyyy-MM-dd} {1:yyyy-MM-dd}", startDate, endDate)</h1>
		@Html.ActionLink(Localizer["Tillbaka"].ToString(), "Revision", new { id = Model.AccountId }, new { @class = "btn" })
</div>
<div id="content">
	<div id="content-primary">
		<div id="signed-events">
			<table>
				<thead>
					<tr class="head">
                        <th scope="col" colspan="2">@Localizer["Delegering"]</th>
					    <th scope="col" class="pats">@Localizer["För_boende"]</th>
                        <th scope="col">@Localizer["Utfärdat_av"]</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
                            @if (wasActive) {
                                <img src="@Url.Image("icn-ok.png")" alt="Ja" />   
                            }
                        </td>
						<td>@Model.Delegation.Name</td>
                        <td>@patients</td>
                        <td>@Model.Delegation.CreatedBy.FullName</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>