@model Appva.Mcss.Admin.Areas.Backoffice.Models.ListDelegationModel
@{
    SetTitle("Admin - Delegering");
}
@Html.Partial("_BackofficeMenuPartial")
<div id="subheader" class="cf">
    <h1>Delegeringar</h1>
    @Html.ActionLink("Ny kategori", "CreateCategory", "Delegation", new { area = "Backoffice" }, new { @class = "lb-link btn" })
    @Html.ActionLink("Orsak vid borttagning av delegering", "DeleteDelegationSettings", "Delegation", new { area = "Backoffice" }, new { @class = "lb-link btn" })
    @Html.ActionLink("Inställningar", "Settings", "Delegation", new { area = "Backoffice" }, new { @class = "lb-link btn" })
</div>

<div id="content" class="cf">
    <div id="content-primary">
        @if (Model.Delegations != null && Model.Delegations.Count > 0)
        {
            foreach (var cat in Model.Delegations)
            {
                if (cat.Value != null && cat.Value.Count > 0)
                {
                    <div id="signlist">
                        <h3 class="header">@cat.Key.Name</h3>
                        @Html.ActionLink("Lägg till delegering", "Create", "Delegation", new { Id = cat.Key.Id }, new { @class = "lb-link add-btn" })
                        <table id="signed-events">
                            <tr class="head">
                                <th class="prpad">Namn</th>
                                <th class="prpad">Beskrivning</th>
                                <th class="prpad">Utställd till</th>
                                <th></th>
                            </tr>
                            @foreach (var del in cat.Value)
                            {
                                <tr class="tr-highlight">
                                    <td class="dlpad dlcell-width">@del.Value.Name</td>
                                    <td class="dlpad dlcell-width">@del.Value.Description</td>
                                    <td class="dlpad active-cell">@del.Key.TotalDelegationsCount medarbetare, <span class="active-color">(@del.Key.ActiveDelegationsCount @(del.Key.ActiveDelegationsCount == 1 ? "aktiv" : "aktiva"))</span></td>
                                    <td class="prtd">@Html.ActionLink("Ändra", "Update", "Delegation", new { id = del.Value.Id }, new { @class = "lb-link btn" })</td>
                                </tr>
                            }
                        </table>
                    </div>
                }
                else
                {
                    <div class="note">
                        <h2>Kategorin innehåller inga delegeringar ännu</h2>
                    </div>
                }
            }
        }
        else
        {
            <div class="note">
                <h2>Det finns inga delegeringar ännu</h2>
            </div>
        }
    </div>
</div>


