@{
	Title("Area 51 - Roller och behörigheter");
}
@Html.Partial("_Area51MenuPartial")
<div id="subheader" class="cf">
	<h1>Roller och behörigheter</h1>
	
	@using (Html.Post("Install", "Acl", null))
	{
		@Html.Submit("Installera roller och behörigheter", new { @class = "btn" })
	}
	@using (Html.Post("Activate", "Acl", null))
	{
		@Html.Submit("Aktivera roller och behörigheter", new { @class = "btn" })
	}
    @using (Html.Post("UpgradePermissionNamesAndAddNew", "Acl", null))
	{
		@Html.Submit("Upgradera roller och behörigheter (enbart en gång)", new { @class = "btn" })
	}
    @using (Html.Post("UpdatePermissions", "Acl", null))
    {
        @Html.Submit("Upgradera behörigheter", new { @class = "btn" })
    }
</div>
<div id="content" class="cf">
	<div id="content-primary">
		@Html.Alert()
	</div>
</div>