@model Appva.Mcss.Web.ViewModels.AlertOverviewViewModel
@using Appva.Mcss.Admin.Application.Common;
<div>
	<div class="heading cf">
        <h2>@Localizer["Pågående_insatser"]</h2>
        <p class="filter">
            @Html.ActionLink(string.Format("{0} ({1})",Localizer["Pågående_insatser"],Model.CountNotSigned), "Overview", new { status = "notsigned" }, new { @class = "div" + (Request["status"] == "notsigned" || Request["status"] == null ? " sel":"") })
            @Html.ActionLink(string.Format("{0} ({1})",Localizer["Försenade"],Model.CountAll), "Overview", new { status = "all" }, new { @class = "div" + (Request["status"] == "all" ? " sel" : "") })
        </p>
    </div>
	<div class="panel-c">
		@if (Model.Patients.Count == 0) {
            <div class="no-data">
                <h3>@Localizer["Inga_försenade_insatser_just_nu"]</h3>
            </div>
        } else {
            <table>
		    	<thead>
		    		<tr>
		    			<th scope="col">@Localizer["Boende"]</th>
		    			<th scope="col">@Localizer["Adress"]</th>
		    			<th scope="col">@Localizer["Ansvarig"]</th>
		    			<th scope="col">@Localizer["Larm"]</th>
		    		</tr>
		    	</thead>
		    	<tbody>
                    @foreach (var patient in Model.Patients) {
		    		<tr class="alarm">
		    			<td>
                            @if (Html.HasPermissionFor(Permissions.Schedule.Read))
                            {
                                @Html.ActionLink(patient.FullName, "List", "Schedule", new { id = patient.Id }, null)
                            }
                            else if (Html.HasPermissionFor(Permissions.Schedule.EventList))
                            {
                                @Html.ActionLink(patient.FullName, "Sign", "Schedule", new { id = patient.Id }, null)
                            }
                            else if (Html.HasPermissionFor(Permissions.Alert.Read))
                            {
                                @Html.ActionLink(patient.FullName, "List", "Alerts", new { id = patient.Id }, null)
                            }
                            else if (Html.HasPermissionFor(Permissions.Schedule.Report))
                            {
                                @Html.ActionLink(patient.FullName, "ScheduleReport", "Schedule", new { id = patient.Id }, null)
                            }
                            else if (Html.HasPermissionFor(Permissions.Calendar.Read))
                            {
                                @Html.ActionLink(patient.FullName, "List", "Calendar", new { id = patient.Id }, null)
                            }
                            else if (Html.HasPermissionFor(Permissions.Inventory.Read))
                            {
                                @Html.ActionLink(patient.FullName, "List", "Inventory", new { id = patient.Id }, null)
                            }
                            else
                            {
                                @patient.FullName
                            }
                        </td>
		    			<td>@patient.Address</td>
		    			<td>@patient.Overseeing</td>
		    			<td>@Html.ActionLink(Permissions.Alert.Read, Localizer["Larm"].ToString(), "List", "Alerts", new { id = patient.Id }, new { @class = "larm" })</td>
		    		</tr>
                    }
		    	</tbody>
		    </table>
        }
	</div>
    <script>
        $('div.heading p.filter a').click(function (e) {
            e.stopPropagation();
            e.preventDefault();
            var elem = $(this);
            elem.parent().find('.sel').removeClass('sel');
            elem.addClass("sel");
            elem.parent().parent().parent().find('.panel-c').append('<div class="loading"><img src="@Url.Image("ajax-load.gif")" alt="Laddar" /></div>');
            elem.parent().parent().parent().find('.panel-c').load(elem.attr('href') + " .panel-c table");
        });
    </script>
</div>
