@model CreatePatient
@{ 
    Title("Ny boende");
}
<div class="std-panel std-form lb-panel-small lb-validate-form" data-valclass="PatientCreate" data-valparams="uidUrl=@Url.Action("VerifyUniquePatient");taxonUrl=@Url.Action("VerifyTaxon", "Taxa", new { Area = string.Empty })">
    @using (Html.Post())
    {
        if (Model.Assessments.IsNotNull())
        { 
            <div class="row form-tabgroup lb-nav cf">
			    <ul class="nav cf">
                    <li class="sel">
                        <a class="rleft" href="#" data-formtab="form-tab-1">Personuppgifter</a>
                    </li>
                    <li>
                        <a class="rright" href="#" data-formtab="form-tab-2">Profiluppgifter</a>
                    </li>
                </ul>
		    </div>
        }
        <div class="form-tab form-tab-1">
            <h3 class="section-title">Ny boende</h3>
            @Html.FormGroup(x => x.FirstName, "text large").Label().TextBox().Validate().Build()
            @Html.FormGroup(x => x.LastName, "text large").Label().TextBox().Validate().Build()
            @Html.FormGroup(x => x.PersonalIdentityNumber, "text").Label().TextBox().Validate().Build()
            @if (Model.HasAlternativeIdentifier)
            {
                @Html.FormGroup(x => x.Tag, "text small").Label().TextBox().Validate().Build()
            }
	        <div class="select selectgroup cf">
		        <strong>Adress:</strong>
                @if (Model.Taxons.IsNotNull())
                {
                    foreach (var taxon in Model.Taxons)
                    {
                        <div class="select">
                            <label class="structural">@taxon.Label</label>
                            @Html.DropDownList(taxon.Id,
                                new SelectList(taxon.Taxons, "Value", "Text", taxon.Selected),
                                string.Format("Välj {0}...", taxon.OptionLabel),
                                new { @class = "dropdown" }
                            )
                        </div>
                    }
                }
                @Html.HiddenFor(m => m.Taxon)
                @Html.ValidationMessageFor(m => m.Taxon)
	        </div>
        </div>
        if (Model.Assessments.IsNotNull())
        { 
            <div class="form-tab form-tab-2">
                <h3 class="section-title">Profiluppgifter</h3>
                @Html.FormGroup(x => x.Assessments).CheckboxList(new { @class = "health-attr" }).Validate().Build()
            </div>
        }
        <div class="submit">
            @Html.Submit("Spara")
            @Html.Cancel("Avbryt")
	    </div>
    }
</div>