@using System.Data;
@model Appva.Mcss.Admin.Models.ImportPractitionerModel
@{
    SetTitle("Importera medarbetare");
}
<div id="subheader" class="cf">
    <h1>Importera medarbetare</h1>
</div>
<div id="content" class="log cf">
    <div id="fileimport">
        @if (Model.Data != null)
        {
            <div id="fileinfo">
                <h3>Filinformation</h3>
                <table class="device-table fileinfo">
                    <tr>
                        <td>Filnamn</td>
                        <td><b>@(Model.Name)</b></td>
                    </tr>
                    <tr>
                        <td>Titel</td>
                        <td>@Model.Title</td>
                    </tr>
                    <tr>
                        <td>Beskrivning</td>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <td>Filstorlek</td>
                        <td>@Model.Size</td>
                    </tr>
                </table>
            </div>
            if (Model.Data.Rows.Count - 1 > 0)
            {
                using (Html.BeginForm())
                {
                    <div id="importinfo">
                        <h3>Inställningar</h3>
                        <table class="device-table fileinfo">
                            <tr>
                                <td>Roller utan HSA-id<span>Läses in om HSA-id saknas.</span></td>
                                <td>@Html.TextBoxFor(x => x.IncludedRolesWithoutHsaId, new { placeholder = "T.ex. undersköterska...", @Value = "Undersköterska" })</td>
                            </tr>
                            <tr>
                                <td>Exkludera roller<span>Roller inläses ej.</span></td>
                                <td>@Html.TextBoxFor(x => x.ExcludedRoles, new { placeholder = "T.ex. enhetschef, arbetsterapeut..." })</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @Html.HiddenFor(x => x.FileId)
                                    @Html.HiddenFor(x => x.ValidateAtRow)
                                    @Html.HiddenFor(x => x.ReadFromRow)
                                    @Html.AntiForgeryToken()
                                    @Html.Submit("Importera")
                                </td>
                            </tr>
                        </table>
                    </div>
                }
            }
            <div style="clear:both"></div>
            <h3>Förhandsgranskning</h3>
            <table class="device-table">
                <thead>
                    <tr class="head">
                        <th style="background:#777;text-align:center">@(Model.ValidateAtRow + 1)</th>
                        @if (Model.Data.Rows.Count > 0)
                        {
                            for (int i = 0; i < Model.Data.Columns.Count; i++)
                            {
                                <th>@Model.Data.Rows[0][Model.Data.Columns[i]]</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Rows.Count > 1)
                    {
                        int i = 0;
                        foreach (DataRow row in Model.Data.Rows)
                        {
                            if (i > 0)
                            {
                                <tr>
                                    <td>@(Model.ReadFromRow + i)</td>
                                    @foreach (DataColumn column in Model.Data.Columns)
                                    {
                                        <td>@row[column].ToString()</td>
                                    }
                                </tr>
                            }
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="emptyrow" colspan="@(Model.Data.Columns.Count + 1)">Filen innehåller inga rader.</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>Det gick inte att öppna filen.</h3>
        }
    </div>
</div>