@model Appva.Mcss.Admin.Areas.Practitioner.Models.PrintUserCredentialsModel
@{
    SetTitle(Localizer["Inloggningsuppgifter"].ToString());
    Layout = "~/Areas/Patient/Features/Shared/_PrintLayout.cshtml";
}

<div class="print-user-credentials">
    <h2><img src="@Url.Content("~/Assets/i/appva-logo-icon.png")" alt="Appva MCSS" />Hi, @Model.UserFullName</h2>
    <p>You have been granted access to complete tasks in MCSS. To login to the app please use the following credentials:</p>
    <div class="credentials">
        <table>
            <tr>
                <td class="label">@Localizer["User-id"]</td>
                <td>@Model.UserId</td>
            </tr>
            <tr>
                <td class="label">@Localizer["Pin"]</td>
                <td>@Model.Password</td>
            </tr>
        </table>
    </div>
    <div class="info">
        <h4>Need support?</h4>
        <p>Please use https://support.appva.jp to get in touch with us.</p>
    </div>
</div>