@model UpdateRolesForm
@{ SetTitle(Localizer["Ändra_roll"].ToString()); }
<div class="std-panel std-form lb-panel-small lb-validate-form">
    @using (Html.BeginForm())
    {
        <div class="form-tab form-tab-1">
            <h3 class="section-title">@Localizer["Ändra_roll"]</h3>
            <div class="text">
                @Html.CheckBoxListFor(x => x.SelectedRoles, Model.Roles)
            </div>
        </div>
        <div class="submit">
            @Html.AntiForgeryToken()
            @Html.Submit(Localizer["Spara"].ToString())
            @Html.Cancel(Localizer["Avbryt"].ToString())
        </div>
    }
</div>
