@model Appva.Mcss.Admin.Models.UploadTenaObserverPeriodModel
@{
    SetTitle("Ladda upp mätvärden");
}

<div class="width-limiter width-limiter--m">
    <div class="section section--hspace section--vspace">
        <div id="remote-response">
            <div class="alert-message alert-message--@Model.Type">
                <h2 class="alert-message__heading h3">
                    <svg class="icon icon--round icon--warning" aria-hidden="true">
                        <use xlink:href="/project/images/icons/icon.sprite.svg#@Model.Icon-icon" />
                    </svg>
                    @Model.Title
                </h2>
            </div>
            <form action="@Url.Action("list","tena")" class="validate">
                <p>@Model.Message</p>
                <h3>Period</h3>
                <dl class="key-value-grid">
                    <dt>Från</dt>
                    <dd>@Model.Period.StartDate.ToShortDateString()</dd>
                    <dt>Till</dt>
                    <dd>@Model.Period.EndDate.ToShortDateString()</dd>
                </dl>
                <div class="form-controls form-controls--align-end form-controls--no-margin">
                    <a href="@Url.Action("list", "tena")" class="button" data-dialog-close="true">Ok</a>
                </div>
            </form>
        </div>
    </div>
</div>