@using System.Data;
@model Appva.Mcss.Admin.Models.ImportPractitionerModel
@{
    SetTitle("Importera medarbetare");
}
<div id="subheader" class="cf">
    <h1>Importera medarbetare</h1>
</div>
<div id="content" class="log cf">
    <div>
        @if (Model.Data != null)
        {
            <table class="device-table">
                <tr>
                    <td style="width:100px">Filnamn</td>
                    <td><b>@(Model.Name)</b></td>
                </tr>
                <tr>
                    <td>Titel</td>
                    <td>@Model.Title</td>
                </tr>
                <tr>
                    <td>Beskrivning</td>
                    <td>@Model.Description</td>
                </tr>
                <tr>
                    <td>Filstorlek</td>
                    <td>@Model.Size</td>
                </tr>
                <tr>
                    <td>Antal rader</td>
                    <td>@Model.RowCount</td>
                </tr>
            </table>
            <h3>Förhandsgranskning</h3>
            <table class="device-table">
                <thead>
                    <tr class="head">
                        <th style="background:#777;text-align:center">@Model.ValidateAtRow</th>
                        @if (Model.Data.Rows.Count > 0)
                        {
                            for (int i = 0; i < Model.Data.Columns.Count; i++)
                            {
                                <th>@Model.Data.Rows[0][Model.Data.Columns[i]]</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Data.Rows.Count > 1)
                    {
                        int i = 0;
                        foreach (DataRow row in Model.Data.Rows)
                        {
                            if (i > 0)
                            {
                                <tr>
                                    <td style="background:#eee;text-align:center">@(Model.ReadFromRow + i)</td>
                                    @foreach (DataColumn column in Model.Data.Columns)
                                    {
                                        <td>@row[column].ToString()</td>
                                    }
                                </tr>
                            }
                            if (i > 2)
                            {
                                break;
                            }
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="@(Model.Data.Columns.Count + 1)" style="text-align:center;padding:12px 0;color:#aaa">Filen innehåller inga rader.</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>Det gick inte att öppna filen.</h3>
        }
    </div>
</div>