@using Appva.Mcss.Admin.Configuration;
<!DOCTYPE html>
<!--[if IE 8]><html class="ie8"> <![endif]-->
<!--[if IE 9]><html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie">
<!--<![endif]-->
<head>
    <title>@Title - Appva MCSS</title>
    @Html.Partial("_Meta")
    @Styles.Render("~/Assets/css/auth")
</head>
<body class="page page-dark-theme @BodyCssClass">
    @RenderSection("nav", false)
    <div class="container">
        @RenderBody()
    </div>
    <div class="version">
        Appva MCSS version @Application.Version
    </div>
</body>
@RenderSection("javascript", false)
</html>