@using Microsoft.AspNet.Identity
<div id="logged-info">
    <div id="nav-main">
        <ul class="cf">
            <li>@Html.CreateSupportLink("http://support.appva.se")</li>
            <li>
                <a class="profile">@User.Identity.Name</a>
                <div class="profile">
                    <p>
                        <span class="label">Inloggad som:</span>
                        @User.Identity.Name
                    </p>
                    <ul>
                        @if (! Principal.Claims.Any(x => x.Type == Appva.Core.Resources.ClaimTypes.SithsEnabled && x.Value == "Y"))
                        {
                        <li>
                            @Html.ActionLink("Byt lösenord", "ChangePassword", "Accounts", new { Area = "Practitioner" }, new { @class = "change-password" })
                        </li>
                        }
                        
                        <li>
                            @Html.ActionLink("Logga ut", "SignOut", "Authentication", new { Area = string.Empty }, new { @class = "logout" })
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    $('li a.profile').click(function (e) {
        $(this).toggleClass('focus');
        e.stopPropagation();
    });
    $(document).click(function (e) {
        $('li a.profile').toggleClass('focus');
    });
</script>
