@{
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle(Localizer["Kontrollera_din_e_post"].ToString());
    SetBodyCssClass("page-forgot-password");
}
<div class="hd">
    @Localizer["Kontrollera_din_e_post"]
</div>
<div class="hd org">
    <img src="@Url.Content("~/Assets/i/appva-logo-icon.png")" alt="Appva MCSS" />
	<span>@Tenant</span>
</div>
<div class="bd">
    @string.Format(Localizer["Vi_har_skickat_ett_e_post_till__0____Klicka_på_länken_i_e_post_för_att_återställa_ditt_lösenord"].ToString(), @TempData["EmailAddress"])
    @Localizer["Om_du_inte_hittar_e_post__kontrollera_andra_platser_där_det_kan_hamnat_så_som_din_mapp_för_skräppost_spam_eller_andra_mappar"]
    <div class="hr"></div>
	@Html.ActionLink(Localizer["Logga_in"].ToString(), "SignIn", "Authentication", null, new { @class = "btn" })
    @Html.ActionLink(Localizer["Jag_fick_inte_något_e_postmeddelande"].ToString(), "Forgot", "Account", null, new { @class = "btn btn-right forgot" })
</div>