@{
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle(Localizer["Tillfälligt_spärrat_konto"].ToString());
}
<div class="hd">
	@Localizer["Tillfälligt_spärrat_konto"]
</div>
<div class="hd org">
    <img src="@Url.Content("~/Assets/i/appva-logo-icon.png")" alt="Appva MCSS" />
	<span>@Tenant</span>
</div>
<div class="bd">
    <span class="alert-danger">
        @Localizer["Ditt_konto_har_tillfälligt_blivit_spärrat_efter_upprepade_misslyckade_försök_att_logga_in__var_vänlig_försök_igen_senare"]
    </span>
    <div class="hr"></div>
    @Html.ActionLink(Localizer["Tillbaka_till_inloggning"].ToString(), "SignIn", "Authentication", null, new { @class = "btn" })
    @Html.ActionLink(Localizer["Glömt_lösenord_"].ToString(), "Forgot", "Account", null, new { @class = "btn btn-right forgot" })
</div>