@{
    Layout = "~/Features/Shared/_LoginLayout.cshtml";
    SetTitle(Localizer["Utgången_återställningslänk"].ToString());
    SetBodyCssClass("page-reset-password");
}
<div class="hd">
    @Localizer["Utgången_återställningslänk"]
</div>
<div class="hd profile">
    <img src="@Url.Content("~/Assets/i/profile-icon.png")" />
</div>
<div class="bd">
    <span class="alert-danger">
        @Localizer["Återställningslänken_har_gått_ut__vänligen_begär_en_ny"]
    </span>
    <div class="hr"></div>
    @Html.ActionLink(Localizer["Logga_in"].ToString(), "SignIn", "Authentication", null, new { @class = "btn" })
    @Html.ActionLink(Localizer["Skicka_ny_återställningslänk"].ToString(), "Forgot", "Account", null, new { @class = "btn btn-right forgot" })
</div>