<div class="people-nav">
    <ul class="nav cf">
        <li>@Html.ActionLink("Inställningar", "List", "Settings")</li>
        <li>@Html.ActionLink("Roller och behörigheter", "Index", "Acl")</li>
        <li>@Html.ActionLink("Cache", "List", "Cache")</li>
        <li>@Html.ActionLink("Cookie", "AboutMe", "Area51")</li>
        <li>@Html.ActionLink("Installera JWT", "Index", "Token")</li>
        <li>@Html.ActionLink("Notifieringar", "Index", "Notifications")</li>
        <li>@Html.ActionLink("Kalender", "Index", "Calendar")</li>
        <li>@Html.ActionLink("Taxons", "Index", "Taxon")</li>
        <li>@Html.ActionLink("Saldo", "List", "Inventory")</li>
        <li>@Html.ActionLink("Loggning", "Index", "Audit")</li>
        <li>@Html.ActionLink("LDAP", "Index", "Ldap")</li>
    </ul>
</div>
