<div class="people-nav">
    <ul class="nav cf">
        <li>@Html.ActionLink("Inställningar", "List", "Settings")</li>
        <li>@Html.ActionLink("Roller och behörigheter", "Index", "Acl")</li>
        <li>@Html.ActionLink("Cache", "List", "Cache")</li>
        <li>@Html.ActionLink("Cookie", "AboutMe", "Area51")</li>
        <li>@Html.ActionLink("Installera JWT", "Index", "Token")</li>
        <li>@Html.ActionLink("Notifieringar", "ListTemplates", "Notifications")</li>
        <!--li>@Html.ActionLink("Taxons", "Index", "Taxon")</li-->
        <li>@Html.ActionLink("Saldo", "Index", "Inventory")</li>
        <li>@Html.ActionLink("Delegering", "Index", "Delegation", new { area = "Area51" }, new { })</li>
        <li>@Html.ActionLink("Loggning", "Index", "Audit")</li>
        <li>@Html.ActionLink("LDAP", "Find", "Ldap")</li>
        <li>@Html.ActionLink("Användare", "ListDuplicates", "Account")</li>
        <li>@Html.ActionLink("Sequences", "ListCorruptSequences", "Sequence")</li>
        <li>@Html.ActionLink("Beställningslista", "List", "Article")</li>
    </ul>
</div>
