@using Appva.Mcss.Admin.Application.Common
@model Appva.Mcss.Web.ViewModels.PatientViewModel       
<div class="people people-item cf">
	<div class="h">
    	<h2>
            @Model.FullName
            @if (Model.SeniorAlerts.IsNotNull())
            {
                foreach (var sa in Model.SeniorAlerts)
                { 
                    <img src="@String.Format("/Assets/i/{0}", sa.Type)" alt="Senior alert" title="@sa.Name"/>
                }
            }
    	</h2>
    	<span class="pnr">@Model.UniqueIdentifier</span>
    </div>
    @Html.ActionLink(Permissions.Patient.Inactivate, Localizer["Ta_bort"].ToString(), "Inactivate", "Patient", new { id = Model.Id }, new { @class = "btn btn-del" })
    @Html.ActionLink(Permissions.Patient.Update, Localizer["Ändra_boendeuppgifter"].ToString(), "Update", "Patient", new { id = Model.Id }, new { @class = "btn lb-link" })
    @if (Model.Address.IsNotNull())
    { 
        <div class="i">
    	    <strong>@Localizer["Adress_"]</strong>
    	    <span>@Model.Address</span>
        </div>
    }
    @if (Model.FirstLineContact.IsNotNull())
    { 
        <div class="i">
    	    <strong>@Localizer["Ansvarig_kontaktperson_"]</strong>
            @Model.FirstLineContact
        </div>
    }
    @if (Model.Overseeing.IsNotNull())
    { 
        <div class="i">
    	    <strong>@Localizer["Ansvarig_sjuksköterska_"]</strong>
            @Model.Overseeing
	    </div>
    }
</div>